@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: 310px;
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

.heading {
  font-size: 38px;
  line-height: 50px;
  font-weight: normal;
  font-family: Roboto Slab;
}

@media (max-width: 1199px) {
  .heading {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 20px;
    line-height: 24px;
  }
}

.heading-mini {
  font-size: 25px;
  line-height: 29px;
  font-weight: normal;
  font-family: Roboto Slab;
}

@media (max-width: 1199px) {
  .heading-mini {
    font-size: 23px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .heading-mini {
    font-size: 18px;
    line-height: 21px;
  }
}

.button {
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 575px) {
  .button {
    font-size: 14px;
    line-height: 16px;
  }
}

.b-main {
  background: url(../img/main_back.png) no-repeat center;
  background-size: cover;
}

.b-main .container {
  padding: 140px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .b-main .container {
    padding: 45px 0;
  }
}

@media (max-width: 575px) {
  .b-main .container {
    padding: 30px 0;
  }
}

.b-main__heading-mini {
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.b-main__heading {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px 0 20px;
}

@media (max-width: 575px) {
  .b-main__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

.b-main__text {
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.b-main__link {
  text-align: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  width: 243px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

@media (max-width: 575px) {
  .b-main__link {
    width: 153px;
    height: 34px;
  }
}

.b-wrapper {
  background: url(../img/wrapper1.png) center no-repeat;
  background-size: cover;
}

.b-features .container {
  padding: 70px 0 20px;
}

@media (max-width: 1199px) {
  .b-features .container {
    padding: 40px 0 15px;
  }
}

@media (max-width: 575px) {
  .b-features .container {
    padding: 30px 0 15px;
  }
}

.b-features__heading {
  margin-bottom: 40px;
  text-align: center;
  font-family: Roboto Slab;
  color: #223333;
}

.b-features__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .b-features__card-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  margin-bottom: 30px;
}

.b-features__img {
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .b-features__img {
    width: 64px;
    height: 66px;
  }
}

.b-features__card-text {
  text-align: center;
  color: #000000;
}

.b-authors .container {
  padding: 50px 0 80px;
}

@media (max-width: 1199px) {
  .b-authors .container {
    padding: 45px 0;
  }
}

@media (max-width: 575px) {
  .b-authors .container {
    padding: 15px 0 30px;
  }
}

.b-authors__heading {
  font-family: Roboto Slab;
  text-align: center;
  color: #223333;
  margin-bottom: 40px;
}

.b-authors__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 822px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .b-authors__card-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-authors__card-wrapper {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 360px;
  height: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .b-authors__card-wrapper {
    width: 273px;
    height: 342px;
  }
}

@media (max-width: 767px) {
  .b-authors__card-wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
}

.b-authors__card,
.b-authors__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.b-authors__card-wrapper:hover .b-authors__card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.b-authors__card-wrapper:hover .b-authors__card-back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.b-authors__card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.b-authors__card-wrapper:hover .b-authors__description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-authors__card {
  position: relative;
}

.b-authors__img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 333px;
  height: 402px;
  background: #C4C4C4;
  border-radius: 18px;
}

@media (max-width: 991px) {
  .b-authors__img {
    width: 220px;
    height: 265px;
  }
}

.b-authors__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 288px;
  height: 437px;
  background: linear-gradient(121.39deg, #FF5C00 6.27%, #FF7A00 127.61%);
  border-radius: 18px;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  padding: 14px 21px 14px 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  .b-authors__description {
    width: 241px;
    height: 325px;
    padding: 10px 20px 10px 20px;
  }
}

.b-authors__description hr {
  margin: 10px 0;
  width: 100%;
}

.b-authors__name {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 4px;
  font-family: Roboto Slab;
}

@media (max-width: 991px) {
  .b-authors__name {
    font-size: 16px;
    line-height: 21px;
  }
}

.b-authors__regalia {
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 991px) {
  .b-authors__regalia {
    font-size: 14px;
    line-height: 16px;
  }
}

.b-what {
  background: url(../img/what_back.png) top no-repeat;
  background-size: cover;
  margin-top: -139px;
}

@media (max-width: 1199px) {
  .b-what {
    margin-top: 0;
    background: #F9F9FB;
  }
}

.b-what .container {
  padding: 175px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .b-what .container {
    padding: 45px 0;
  }
}

@media (max-width: 575px) {
  .b-what .container {
    padding: 30px 0;
  }
}

.b-what__heading {
  text-align: center;
  margin-bottom: 40px;
  color: #223333;
}

.b-what__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .b-what__card-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-what__card {
  width: 370px;
  height: 282px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 6px rgba(232, 231, 237, 0.96);
          box-shadow: 0px 1px 6px rgba(232, 231, 237, 0.96);
  border-radius: 18px;
  padding: 40px 24px 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .b-what__card {
    padding: 17px 27px;
    width: 310px;
    height: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-what__card-text {
  text-align: center;
  color: #000000;
  margin-top: 40px;
}

.b-what__text {
  font-family: Roboto Slab;
  text-align: center;
  color: #000000;
  margin: 30px 0;
}

@media (max-width: 575px) {
  .b-what__text {
    margin: 0 0 30px 0;
  }
}

.b-what__link {
  text-align: center;
  color: #FFFFFF;
  width: 243px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(94.83deg, #AFDF24 2.6%, #749C02 116.49%);
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

@media (max-width: 575px) {
  .b-what__link {
    width: 153px;
    height: 34px;
  }
}

.b-what__link:hover {
  -webkit-filter: drop-shadow(0px 4px 9px rgba(116, 156, 2, 0.47));
          filter: drop-shadow(0px 4px 9px rgba(116, 156, 2, 0.47));
}

.b-program .container {
  padding: 60px 0;
}

@media (max-width: 1199px) {
  .b-program .container {
    padding: 30px 0;
  }
}

.b-program__heading {
  margin-bottom: 45px;
  text-align: center;
}

.b-program__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .b-program__description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .b-program__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-program__description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .b-program__description-box {
    margin-bottom: 17px;
  }
}

.b-program__description-quanity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 15px;
  background: linear-gradient(121.39deg, #FF5C00 6.27%, #FF7A00 127.61%);
}

@media (max-width: 1199px) {
  .b-program__description-quanity {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 575px) {
  .b-program__description-quanity {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 424px) {
  .b-program__description-quanity {
    margin-right: 10px;
  }
}

.b-program__description-text {
  margin-right: 15px;
}

@media (max-width: 575px) {
  .b-program__description-text {
    max-width: 256px;
    margin-right: 0;
  }
}

.b-program__text-block {
  text-align: center;
  padding-top: 26px;
}

@media (max-width: 575px) {
  .b-program__text-block {
    padding-top: 0;
  }
}

.b-program__details {
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .b-program__details {
    padding: 15px 0;
  }
}

.b-program__details span {
  font-family: Roboto Slab;
  font-weight: 900;
  font-size: 85px;
  line-height: 70px;
  color: rgba(34, 51, 51, 0.09);
  margin-right: -20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.b-program__details:not(:last-child) {
  border-bottom: 1px solid #223333;
}

.b-program__details[open] span {
  margin-right: 13px;
  color: #FF5C00;
}

.b-program__details[open] .b-program__summary {
  color: #FF5C00;
}

.b-program__details[open] .b-program__summary ~ * {
  -webkit-animation: sweep 0.5s ease-in-out;
          animation: sweep 0.5s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 20em;
  }
}

@keyframes sweep {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 20em;
  }
}

.b-program__summary {
  position: relative;
}

.b-program__summary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-right: 40px;
}

.b-program__text {
  padding-top: 26px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .b-program__text {
    padding-top: 0;
  }
}

/* Добавляем собственный маркер для закрытого состояния */
.b-program__details .b-program__summary::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background: url(../img/+.svg) center no-repeat;
  cursor: pointer;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/* Добавляем собственный маркер для открытого состояния */
.b-program__details[open] .b-program__summary::after {
  content: '';
  background: url(../img/x.svg) center no-repeat;
  cursor: pointer;
}

.b-program__ul {
  padding-left: 20px;
}

.b-program__link {
  margin-top: 60px;
}

.b-program__button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}

.b-price {
  background: url(../img/price.png) no-repeat center;
  background-size: cover;
  padding: 120px 0;
}

@media (max-width: 1199px) {
  .b-price {
    padding: 45px 0;
  }
}

@media (max-width: 767px) {
  .b-price {
    padding: 36px 0;
  }
}

.b-price .container {
  background: linear-gradient(96.67deg, rgba(255, 255, 255, 0.24) -2.37%, rgba(255, 255, 255, 0.04) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 15px;
}

.b-price__bcg {
  height: 100%;
  width: 100%;
  padding: 40px 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1199px) {
  .b-price__bcg {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .b-price__bcg {
    padding: 20px;
  }
}

.b-price__heading {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.b-price__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
}

@media (max-width: 1199px) {
  .b-price__price-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 575px) {
  .b-price__price-box {
    height: unset;
  }
}

.b-price__price {
  font-weight: bold;
  font-size: 55px;
  line-height: 50px;
  text-align: left;
  color: #FFFFFF;
  height: 100%;
}

.b-price__price span {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: line-through;
}

@media (max-width: 1199px) {
  .b-price__price {
    font-size: 40px;
    line-height: 48px;
  }
}

.b-price__timer-box {
  height: 100%;
}

.b-price__timer-text {
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .b-price__timer-text {
    text-align: center;
  }
}

.b-price__timer {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 35px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

.b-price__timer-numeral {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
}

.b-price__text {
  color: #FFFFFF;
  text-align: center;
  margin: 36px 0;
}

@media (max-width: 424px) {
  .b-price__text {
    max-width: 290px;
  }
}

.b-price__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 991px) {
  .b-price__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  .b-what__link_m {
    margin-bottom: 20px;
  }
}

.b-price__link {
  color: #FFFFFF;
  text-decoration: underline;
}

.b-price__link:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
          filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
}

.b-price__link_2 {
  color: #FFFFFF;
  margin-left: 23px;
  text-decoration: underline;
}

@media (max-width: 424px) {
  .b-price__link_2 {
    margin-left: 10px;
  }
}

.b-sertificate .container {
  padding: 70px 0;
}

@media (max-width: 575px) {
  .b-sertificate .container {
    padding: 30px 0;
  }
}

.b-sertificate__text {
  text-align: center;
  color: #223333;
}

.b-sertificate__heading {
  text-align: center;
  color: #223333;
  margin-bottom: 90px;
}

@media (max-width: 1199px) {
  .b-sertificate__heading {
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .b-sertificate__heading {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.b-sertificate__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(135, 135, 135, 0.25));
          filter: drop-shadow(0px 4px 24px rgba(135, 135, 135, 0.25));
}

.b-pop-up {
  padding: 29px 22px 44px;
  background: #F2F2F2;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  width: 434px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

@media (max-width: 575px) {
  .b-pop-up {
    width: 310px;
    padding: 20px 20px 20px;
  }
}

.b-pop-up__close {
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-pop-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-pop-up__text {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.b-pop-up__input {
  width: 338px;
  height: 44px;
  padding: 0 26px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .b-pop-up__input {
    width: 280px;
    padding: 0 15px;
  }
}

.b-pop-up__submit {
  width: 200.91px;
  height: 52px;
  color: #FFFFFF;
  background: #E40000;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

@media (max-width: 575px) {
  .b-pop-up__submit {
    width: 150px;
    height: 44px;
  }
}

.b-pop-up__submit:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
          filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
}
/*# sourceMappingURL=style.css.map */