* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 310px;
  }
}

.b-header {
  background: url(../img/bacground.png) top center no-repeat;
  background-size: cover;
  height: 855px;
  color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 992px) {
  .b-header {
    height: 1024px;
  }
}

@media (max-width: 768px) {
  .b-header {
    background: url(../img/bacground_768.png) top center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 576px) {
  .b-header {
    height: 376px;
  }
}

@media (max-width: 376px) {
  .b-header {
    background: url(../img/bacground_376.png) top center no-repeat;
    background-size: cover;
  }
}

.b-header__links-box {
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 576px) {
  .b-header__links-box {
    padding-top: 14px;
  }
}

.b-header__links {
  width: 647px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .b-header__links {
    display: none;
  }
}

.b-header__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #F2F2F2;
}

.b-header__burger {
  display: none;
  border: none;
  background: none;
}

@media (max-width: 992px) {
  .b-header__burger {
    display: block;
  }
}

.b-header__burger-menu {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 11px 3px rgba(198, 198, 198, 0.15);
          box-shadow: 0px 1px 11px 3px rgba(198, 198, 198, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 15px;
  top: 80px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 166px;
}

.b-header__link-burger {
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  color: #1B1C20;
}

.b-header__link:hover {
  font-weight: 500;
  color: #6C8DFF;
}

.b-header__language {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #F2F2F2;
}

.b-header__language i {
  font-size: 10px;
  padding-left: 5px;
}

.b-header__language:hover {
  font-weight: 500;
  color: #6C8DFF;
}

.b-header__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-header__frontend-box {
  width: 625px;
  padding-top: 300px;
}

@media (max-width: 576px) {
  .b-header__frontend-box {
    padding-top: 76px;
  }
}

.b-header__frontend-box svg {
  padding-left: 313px;
}

@media (max-width: 992px) {
  .b-header__frontend-box svg {
    padding-left: 225px;
  }
}

@media (max-width: 767px) {
  .b-header__frontend-box svg {
    padding-left: 145px;
  }
}

@media (max-width: 576px) {
  .b-header__frontend-box svg {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .b-header__frontend-box svg {
    padding-left: 0;
  }
}

.b-header__frontend {
  font-weight: bold;
  font-size: 70px;
  line-height: 54px;
}

@media (max-width: 992px) {
  .b-header__frontend {
    font-size: 54px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .b-header__frontend {
    font-size: 24px;
    line-height: 20px;
  }
}

.b-header__developer {
  font-size: 59px;
  font-weight: normal;
  line-height: 50px;
  color: #F2F2F2;
}

@media (max-width: 992px) {
  .b-header__developer {
    font-size: 45px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .b-header__developer {
    font-size: 20px;
    line-height: 16px;
  }
}

.b-header__frontend-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 53px;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .b-header__frontend-link {
    width: 154px;
    height: 36px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 576px) {
  .b-header__frontend-link {
    width: 90px;
    height: 21px;
    font-size: 14px;
    line-height: 16px;
  }
}

.b-header__frontend-link:hover {
  color: #6C8DFF;
  border: 1px solid #6C8DFF;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.21);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.21);
}

.b-header__services-text {
  font-size: 18px;
  line-height: 21px;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 183px;
  padding-left: 115px;
}

@media (max-width: 992px) {
  .b-header__services-text {
    font-size: 16px;
    line-height: 19px;
    padding-top: 145px;
  }
}

@media (max-width: 767px) {
  .b-header__services-text {
    padding-left: 64px;
  }
}

@media (max-width: 576px) {
  .b-header__services-text {
    font-size: 14px;
    line-height: 16px;
    padding-top: 28px;
  }
}

@media (max-width: 400px) {
  .b-header__services-text {
    padding-left: 23px;
  }
}

.b-header__services-text span {
  font-size: 35px;
  line-height: 97.5%;
  font-weight: bold;
}

@media (max-width: 992px) {
  .b-header__services-text span {
    font-size: 26px;
    line-height: 107.5%;
  }
}

@media (max-width: 576px) {
  .b-header__services-text span {
    font-size: 16px;
    line-height: 107.5%;
  }
}

.b-header__services-text a {
  color: #F2F2F2;
}

.b-header__services-text a:hover {
  font-weight: 500;
  color: #6C8DFF;
}

.b-header__services-text svg {
  margin-left: -86px;
}

@media (max-width: 992px) {
  .b-header__services-text svg {
    margin-left: -65px;
  }
}

@media (max-width: 767px) {
  .b-header__services-text svg {
    margin-left: -13px;
  }
}

.b-header__contacts-box {
  padding-top: 135px;
  padding-left: 185px;
}

@media (max-width: 992px) {
  .b-header__contacts-box {
    padding-top: 257px;
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .b-header__contacts-box {
    padding-top: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 992px) {
  .b-header__contacts-box svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.b-header__contacts {
  padding-left: 34px;
}

@media (max-width: 992px) {
  .b-header__contacts {
    padding-left: 5px;
  }
}

.b-header__contact {
  font-size: 30px;
  color: #F2F2F2;
}

.b-header__contact:hover {
  color: #6C8DFF;
}

.b-header__contact:not(:last-child) {
  margin-right: 10px;
}

.b-skills {
  margin-top: -51px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 166px 166px 166px 166px 166px;
      grid-template-columns: 166px 166px 166px 166px 166px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 15px;
  padding-bottom: 44px;
}

@media (max-width: 992px) {
  .b-skills {
    -ms-grid-columns: 152px 152px;
        grid-template-columns: 152px 152px;
    grid-gap: 32px;
    margin-top: -257px;
  }
}

@media (max-width: 576px) {
  .b-skills {
    margin-top: -50px;
  }
}

@media (max-width: 576px) {
  .b-skills {
    grid-gap: 10px;
  }
}

.b-skill {
  width: 166px;
  height: 166px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 11px 3px rgba(198, 198, 198, 0.27);
          box-shadow: 0px 1px 11px 3px rgba(198, 198, 198, 0.27);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .b-skill {
    width: 152px;
    height: 152px;
  }
}

.b-skill img {
  height: 68px;
}

.b-skill__text {
  margin-top: 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #1B1C20;
}

.b-works {
  background: #F2F2F2;
  padding-bottom: 45px;
  padding-top: 28px;
}

.b-works__heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #1B1C20;
  padding-bottom: 35px;
  text-align: center;
}

.b-works__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 992px) {
  .b-works__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.b-work {
  background: #FFFFFF;
  width: 100%;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-work_1 {
  height: 562px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 992px) {
  .b-work_1 {
    height: 266px;
  }
}

.b-work__img,
.b-work__description {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 19px;
  color: #1B1C20;
  text-align: center;
}

.b-work__img-size {
  width: 412px;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .b-work__img-size {
    width: 375px;
  }
}

@media (max-width: 400px) {
  .b-work__img-size {
    width: 300px;
  }
}

.b-work__img-size_big {
  width: 522px;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .b-work__img-size_big {
    width: 450px;
  }
}

@media (max-width: 576px) {
  .b-work__img-size_big {
    width: 375px;
  }
}

@media (max-width: 400px) {
  .b-work__img-size_big {
    width: 300px;
  }
}

.b-work:hover .b-work__img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.b-work:hover .b-work__description {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.b-work__description {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.b-work__description_big {
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  .b-work__description_big {
    padding-bottom: 30px;
  }
}

.b-work__link {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #1B1C20;
}

.b-work__link:hover {
  color: #6C8DFF;
}

.b-sertificate {
  padding-top: 45px;
  padding-bottom: 35px;
}

.b-sertificate__heading {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 42px;
  color: #1B1C20;
  padding-bottom: 37px;
}

.b-sertificate__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container {
  width: 947px;
  height: 334px;
}

@media (max-width: 1200px) {
  .swiper-container {
    width: 732px;
    height: unset;
  }
}

@media (max-width: 992px) {
  .swiper-container {
    padding-top: 0;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.swiper-slide img {
  width: 459px;
  height: 324px;
}

@media (max-width: 1200px) {
  .swiper-slide img {
    width: 350px;
    height: unset;
  }
}

@media (max-width: 992px) {
  .swiper-slide img {
    width: 545px;
  }
}

@media (max-width: 767px) {
  .swiper-slide img {
    width: 367px;
  }
}

@media (max-width: 576px) {
  .swiper-slide img {
    width: 267px;
  }
}

.swiper-slide img:hover {
  -webkit-box-shadow: 0px 0px 5px 3px #6C8DFF;
          box-shadow: 0px 0px 5px 3px #6C8DFF;
}

.swiper-button-prev,
.swiper-button-next {
  position: unset;
  margin-top: 148px;
}

@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 110px;
  }
}

@media (max-width: 992px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 187.5px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 120.5px;
  }
}

@media (max-width: 576px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 83.5px;
  }
}

.swiper-button-prev svg,
.swiper-button-next svg {
  height: 28px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '';
}

.b-sertificate-zoom {
  position: fixed;
  top: calc(50% - 315px);
  left: calc(50% - 431.5px);
  z-index: 11;
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .b-sertificate-zoom {
    top: calc(50% - 250px);
    left: calc(50% - 360px);
  }
}

@media (max-width: 767px) {
  .b-sertificate-zoom {
    top: calc(50% - 198px);
    left: calc(50% - 270px);
  }
}

@media (max-width: 576px) {
  .b-sertificate-zoom {
    top: calc(50% - 137.5px);
    left: calc(50% - 187.5px);
  }
}

@media (max-width: 400px) {
  .b-sertificate-zoom {
    top: calc(50% - 113.5px);
    left: calc(50% - 155px);
  }
}

.b-sertificate-zoom__img {
  width: 863px;
  height: 630px;
}

@media (max-width: 992px) {
  .b-sertificate-zoom__img {
    width: 720px;
    height: unset;
  }
}

@media (max-width: 767px) {
  .b-sertificate-zoom__img {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .b-sertificate-zoom__img {
    width: 375px;
  }
}

@media (max-width: 400px) {
  .b-sertificate-zoom__img {
    width: 310px;
  }
}

.b-sertificate-zoom__close {
  position: absolute;
  z-index: 12;
  top: 10px;
  right: 10px;
}

.b-footer {
  height: 414px;
  background: #023E74;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 0;
}

.b-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-footer__heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #F2F2F2;
  text-align: center;
}

.b-footer__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #F2F2F2;
  text-decoration: none;
  padding: 57px 0 21px;
}

.b-footer__tel:hover {
  color: #6C8DFF;
}

.b-footer__mail {
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  color: #F2F2F2;
}

.b-footer__mail:hover {
  color: #6C8DFF;
}

.b-footer__shape1 {
  padding: 17px 752px 15px 0;
  top: 218px;
}

@media (max-width: 992px) {
  .b-footer__shape1 {
    padding: 17px 414px 15px 0;
  }
}

@media (max-width: 576px) {
  .b-footer__shape1 {
    padding: 17px 204px 15px 0;
  }
}

.b-footer__shape2 {
  padding-left: 726px;
  bottom: 47px;
}

@media (max-width: 992px) {
  .b-footer__shape2 {
    padding-left: 420px;
  }
}

@media (max-width: 576px) {
  .b-footer__shape2 {
    padding-left: 205px;
  }
}

.b-footer__botom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

.b-footer__link {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 20px;
}

.b-footer__link:hover {
  color: #6C8DFF;
}

.b-footer__disigner {
  font-size: 20px;
  line-height: 23px;
  color: #F2F2F2;
  padding: 77px 0 16px;
}

@media (max-width: 400px) {
  .b-footer__disigner {
    font-size: 20px;
    line-height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
}

.b-footer__disigner a {
  color: #F2F2F2;
  text-decoration: none;
}

.b-footer__disigner a:hover {
  color: #6C8DFF;
}

.display_block {
  display: block;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */