* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

a {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1320px;

    @media (max-width: 1399px) {
        max-width: 1140px;
    }

    @media (max-width: 1199px) {
        max-width: 960px;
    }

    @media (max-width: 991px) {
        max-width: 720px;
    }

    @media (max-width: 767px) {
        max-width: 540px;
    }

    @media (max-width: 575px) {
        max-width: 400px;
    }

    @media (max-width: 424px) {
        max-width: 310px;
    }
}

.text {
    font-size: 18px;
    line-height: 114%;
    font-weight: normal;

    @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 19px;
    }

    @media (max-width: 767px) {}
}

.heading {
    font-weight: 800;
    font-size: 60px;
    line-height: 114%;

    @media (max-width: 1199px) {
        font-size: 40px;
    }

    @media (max-width: 767px) {
        font-size: 27px;
    }
}

.heading-mini {
    font-weight: 500;
    font-size: 35px;
    line-height: 114%;

    @media (max-width: 1199px) {
        font-size: 27px;
    }

    @media (max-width: 767px) {}
}

.button {
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.b-wrapper {
    background: linear-gradient(180deg, #95D8F7 0%, #4491FF 100%);
    // height: 617px;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

.b-wrapper__vector1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (max-width: 1199px) {
        width: 239px;
        height: 135px;
    }
}

.b-wrapper__vector2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    @media (max-width: 1199px) {
        width: 450px;
        height: 114px;
    }
}

.b-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;

    @media (max-width: 1199px) {
        padding: 24px 0 0 0;
    }

    span {
        letter-spacing: 0.17em;
        color: #FFFFFF;
    }
}

.b-nav__box {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        display: none;
    }
}

.b-nav__link {
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    line-height: 170%;
    transition: 0.5s;
}

.b-nav__link:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.b-nav__link:not(:last-child) {
    margin-right: 30px;
}

.b-nav__burger-button {
    display: none;
    border: none;
    background: none;

    @media (max-width: 767px) {
        display: block;
    }
}

.b-nav__burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: none;
}

.b-nav__burger-header {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b-nav__burger-socials {
    display: flex;
    align-items: center;
    padding-bottom: 59px;
    align-self: center;
}

.b-nav__burger-social:not(:last-child) {
    margin-right: 5px;
}

.b-nav__burger-social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4491FF;

    @media (max-width: 575px) {
        width: 30px;
        height: 30px;
    }

    svg {
        width: 20px;
        height: 20px;

        @media (max-width: 575px) {
            width: 15px;
            height: 15px;
        }
    }
}

.b-nav__burger-close {
    border: none;
    background: none;
}

.b-nav__burger-nav {
    display: flex;
    flex-direction: column;
}

.b-nav__burger-link {
    padding-bottom: 14px;
    text-decoration: none;
    color: #080A0E;
}

.b-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-main__heading {
    margin: 80px 0 20px;
    color: #FFFFFF;
    text-align: center;

    @media (max-width: 1199px) {
        margin-bottom: 16px;
    }
}

.b-main__heading-mini {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 45px;

    @media (max-width: 1199px) {
        margin-bottom: 28px;
    }
}

.b-main__text {
    margin: 16px 0 52px;
    color: #FFFFFF;
    text-align: center;
}

.b-main__link {
    width: 244px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    background: none;
    cursor: pointer;

    span {
        padding-top: 20px;
        color: #FFFFFF;
        font-weight: 500;
        transition: 1s;
    }
}

.b-main__link_dark {
    span {
        color: #4491FF;
    }
}

.b-main__link-vector_dark {
    path {
        stroke: #4491FF;
    }
}

.b-main__link:hover {
    span {
        padding-top: 10px;
        transition: 0.5s;
    }

    .b-main__link-vector {
        transform: rotate(180deg);
        transition: 0.5s;
    }
}

.b-main__link-vector {
    position: absolute;
    transition: 1s;
}

.b-main__contact-box {
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    @media (max-width: 1199px) {
        padding-bottom: 15px;
    }

    @media (max-width: 991px) {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.b-main__contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;

    @media (max-width: 991px) {
        text-align: center;
        min-width: 220px;
    }
}

.b-main__contact:hover {
    // transform: rotate(-20deg);
    transition: 0.5s;
    transform: scale(1.2);
}

.b-main__contact:not(:last-child) {
    margin-right: 100px;

    @media (max-width: 1199px) {
        margin-right: 70px;
    }

    @media (max-width: 991px) {
        margin-right: 0;
    }
}

.b-clients {
    padding: 90px 0 45px;

    @media (max-width: 1199px) {
        padding: 50px 0 45px;
    }

    @media (max-width: 575px) {
        padding: 40px 0 35px;
    }
}

.b-clients__heading {
    text-align: center;
    color: #080A0E;
    margin-bottom: 40px;
}

.swiper-container-clients {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
}

.swiper-slide_clients {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 130px;
    align-items: center;
    position: relative;
    transition: 0.5s;

    img {
        width: 80%;
        height: 100%;
        object-fit: contain;
    }
}

.b-clients__description {
    position: absolute;
    visibility: hidden;
    background: white;
    padding: 20px;
    transition: 0.5s;
    display: flex;
}

// .swiper-slide:hover {
//     .b-clients__description {
//         visibility: visible;
//         transition: 0.5s;
//     }
// }

.b-site {
    padding: 45px 0 45px;

    @media (max-width: 575px) {
        padding: 35px 0 35px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-site__heading {
    text-align: center;
    color: #080A0E;
    margin-bottom: 60px;

    @media (max-width: 575px) {
        margin-bottom: 45px;
    }
}

.b-site__box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 575px) {
        grid-gap: 15px;
        margin-bottom: 15px;
    }
}

.b-site__box2,
.b-site__box3 {
    display: none;
}

.b-site__box_mb90 {
    margin-bottom: 90px;

    @media (max-width: 575px) {
        margin-bottom: 30px;
    }
}

.b-site__card {
    width: 100%;
    height: 426px;
    position: relative;
    perspective: 1000px;

    @media (max-width: 1199px) {
        height: 465px;
    }

    @media (max-width: 991px) {
        height: 345px;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 523px;
    }

    @media (max-width: 575px) {
        height: 400px;
    }

    @media (max-width: 424px) {
        height: 310px;
    }
}

.b-site__card-front,
.b-site__card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
    backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.b-site__card-front {
    background: gray;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.b-site__card-back {
    transform: rotateY(180deg);
    padding: 44px 28px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #95D8F7 0%, #4491FF 100%);

    a {
        color: #FFFFFF;
        font-weight: bold;
    }

    img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        filter: blur(14px);
    }
}

.b-site__card:hover .b-site__card-front {
    transform: rotateY(180deg);
}

.b-site__card:hover .b-site__card-back {
    transform: rotateY(360deg);
}

.b-logo__card {
    border-radius: 10px;
    width: 100%;
    height: 426px;

    @media (max-width: 1199px) {
        height: 465px;
        width: 465px;
    }

    @media (max-width: 991px) {
        height: 345px;
        width: 345px;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 523px;
    }

    @media (max-width: 575px) {
        height: 400px;
    }

    @media (max-width: 424px) {
        height: 310px;
    }

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.b-site__link3,
.b-site__link-contacts {
    display: none;
}

.display_grid_flex {
    display: grid;

    @media (max-width: 767px) {
        display: flex;
    }
}

.b-map {
    background: linear-gradient(180deg, #95D8F7 0%, #4491FF 100%);
    padding: 32px 0 52px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-map__box {
    margin-bottom: 22px;
}

.b-map__img {
    width: 100%;
}

.b-map__heading {
    text-align: center;
    color: #FFFFFF;
}

.b-map__countries {
    display: flex;
    justify-content: center;
    padding: 22px 0 68px;

    @media (max-width: 575px) {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
}

.b-map__country {
    color: #FFFFFF;
}

.b-map__country:not(:last-child) {
    margin-right: 70px;

    @media (max-width: 575px) {
        margin-right: 0;
    }
}

.b-price {
    padding: 96px 0 45px;

    @media (max-width: 575px) {
        padding: 70px 0 35px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-price__heading {
    text-align: center;
    color: #080A0E;
    margin-bottom: 32px;
}

.b-price__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.b-price__category-box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 32px;

    @media (max-width: 575px) {
        width: 100%;
    }
}

.b-price__category {
    font-weight: bold;
    font-size: 22px;
    line-height: 170%;
    color: #4491FF;

    @media (max-width: 424px) {
        font-size: 16px;
        line-height: 170%;
    }
}

.b-price__price-box {
    display: flex;
    justify-content: space-between;
    width: 70%;

    @media (max-width: 575px) {
        width: 100%;
    }

    span {
        border-bottom: 1px solid #4491FF;
        flex: 1;
        margin: 0 15px;

        @media (max-width: 424px) {
            border-bottom: none;
            margin: 0;
        }
    }
}

.b-price__price-box:not(:last-child) {
    margin-bottom: 16px;
}

.b-price__description {
    margin: 32px 0 49px;
    text-align: center;

    @media (max-width: 424px) {
        margin-bottom: 28px;
    }
}

.b-reviews {
    padding: 45px 0;

    @media (max-width: 575px) {
        padding: 35px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-reviews__heading {
    text-align: center;
    color: #080A0E;
}

.b-reviews__box {
    display: flex;
    align-items: center;
}

.swiper-container_reviews {
    width: 1050px;
    height: 740px;
    overflow-x: hidden;
    margin: auto;

    @media (max-width: 1199px) {
        width: 960px;
        height: 540px;
    }

    @media (max-width: 991px) {
        width: 720px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 400px;
        height: 600px;
    }

    @media (max-width: 424px) {
        width: 310px;
        height: 650px;
    }
}

.swiper-wrapper_reviews {
    width: 100%;
}

.swiper-slide_reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    position: unset;
    margin-top: 0;
    transition: 0.3s;

    @media (max-width: 1199px) {
        display: none;
    }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.b-reviews__slide {
    width: 475px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(230, 227, 227, 0.41);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1199px) {
        width: 465px;
        height: 465px;
    }

    @media (max-width: 575px) {
        width: 360px;
        height: 550px;
    }

    @media (max-width: 424px) {
        height: 600px;
        width: 300px;
        padding: 15px;
    }
}

.b-reviews__slide-heading {
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
}

.b-reviews__links {
    display: flex;
    justify-content: space-between;
}

.b-reviews__link {
    color: #000000;
    font-weight: 500;
    transition: 0.5s;

    @media (max-width: 424px) {
        text-align: left;
    }
}

.b-reviews__link:last-child {
    @media (max-width: 424px) {
        text-align: right;
        align-self: flex-end;
    }
}

.b-reviews__link:hover {
    transition: 0.5s;
    color: #4491FF;
}

.b-team {
    padding: 45px 0 90px;

    @media (max-width: 575px) {
        padding: 35px 0 35px;
    }

    @media (max-width: 991px) {
        padding-bottom: 45px;
    }
}

.b-team__heading {
    text-align: center;
    color: #080A0E;
    margin-bottom: 42px;
}

.b-team__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 991px) {
        justify-content: space-around;
    }
}

.b-team__card {
    width: 426px;

    @media (max-width: 1199px) {
        width: 300px;
    }

    @media (max-width: 991px) {
        margin-bottom: 20px;
    }

    @media (max-width: 767px) {
        width: 100%;
    }

    @media (max-width: 424px) {
        width: 285px;
    }
}

.b-team__card-img {
    width: 100%;
    height: 426px;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 1199px) {
        height: 300px;
    }

    @media (max-width: 767px) {
        height: 540px;
    }

    @media (max-width: 575px) {
        height: 400px;
    }

    @media (max-width: 424px) {
        height: 285px;
    }
}

.b-team__card-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    color: #080A0E;
    margin-top: 32px;

    @media (max-width: 1199px) {
        margin-top: 15px;
    }

    @media (max-width: 991px) {
        text-align: center;
    }
}

.b-team__card-text {
    @media (max-width: 991px) {
        text-align: center;
    }
}

.b-feetback {
    padding: 32px 0 68px;
    background: linear-gradient(180deg, #95D8F7 0%, #4491FF 100%);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-feetback__heading {
    text-align: center;
    color: #FFFFFF;
}

.b-feetback__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    margin-bottom: 48px;
    text-align: center;
    color: #FFFFFF;
}

.b-feetback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-feetback__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
    width: 611px;
    background: none;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 1px;
    resize: none;
    height: 50px;
    padding-top: 13px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.b-feetback__textarea {
    height: 100px;
    margin-bottom: 42px;
}

.b-feetback__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.b-feetback__text_bottom {
    margin-top: 52px;
    margin-bottom: 32px;
}

.b-feetback__contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    color: #FFFFFF;
    transition: 0.5s;
    display: inline-block;
}

.b-feetback__contact:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.b-feetback__contact:not(:last-child) {
    margin-right: 50px;
}

.b-footer {
    background: #2F3640;
    padding: 40px 0 200px;

    @media (max-width: 991px) {
        padding-bottom: 40px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: 100px 1fr;
        }
    }
}

.b-footer__logo {
    letter-spacing: 0.17em;
    color: #FFFFFF;
}

.b-footer__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 170%;

    @media (max-width: 991px) {
        align-items: flex-end;
        margin-bottom: 20px;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;

        @media (max-width: 991px) {
            text-align: right;
        }
    }

    a:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
}

.b-footer__box-plug {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}