@font-face {
    font-family: 'Museo';
    src: url(../fonts/Museo700-Regular.ttf);
}

@font-face {
    font-family: 'TektonProCond';
    src: url(../fonts/TektonPro-BoldCond.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;

    @media (max-width: 1055px) {
        max-width: 720px;
    }

    @media (max-width: 830px) {
        max-width: 540px;
    }

    @media (max-width: 599px) {
        max-width: 415px;
    }

    @media (max-width: 425px) {
        max-width: 360px;
    }

    @media (max-width: 370px) {
        max-width: 310px;
    }
}

.b-header {
    .container {
        padding: 66px 0 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 104px;
        box-sizing: border-box;

        @media (max-width: 599px) {
            padding: 10px 0;
        }
    }
}

.b-header__logo {
    display: flex;
    align-items: center;

    img {
        margin-right: 8px;
        padding-top: 6px;

        @media (max-width: 830px) {
            margin-right: 4px;
            padding-top: 4px;
        }

        @media (max-width: 599px) {
            padding: 69px 0 19px;
        }
    }
}

.b-header__logo-text {
    font-family: 'Museo';
    font-size: 36px;
    line-height: 0.9;
    font-weight: 700;
    color: #06509d;

    @media (max-width: 830px) {
        font-size: 20px;
        line-height: 1;
    }

    @media (max-width: 599px) {
        padding: 66px 0 19px;
    }
}

.b-header__links {
    display: flex;

    @media (max-width: 599px) {
        flex-direction: column;
    }
}

.b-header__link {
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #003764;
    position: relative;
    display: flex;
    justify-content: center;
    width: 120px;

    @media (max-width: 1055px) {
        width: 100px;
    }

    @media (max-width: 830px) {
        width: 75px;
        font-size: 12px;
    }

    img {
        position: absolute;
        top: 10px;
        top: -68px;

        @media (max-width: 1055px) {
            width: 100px;
        }

        @media (max-width: 830px) {
            width: 75px;
        }

        @media (max-width: 599px) {
            display: none;
        }
    }
}

.b-header__link_active {
    color: #0e57a1;
}

.b-header__link-line_active {
    display: block;
}

.b-header__link-line_dormant {
    display: none;
}

.b-header__link:hover img {
    display: block;
}

.b-header__link:hover {
    color: #0e57a1;
}

.b-header__link:not(:last-child) {
    @media (max-width: 599px) {
        margin-bottom: 4px;
    }
}

.b-main {
    background: url(../img/back.png) center no-repeat;
    background-size: cover;
    background-color: #054f9c;

    .container {
        position: relative;
        overflow: hidden;
        height: 495px;

        @media (max-width: 425px) {
            height: 550px;
        }
    }
}

.b-main__text-box {
    position: absolute;
    z-index: 1;
}

.b-main__links {
    display: flex;
}

.b-main__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 45px;
    background-color: #21588d;
}

.b-main__link:hover {
    background-color: #8eb61c;
}

.b-main__text {
    font-family: 'Signika Negative', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    width: 400px;
    margin-top: 54px;
    margin-bottom: 27px;

    span {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        line-height: 16px;
    }

    @media (max-width: 425px) {
        width: unset;
    }
}

.b-main__video-box {
    display: flex;
    align-items: center;

    >img {
        margin-left: 23px;
        margin-right: 8px;
    }
}

.b-main__video {
    width: 138px;
    height: 91px;
    background: url(../img/video.png) center no-repeat;
    background-size: cover;
    background-color: #ffffff;
    border: 3px solid #002c58;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
        width: 40px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #002c58;
    }
}

.b-main__video-text {
    font-family: 'TektonProCond';
    font-size: 21px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 6px;
}

.b-main__download-text {
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 7px;
}

.b-main__buttons {
    padding-bottom: 46px;
}

.b-main__button-download {
    width: 139px;
    height: 39px;
    background: linear-gradient(180deg, #AFCE56 0%, #466F07 100%);
    border: 1px solid #12161d;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 7px;
    box-sizing: border-box;
    cursor: pointer;
}

.b-main__button-buy {
    width: 109px;
    height: 39px;
    background: linear-gradient(180deg, #CD844F 0%, #8D311A 100%);
    border: 1px solid #12161d;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}

.b-main__img {
    position: absolute;
    top: 27px;
    right: 0;

    @media (max-width: 1055px) {
        top: 140px;
        width: 500px;
    }

    @media (max-width: 830px) {
        top: 270px;
        width: 300px;
    }

    @media (max-width: 599px) {
        display: none;
    }
}

.b-best {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 830px) {
        margin-bottom: 0;
    }
}

.b-best__heading {
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #093059;
    text-align: center;
    display: flex;
    align-items: center;

    span {
        width: 410px;
        height: 1px;
        opacity: 0.18;
        border-bottom: 1px dashed #000000;
        display: block;
    }
}

.b-best__heading-span_l {
    margin-right: 13px;
}

.b-best__heading-span_r {
    margin-left: 13px;
}

.b-best__card-box {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 830px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.b-best__card {
    width: 187px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1055px) {
        width: 140px;
    }
}

.b-best__card-top {
    width: 100%;
    height: 105px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 0;
    box-sizing: border-box;
}

.b-best__card-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: #0e57a1;
}

.b-best__card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    color: #5a5a5a;
    width: 152px;
    height: 47px;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 11px;

    @media (max-width: 1055px) {
        width: 140px;
        font-size: 10px;
        line-height: 12px;
    }
}

.b-best__card-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    text-decoration: underline;
    color: #0e57a1;
    cursor: pointer;

    @media (max-width: 830px) {
        margin-bottom: 30px;
    }
}

.b-news {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1055px) {
        flex-direction: column;
        align-items: center;
    }
}

.b-news__case-box {
    width: 380px;

    @media (max-width: 425px) {
        width: 310px;
    }
}

.b-news__photo-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    margin-top: 35px;

    @media (max-width: 425px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.b-news__photo {
    width: 183px;
    height: 131px;
    background-color: #0e57a1;
    position: relative;
    cursor: pointer;
}

.b-news__photo-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #001e3c;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    top: 0;
    left: 0;
}

.b-news__news-box {
    width: 570px;

    @media (max-width: 1055px) {
        margin-top: 40px;
    }

    @media (max-width: 830px) {
        width: 540px;
    }

    @media (max-width: 599px) {
        width: 415px;
    }

    @media (max-width: 425px) {
        width: 310px;
    }
}

.b-news__news-heading {
    margin-bottom: 35px;
}

.b-news__news-row {
    height: 92px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1px;

    @media (max-width: 599px) {
        height: unset;
    }
}

.b-news__news-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 11px;
    font-weight: 600;
    color: #0e57a1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;

    @media (max-width: 830px) {
        margin-right: 5px;
    }

    span {
        font-size: 24px;
    }
}

.b-news__text-box {
    width: 483px;
    height: 100%;
    border-left: 1px solid #3f8cdb;
    background-color: #f8f8f8;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}

.b-news__text-top {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #2f2f2f;

    span {
        font-weight: 700;
        text-decoration: underline;
        color: #0e57a1;
    }

}

.b-news__link-box {
    display: flex;
    justify-content: space-between;

    @media (max-width: 425px) {
        flex-direction: column;
    }
}

.b-news__text-botom {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #5a5a5a;
    width: 332px;

    @media (max-width: 599px) {
        width: 200px;
    }
}

.b-news__news-link {
    float: right;
    margin: 9px 0 0 18px;
    width: 113px;
    height: 32px;
    background-color: #001e3c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;

    @media (max-width: 425px) {
        margin: 0 0 0 112px;
    }
}

.b-what {
    margin-top: 47px;
    margin-bottom: 35px;
}

.b-slider {
    height: 294px;
    background-color: #f1f1f1;
    padding: 21px 0 23px;
    box-sizing: border-box;
}

.b-slider__container {
    max-width: 1045px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 1055px) {
        max-width: 820px;
    }

    @media (max-width: 830px) {
        max-width: 600px;
    }

    @media (max-width: 599px) {
        max-width: 310px;
    }
}

.swiper-container {
    width: 960px;

    @media (max-width: 1055px) {
        max-width: 720px;
    }

    @media (max-width: 830px) {
        max-width: 540px;
    }
}

.swiper-slide {
    @media (max-width: 830px) {
        display: flex;
        justify-content: center;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: unset;
    margin-top: 67px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.b-slider__text {
    width: 237px;
    height: 178px;
    background: url(../img/slide_back.png) center no-repeat;
    box-sizing: border-box;
    padding: 19px 26px 58px 23px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #484848;

    span {
        font-weight: 700;
        color: #001e3c;
    }
}

.b-slider__avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

.b-slider__avatar {
    margin-right: 22px;
}

.b-slider__avatar-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #0e57a1;
}

.b-footer {
    height: 83px;
    margin-top: 48px;
    border-top: 1px dashed rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 830px) {
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 599px) {
        height: 100px;
    }
}

.b-footer__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 600;
    color: #001e3c;

    span {
        color: #0e57a1;
    }

    @media (max-width: 1055px) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 830px) {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    @media (max-width: 599px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-footer__link:not(:last-child) {
    margin-right: 8px;
}

.b-main__video-modal {
    position: fixed;
    z-index: 100;
    top: calc(50% - 214px);
    left: calc(50% - 428px);
    border: 3px solid #002c58;
    display: none;
    width: 856px;
    height: 428px;
    box-sizing: border-box;

    @media (max-width: 1055px) {
        width: 700px;
        height: 350px;
        left: calc(50% - 350px);
        top: calc(50% - 175px);
    }

    @media (max-width: 830px) {
        width: 500px;
        height: 250px;
        left: calc(50% - 250px);
        top: calc(50% - 125px);
    }

    @media (max-width: 599px) {
        width: 400px;
        height: 200px;
        left: calc(50% - 200px);
        top: calc(50% - 100px);
    }

    @media (max-width: 425px) {
        width: 310px;
        height: 155px;
        left: calc(50% - 155px);
        top: calc(50% - 77.5px);
    }
}

.b-case-big {
    display: none;
    border: 3px solid #002c58;
    width: 800px;
    box-sizing: border-box;
    left: calc(50% - 400px);
    top: calc(50% - 287px);
    position: fixed;
    z-index: 100;

    @media (max-width: 1055px) {
        width: 700px;
        left: calc(50% - 350px);
        top: calc(50% - 237px);
    }

    @media (max-width: 830px) {
        width: 500px;
        left: calc(50% - 250px);
        top: calc(50% - 177px);
    }

    @media (max-width: 599px) {
        width: 400px;
        left: calc(50% - 200px);
        top: calc(50% - 150px);
    }

    @media (max-width: 425px) {
        width: 310px;
        left: calc(50% - 155px);
        top: calc(50% - 100px);
    }
}