* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1760px;
}

@media (max-width: 1876px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1248px) {
  .container {
    max-width: 100%;
    margin: 0 20px;
  }
}

@media (max-width: 320px) {
  .container {
    margin: 0 10px;
  }
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .b-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

.b-header__heading {
  font-family: 'Futura PT';
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  color: #A89365;
}

@media (max-width: 1876px) {
  .b-header__heading {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .b-header__heading {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.b-header__link {
  text-decoration: none;
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #A89365;
}

.b-slider {
  max-width: 1856px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1876px) {
  .b-slider {
    max-width: 1248px;
  }
}

@media (max-width: 1248px) {
  .b-slider {
    margin: 20px auto;
  }
}

.swiper-container {
  width: 1760px;
}

@media (max-width: 1876px) {
  .swiper-container {
    width: 1228px;
  }
}

.swiper-wrapper {
  padding-bottom: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  position: unset;
  margin-top: 358px;
}

@media (max-width: 1876px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 8px;
  }
}

@media (max-width: 1248px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 1876px) {
  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 8px;
    height: 16px;
  }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '';
}

.swiper-pagination {
  display: none;
}

@media (max-width: 1248px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background: #A89365;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-slider__slide {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1876px) {
  .b-slider__slide {
    width: 270px;
  }
}

.b-slider__heading {
  margin: 20px 0;
  font-family: 'Futura PT';
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #A89365;
}

@media (max-width: 1876px) {
  .b-slider__heading {
    font-size: 24px;
  }
}

.b-slider__text {
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #575757;
}

@media (max-width: 1876px) {
  .b-slider__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.b-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1248px) {
  .b-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-button__specialist {
  width: 360px;
  height: 60px;
  border: 1px solid #A89365;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #A89365;
  margin-right: 40px;
}

@media (max-width: 1876px) {
  .b-button__specialist {
    width: 300px;
    height: 45px;
  }
}

@media (max-width: 1248px) {
  .b-button__specialist {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.b-button__project {
  width: 360px;
  height: 60px;
  background: #A89365;
  border: none;
  font-family: 'Futura PT';
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1876px) {
  .b-button__project {
    width: 300px;
    height: 45px;
  }
}

@media (max-width: 1248px) {
  .b-button__project {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */