@font-face {
    font-family: 'Geometria';
    src: url('fonts/Geometria/geometria.woff') format('woff');
}

@font-face {
    font-family: 'Geometria';
    font-weight: bold;
    src: url('fonts/Geometria/Geometria-Bold.woff') format('woff');
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNorms/TTNorms-Regular.woff') format('woff');
}

@font-face {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    src: url('fonts/TTNorms/TTNorms-Bold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 32px;
}

.b-burger-box {
    display: none;
    margin-top: 13px;
    margin-bottom: -19px;

    @media (max-width: 1261px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.b-burger-box__heading {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #2D71C8;

    @media (max-width: 560px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.b-burger-box__text {
    font-family: 'Geometria';
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #2D71C8;

    @media (max-width: 560px) {
        font-size: 12px;
        line-height: 15px;
    }
}

.b-burger-box__menu-button {
    background: none;
    border: none;
    height: 50px;
    width: 50px;
    outline: none;
    cursor: pointer;

    @media (max-width: 560px) {
        height: unset;
        width: unset;
    }
}

.b-burger-box__menu-img {
    height: 50px;
    width: 50px;

    @media (max-width: 560px) {
        height: unset;
        width: unset;
    }
}

.b-burger__nav {
    display: none;
    background: linear-gradient(0deg, #4585D8 0%, #2D71C8 100%);
    margin-top: 32px;
    padding-bottom: 5px;
}

.b-burger__nav_block {
    display: block;
}

.b-nav__link_burger:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.b-nav__link_burger {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-left: 32px;
    padding: 10px 0;
    margin-right: 32px;

    i {
        margin: 0 17px;
    }
}

.b-nav__link_burger-trade {
    background: url(img/tradein.png) no-repeat;
    width: 138px;
    height: 28px;
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2D71C8;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 32px;
}

.b-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1261px) {
        display: none;
    }
}

.b-header__logo {
    margin-right: 63px;

    @media (max-width: 1420px) {
        margin-right: 10px;
    }
}

.b-header__info-box {
    margin-right: 111px;

    @media (max-width: 1420px) {
        margin-right: 10px;
    }
}

.b-header__info {
    display: flex;
}

.b-header__info-img {
    margin-right: 11px;
}

.b-header__info:first-child {
    margin-bottom: 17px;
}

.b-header__info-text {
    font-family: 'Geometria';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #2B2B2B;
}

.b-header__number {
    font-family: 'Geometria';
    font-size: 33px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #2B2B2B;
    text-decoration: none;
}

.b-header__social-box {
    display: flex;
    justify-content: flex-end;
}

.b-header__social:not(:last-child) {
    margin-right: 20px;
}

.b-header__status {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 203px;
    height: 60px;
    background: linear-gradient(90deg, #2D71C8 0%, #81B8FF 100%);
    border-radius: 45px;
    text-decoration: none;
}

.b-nav {
    background: linear-gradient(0deg, #4585D8 0%, #2D71C8 100%);
    height: 38px;

    @media (max-width: 1261px) {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.b-nav__link {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;

    i {
        margin: 0 17px;
    }
}

.b-nav__link_border {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-right: 17px;
}

.b-nav__link-trade {
    background: url(img/tradein.png) no-repeat;
    width: 138px;
    height: 28px;
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2D71C8;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.b-top-slider {
    margin-top: 32px;

}

.b-top-slider__slide {
    background: url(img/slide1.png) no-repeat;
    background-position: right center;
    height: 260px;
    margin: 0 32px 20px 32px;
    border-radius: 10px;

    @media (max-width: 1261px) {
        margin: 0;
    }

    @media (max-width: 789px) {
        height: 19vw;
        background-size: contain;
    }
}

.b-top-slider__slide_2 {
    background: url(img/slide2.png) no-repeat;
    background-position: right center;

    @media (max-width: 789px) {
        height: 19vw;
        background-size: contain;
    }
}

.b-top-slider__slide_3 {
    background: url(img/slide3.png) no-repeat;
    background-position: right center;

    @media (max-width: 789px) {
        height: 19vw;
        background-size: contain;
    }
}

.b-top-slider__slide_4 {
    background: url(img/slide4.png) no-repeat;
    background-position: right center;

    @media (max-width: 789px) {
        height: 19vw;
        background-size: contain;
    }
}

.b-top-slider__slide_5 {
    background: url(img/slide5.png) no-repeat;
    background-position: right center;

    @media (max-width: 789px) {
        height: 19vw;
        background-size: contain;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots li.slick-active button:before {
    color: #2D71C8;
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 10px;
    color: rgba(45, 113, 200, 0.35);
    opacity: 1;
}

.slick-dots li {
    margin: 0;
    padding: 0;
}

.slick-dots {
    margin: 0;
}

.b-contacts {
    display: none;
    height: 46px;
    background: #2D71C8;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    @media (max-width: 1261px) {
        display: block;
    }
}

.b-contacts__number {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}

.b-contacts__links {
    display: flex;
    align-items: center;
}

.b-contacts__link {
    text-decoration: none;
}

.b-contacts__link:not(:last-child) {
    margin-right: 12px;
}

.b-top {
    background: url(img/top_background.png) no-repeat;
    background-position: right center;
    background-size: contain;
    margin-top: -20px;
    height: 650px;

    @media (max-width: 1261px) {
        margin-top: 0;
    }

    @media (max-width: 1170px) {
        height: unset;
    }

    @media (max-width: 900px) {
        background: url(img/top_background_mobile.png) no-repeat;
        background-position: center 60%;
    }

    .container {
        margin-left: 117px;

        @media (max-width: 1261px) {
            margin-left: 32px;
        }
    }
}

.b-top__text-box {
    max-width: 686px;

    @media (max-width: 1170px) {
        max-width: 500px;
    }

    @media (max-width: 900px) {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.b-top__heading {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #2B2B2B;
    padding-top: 88px;

    @media (max-width: 1100px) {
        font-size: 32px;
        line-height: 38px;
    }

    @media (max-width: 900px) {
        color: #2D71C8;
        padding-top: 23px;
        align-self: start;
    }
}

.b-top__text {
    font-family: 'TT Norms Pro';
    font-size: 43px;
    line-height: 52px;
    color: #2B2B2B;

    @media (max-width: 1100px) {
        font-size: 25px;
        line-height: 30px;
    }

    @media (max-width: 900px) {
        align-self: start;
    }
}

.b-top__garanty {
    font-family: 'TT Norms Pro';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2B2B2B;
    margin-top: 26px;
    margin-bottom: 32px;

    @media (max-width: 900px) {
        margin-bottom: 396px;
        margin-top: 18px;
    }

    span {
        font-family: 'TT Norms Pro';
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: #2D71C8;
        border-radius: 45px;
        padding: 4px 15px 5px;

        @media (max-width: 1170px) {
            font-size: 14px;
        }
    }
}

.b-top__descriptions-box {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 1170px) {
        justify-content: center;
        flex-direction: column;
    }
}

.b-top__description-card {
    width: 320px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'TT Norms Pro';
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2B2B2B;

    @media (max-width: 560px) {
        width: 300px;
        height: 126px;
        font-size: 14px;
        line-height: 17px;
    }
}

.b-top__description-card:not(:last-child) {
    margin-right: 32px;

    @media (max-width: 1170px) {
        margin-bottom: 26px;
        margin-right: 0;
    }
}

.b-top__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.b-top__description-h {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #2D71C8;

    @media (max-width: 560px) {
        font-size: 17px;
        line-height: 20px;
    }
}

.b-top__description-img {
    margin-top: 8px;
}

.b-top__price {
    font-family: 'Geometria';
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 320px;
    height: 50px;
    background: linear-gradient(90deg, #2D71C8 0%, #81B8FF 100%);
    box-shadow: 0px 4px 10px rgba(45, 113, 200, 0.5);
    border-radius: 45px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 560px) {
        font-size: 14px;
        line-height: 18px;
        width: 180px;
        height: 36px;
    }
}