body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    height: 100px;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
}
.logo{
    padding-right: 13px;
}
.logo-text{
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}
.logo-text span{
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.025em;
    font-weight: 900;
    color: #f16d7f;
    padding-right: 37px;
}
.header-search-form{
    display: flex;
}
.browse{
    width: 87px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-decoration: none;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.browse i{
    padding-left: 8px;
}
.header .container input{
    width: 279px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 14px 16px;
    height: 38px;
    box-sizing: border-box;
}
.header .container input::-webkit-input-placeholder{
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}
.search-button{
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    border: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
    width: 38px;
    height: 38px;
}
.bascet{
    padding-left: 320px;
    padding-right: 26px;
}
.my-account{
    text-decoration: none;
    background-color: #f16d7f;
    padding: 13px 12px 11px 19px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 38px;
}
.my-account i{
    padding-left: 8px;
}
.navbar{
    display: flex;
    height: 51px;
    align-items: center;
    justify-content: center;
}
.navbar a{
    text-decoration: none;
    line-height: 26px;
    font-weight: 700;
    color: #222222;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar a:not(:last-child){
    margin-right: 40px;
}
.navbar a:hover{
    border-bottom: 3px #ef5b70 solid;
}
.banner{
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: 48% 100%;
}
.banner .container{
    display: flex;
    height: 100%;
    align-items: center;
}
.banner-slogan{
    height: 92px;
    border-left: 12px #f16d7f solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__top{
    font-size: 60px;
    line-height: 0.7;
    font-weight: 900;
    color: #222222;
}
.banner__botom{
    font-size: 40px;
    line-height: 0.7;
    font-weight: 900;
    color: #222222;
}
.banner__botom span{
    color: #f16d7f;
}
.offers{
    height: 1021px;
}
.offers .container{
    display: flex;
    justify-content: space-between;
    height: 823px;
    padding-top: 98px;
}
.offers__block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.offers-big{
    width: 560px;
    height: 542px;
    background-image: url(img/offers1.png);
}
.offers-big2{
    background-image: url(img/offers4.png);
}
.offers-label{
    box-sizing: border-box;
    max-width: 50%;
    background-color: #ffffff;
    padding: 16px 20px;
    margin-top: 26px;
    display: inline-block;
}
.offers-label__top{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}
.offers-label__botom{
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: #f16d7f;
}
.offers-small{
    width: 560px;
    height: 261px;
    background-image: url(img/offers2.png);
}
.offers-small2{
    background-image: url(img/offers3.png);
}
.heading{
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
}
.text{
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    text-align: center;
}
.product-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
.product-card{
    width: 264px;
    height: 370px;
    text-decoration: none;
}
.product-card:hover{
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}
.product-card:nth-child(n+5){
    margin-top: 27px;
}
.featuredImgWrap {
    height: 280px;
    position: relative;
}
.featuredBuy {
    height: inherit;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
}
.product-card:hover .featuredBuy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featuredBuy button {
    padding: 15px;
    border: 1px solid #ffffff;
    background: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.featuredBuy button img {
    margin-right: 10px;
}
.product-photo {
    width: 100%;
    display: block;
    height: inherit;
    object-fit: cover;
    object-position: center center;
}
.product-name{
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    padding: 19px 0 17px 15px;
}
.product-price{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding: 0 0 21px 15px;
}
.all-product{
    margin: 79px auto 113px auto;
    background-color: #f16d7f;
    padding: 18px 24px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 214px;
}
.all-product img{
    padding-left: 9px;
}
.stock{
    height: 529px;
    width: 100%;
    display: flex;
    background-color: #222224;
}
.stock__img{
    background-image: url(img/sale.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    height: 100%;
    width: 767px;
    display: flex;
    flex-direction: column;
}
.stock__img__text{
    padding: 146px 0 0 39px;
}
.stock__img__top{
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.stock__img__top span{
    color: #f16d7f;
}
.stock__img__botom{
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    font-size: 32.2px;
}
.stock__text{
    display: flex;
}
.stock__logo-block{
    display: flex;
    flex-direction: column;
    padding: 48px 34px 136px 32px;
}
.stock__logo-block img:not(:first-child){
    padding-top: 137px;
}
.stock__text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 408px;
    width: 219px;
    padding-top: 55px;
}
.stock__text-block__paragraf{
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}
.stock__text-block__heading{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-bottom: 17px;
}
.stock__text-block__paragraf:not(:first-child){
    padding-top: 61px;
}
.subscribe{
    background-image: url(img/subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 438px;
}
.subscribe .container{
    display: flex;
}
.avatar{
    height: 83px;
    margin-right: 28px;
    margin-top: 111px;
}
.review{
    display: flex;
    flex-direction: column;
    margin: 123px 72px 156px 28px;
    width: 386px;
}
.review__text{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 19px;
}
.review__name{
    font-size: 16px;
    font-weight: 700;
    color: #f16d7f;
    margin-bottom: 41px;
}
.review__name span{
    font-size: 12px;
    font-weight: 300;
    color: #222224;
}
.review__button-box{
    display: flex;
}
.review__button{
    width: 38px;
    border-bottom: 4px solid #d6d6d6;
}
.review__button:not(:last-child){
    margin-right: 13px;
}
.review__button:hover{
    border-bottom: 4px solid #f16d7f;
}
.subscribe__form{
    display: flex;
    flex-direction: column;
    margin: 148px 0 0 92px;
}
.subscribe__form__text{
    font-size: 24px;
    font-weight: 400;
    color: #222224;
    text-align: center;
}
.subscribe__form__text span{
    font-size: 14px;
}
.subscribe-email-form{
    display: flex;
    margin-top: 35px;
}
.subscribe-email-form input{
    width: 334px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    border: none;
    box-sizing: border-box;
    padding: 18px 0 18px 28px;
}
.subscribe-email-form button{
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    border: none;
    box-sizing: border-box;
}
.subscribe-email-form input::-webkit-input-placeholder{
    opacity: 0.67;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}
.links-block{
    margin-top: 109px;
    margin-bottom: 89px;
    display: flex;
    justify-content: space-between;
    height: 260px;
}
.links-block__text__logo{
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.links-block__text{
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    width: 427px;
}
.links-block__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
}
.links-block__links__heading{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-bottom: 12px;
}
.links-block__links a{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    text-decoration: none;
}
.footer{
    height: 79px;
    background-color: #e6e6e6;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer__text{
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}
.footer__links-box{
    display: flex;
}
.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    text-decoration: none;
}
.footer__link:not(:last-child){
    margin-right: 8px;
}
.footer__link:hover{
    color: #f7f7f8;
    background-color: #f16d7f;
}
@media (max-width: 1024px){
    .container{
        max-width: 720px;
    }
}