html a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.container {
  padding: 0;
}

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header {
    height: unset;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 38px;
}

@media (max-width: 991px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    margin: 10px auto 10px auto;
  }
}

.logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 37px;
  text-decoration: none;
}

@media (max-width: 991px) {
  .logo_link {
    padding-right: 0;
  }
}

.logo {
  padding-right: 13px;
}

.logo-text {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.logo-text span {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.025em;
  font-weight: 900;
  color: #f16d7f;
}

.header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .header-search-form {
    margin: 10px 0 10px;
  }
}

.browse {
  width: 87px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  text-decoration: none;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse i {
  padding-left: 8px;
}

.header .container input {
  width: 279px;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 14px 16px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  .header .container input {
    width: unset;
  }
}

.header .container input::-webkit-input-placeholder {
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search-button {
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  width: 38px;
  height: 38px;
}

.bascet {
  padding-left: 320px;
  padding-right: 26px;
}

@media (max-width: 1199px) {
  .bascet {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .bascet {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.my-account {
  text-decoration: none;
  background-color: #f16d7f;
  padding: 13px 12px 11px 19px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
}

.my-account i {
  padding-left: 8px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 678px) {
  .navbar {
    height: unset;
  }
}

.navbar a {
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 678px) {
  .navbar a {
    margin: 0 10px;
  }
}

.navbar a:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 678px) {
  .navbar a:not(:last-child) {
    margin-right: 0;
  }
}

.navbar a:hover {
  border-bottom: 3px #ef5b70 solid;
}

.transparent {
  height: 148px;
  background-color: #f8f3f4;
}

.transparent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.transparent__heading {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.transparent__path {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.transparent__path span {
  font-weight: 700;
  color: #f16d7f;
}

.photo {
  height: 777px;
  background-color: #f7f7f7;
  background-image: url(img/photo.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info-card {
  margin: -83px auto 0 auto;
  width: 1141px;
  height: 730px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .info .info-card {
    width: unset;
  }
}

@media (max-width: 493px) {
  .info .info-card {
    height: unset;
  }
}

.info .info-card h3 {
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin: 0;
  padding: 73px 0 14px;
}

.info .info-card h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  padding: 17px 0 67px;
  margin: 0;
}

.info .info-card .info-card__text {
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  width: 618px;
  text-align: center;
}

@media (max-width: 767px) {
  .info .info-card .info-card__text {
    width: unset;
  }
}

.info .info-card .info-card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 334px;
  padding: 28px 0 37px;
}

@media (max-width: 540px) {
  .info .info-card .info-card__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset;
  }
}

.info .info-card .info-card__options .info-card__options__1 {
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}

.info .info-card .info-card__options .info-card__options__1 span {
  color: #2f2f2f;
}

.info .info-card h1 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  padding-bottom: 40px;
}

.info .info-card .info-card__shape2 {
  border-bottom: 1px solid #eaeaea;
  width: 640px;
}

@media (max-width: 767px) {
  .info .info-card .info-card__shape2 {
    width: unset;
  }
}

.info .info-card .modelProductOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 537px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

@media (max-width: 587px) {
  .info .info-card .modelProductOrder {
    width: auto;
  }
}

@media (max-width: 493px) {
  .info .info-card .modelProductOrder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info .info-card .modelProductOrderUnit label {
  color: #2f2f2f;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.info .info-card .modelProductOrderUnit select,
.info .info-card .modelProductOrderUnit input {
  width: 144px;
  height: 35px;
  display: block;
  border: 1px solid #eaeaea;
  padding: 8px 10px;
  font-size: 13px;
  color: #bcbcbc;
  outline: none;
}

@media (max-width: 493px) {
  .info .info-card .modelProductOrderUnit select,
  .info .info-card .modelProductOrderUnit input {
    width: 100%;
  }
}

.info .info-card .modelProductOrderUnit select {
  -moz-appearance: window;
  -webkit-appearance: none;
}

.info .info-card .modelProductOrderUnit .modelProductSelectWrap {
  position: relative;
}

.info .info-card .modelProductOrderUnit .modelProductSelectWrap i {
  color: #bcbcbc;
  position: absolute;
  right: 8px;
  top: 12px;
  display: block;
  font-size: 12px;
}

.info .info-card .modelProductOrderUnit .modelProductSelectWrap .modelProductColorValue {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ef5b70;
  top: 11px;
  left: 14px;
}

.info .info-card .modelProductOrderUnit .modelProductSelectWrap .modelProductColor {
  padding-left: 37px;
}

.info .info-card .modelProductOrderUnit input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info .info-card .modelProductOrder button {
  width: 100%;
  border: 1px solid #ef5b70;
  background: #ffffff;
  margin-top: 28px;
  padding: 15px;
  color: #ef5b70;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info-card .modelProductOrder button img {
  margin-right: 15px;
}

h1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin: 119px auto 72px auto;
  text-align: center;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 73px;
}

@media (max-width: 540px) {
  .product-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-card {
  width: 264px;
  height: 370px;
  text-decoration: none;
}

.product-card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product-card:nth-child(n+5) {
  margin-top: 27px;
}

.featuredImgWrap {
  height: 280px;
  position: relative;
}

.featuredBuy {
  height: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
}

.product-card:hover .featuredBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuredBuy button {
  padding: 15px;
  border: 1px solid #ffffff;
  background: none;
  color: white;
  font-size: 13px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.featuredBuy button img {
  margin-right: 10px;
}

.product-photo {
  width: 100%;
  display: block;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.product-name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding: 19px 0 17px 15px;
}

.product-price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding: 0 0 21px 15px;
}

.subscribe {
  background-image: url(img/subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 438px;
}

@media (max-width: 991px) {
  .subscribe {
    height: unset;
  }
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.avatar {
  height: 83px;
  margin-right: 28px;
  margin-top: 111px;
}

@media (max-width: 991px) {
  .avatar {
    margin-right: 0;
    margin-top: 10px;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 123px 72px 156px 28px;
  width: 386px;
}

@media (max-width: 991px) {
  .review {
    margin: 10px 10px 10px 10px;
  }
}

@media (max-width: 540px) {
  .review {
    width: unset;
  }
}

.review__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 19px;
}

@media (max-width: 991px) {
  .review__text {
    margin-bottom: 10px;
  }
}

.review__name {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 41px;
}

@media (max-width: 991px) {
  .review__name {
    margin-bottom: 10px;
  }
}

.review__name span {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
}

.review__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__button {
  width: 38px;
  border-bottom: 4px solid #d6d6d6;
}

.review__button:not(:last-child) {
  margin-right: 13px;
}

.review__button:hover {
  border-bottom: 4px solid #f16d7f;
}

@media (max-width: 991px) {
  .shape {
    display: none;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 148px 0 0 92px;
}

@media (max-width: 991px) {
  .subscribe__form {
    margin: 10px 0 0 10px;
  }
}

.subscribe__form__text {
  font-size: 24px;
  font-weight: 400;
  color: #222224;
  text-align: center;
}

.subscribe__form__text span {
  font-size: 14px;
}

.subscribe-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media (max-width: 991px) {
  .subscribe-email-form {
    margin-top: 10px;
  }
}

.subscribe-email-form input {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0 18px 28px;
}

@media (max-width: 991px) {
  .subscribe-email-form input {
    width: unset;
    margin-bottom: 10px;
  }
}

.subscribe-email-form button {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-email-form input::-webkit-input-placeholder {
  opacity: 0.67;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.links-block {
  margin-top: 109px;
  margin-bottom: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 260px;
}

@media (max-width: 991px) {
  .links-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.links-block__text__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.links-block__text {
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  width: 427px;
}

@media (max-width: 540px) {
  .links-block__text {
    width: unset;
  }
}

.links-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.links-block__links__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 12px;
}

.links-block__links a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}

.footer {
  height: 79px;
  background-color: #e6e6e6;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__text {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer__links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  text-decoration: none;
}

.footer__link:not(:last-child) {
  margin-right: 8px;
}

.footer__link:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}
/*# sourceMappingURL=style-single-page.css.map */