@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'ProductSans', sans-serif;
    src: url(../fonts/ProductSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'ProductSans', sans-serif;
    outline: none;
}

.container {
    max-width: 1750px;
    margin: 0 auto;

    @media(max-width: 1850px) {
        max-width: 1140px;
    }

    @media(max-width: 1199px) {
        max-width: 960px;
    }

    @media(max-width: 991px) {
        max-width: 720px;
    }

    @media(max-width: 767px) {
        max-width: 540px;
    }

    @media(max-width: 575px) {
        max-width: 310px;
    }
}

.b-header {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    background: #1a1b25;

    @media(max-width: 1850px) {
        padding: 30px 0;
    }

    @media(max-width: 767px) {
        padding: 20px 0 10px;
    }
}

.b-header__link {
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 29.1px;
    line-height: 9px;
    font-weight: normal;
    color: #b3b7bc;

    @media(max-width: 1850px) {
        font-size: 20px;
    }

    @media(max-width: 767px) {
        padding-bottom: 10px;
    }
}

.b-header__link:not(:last-child) {
    margin-right: 100px;

    @media(max-width: 767px) {
        margin-right: 50px;
    }

    @media(max-width: 575px) {
        margin-right: 30px;
    }
}

.b-header__link:hover {
    color: #ffffff;
    border-bottom: #2f88f6 4px solid;
    padding-bottom: 16px;

    @media(max-width: 767px) {
        padding-bottom: 6px;
    }
}

.b-header__link_active {
    color: #ffffff;
    border-bottom: #2f88f6 4px solid;
    padding-bottom: 16px;
}

.b-logo {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    background: #1a1b25;

    @media(max-width: 1850px) {
        padding: 30px 0;
    }

    @media(max-width: 767px) {
        padding: 20px 0;
    }

    img {
        @media(max-width: 767px) {
            max-width: 300px;
        }
    }
}

.b-link {
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #1a1b25;

    @media(max-width: 1850px) {
        padding: 30px 0;
    }

    @media(max-width: 767px) {
        padding: 20px 0;
    }
}

.b-link__link {
    text-decoration: none;
    width: 390px;
    height: 75px;
    background-color: #2f88f6;
    background: url(../img/link.png) center no-repeat;
    background-size: contain;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 28.7px;
    line-height: 9px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-right: 50px;

    @media(max-width: 767px) {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }

    @media(max-width: 575px) {
        width: 250px;
    }
}

// .b-link__line {
//     margin-left: 36px;
//     margin-right: 21px;

//     @media(max-width: 767px) {
//         height: 50px;
//     }

//     @media(max-width: 575px) {
//         margin-left: 20px;
//     }
// }

// .b-link__play {
//     background-color: #2f88f6;

//     @media(max-width: 767px) {
//         height: 30px;
//     }
// }

.b-link__text {
    margin-top: 19px;
    font-size: 23px;
    line-height: 7px;
    font-weight: 400;
    color: #a3a7ac;

    @media(max-width: 1850px) {
        font-size: 20px;
    }

    @media(max-width: 767px) {
        font-size: 16px;
    }
}

.b-what {
    background: #1a1b25;

    .container {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 1850px) {
            padding: 30px 0;
        }

        @media(max-width: 767px) {
            padding: 20px 0;
            flex-direction: column;
        }
    }

    iframe {
        width: 686px;
        height: 421px;
        border-radius: 10px;
        border: none;

        @media(max-width: 1850px) {
            width: 400px;
            height: 300px;
        }

        @media(max-width: 991px) {
            width: 300px;
            height: 200px;
        }

        @media(max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}

.b-what__text {
    color: #ffffff;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    color: #b3b7bc;
    max-width: 930px;

    @media(max-width: 1850px) {
        max-width: 600px;
        font-size: 20px;
        line-height: 24px;
    }

    @media(max-width: 1199px) {
        max-width: 500px;
    }

    @media(max-width: 991px) {
        max-width: 400px;
        font-size: 16px;
        line-height: 20px;
    }

    @media(max-width: 575px) {
        text-align: center;
    }

    span {
        font-size: 46px;
        font-weight: 700;

        @media(max-width: 1850px) {
            font-size: 30px;
        }

        @media(max-width: 991px) {
            font-size: 26px;
            line-height: 30px;
        }
    }
}

.b-slider {
    padding: 60px 0;
    background: #1a1b25;

    @media(max-width: 1850px) {
        padding: 30px 0;
    }
}

.swiper-container {
    width: 100%;
    height: 630px;

    @media(max-width: 1850px) {
        height: 500px;
    }

    @media(max-width: 991px) {
        height: 400px;
    }
}

.swiper-slide {
    height: 630px;

    @media(max-width: 1850px) {
        height: 500px;
    }

    @media(max-width: 991px) {
        height: 400px;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 80px 0;
        box-sizing: border-box;

        @media(max-width: 991px) {
            padding: 30px 0;
        }
    }
}

.slide1 {
    background: url(../img/slide1.png) center no-repeat;
    background-size: cover;

    @media(max-width: 575px) {
        background: #20212e;
    }
}

.slide2 {
    background: url(../img/slide1.png) center no-repeat;
    background-size: cover;

    @media(max-width: 575px) {
        background: #20212e;
    }
}

.slide3 {
    background: url(../img/slide1.png) center no-repeat;
    background-size: cover;

    @media(max-width: 575px) {
        background: #20212e;
    }
}

.b-slider__heading {
    font-size: 57.8px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    max-width: 560px;
    margin-bottom: 70px;

    @media(max-width: 1850px) {
        font-size: 30px;
        line-height: 34px;
        max-width: 300px;
    }

    @media(max-width: 991px) {
        margin-bottom: 20px;
    }

    @media(max-width: 575px) {
        text-align: center;
        max-width: 310px;
    }
}

.b-slider__link {
    font-size: 48px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3d8ff5;
    text-decoration: none;

    @media(max-width: 1850px) {
        font-size: 30px;
        line-height: 34px;
    }
}

.b-slider__text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: #b3b7bc;
    max-width: 860px;

    @media(max-width: 1850px) {
        font-size: 20px;
        line-height: 24px;
        max-width: 430px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
        max-width: 330px;
    }

    @media(max-width: 767px) {
        max-width: 270px;
    }

    @media(max-width: 575px) {
        text-align: center;
        max-width: 310px;
    }

    span {
        color: #ffffff;
        font-size: 48px;
        line-height: 53px;
        font-weight: 700;

        @media(max-width: 1850px) {
            font-size: 30px;
            line-height: 34px;
        }

        @media(max-width: 991px) {
            font-size: 26px;
            line-height: 30px;
        }
    }
}

.b-slider__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 50px auto 0;

    @media(max-width: 991px) {
        margin-top: 30px;
        max-width: 720px;
    }

    @media(max-width: 767px) {
        max-width: 340px;
    }

    @media(max-width: 575px) {
        max-width: 310px;
        justify-content: center;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: unset;
    width: 30px;
    height: 60px;
    margin-top: 0;

    @media(max-width: 991px) {
        width: 20px;
        height: 40px;
    }

    @media(max-width: 575px) {
        display: none;
    }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.swiper-pagination {
    position: unset;
}

.swiper-pagination-bullet {
    width: 145px;
    height: 6px;
    background: #2f88f6;
    opacity: 1;
    border-radius: 0;

    @media(max-width: 767px) {
        width: 50px;
    }
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 36px;
}

.swiper-pagination-bullet-active {
    background: #ffffff;
}

.b-communication {
    background: #1a1b25;

    .container {
        padding: 40px 0 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 1850px) {
            padding: 30px 0 100px;
        }

        img {
            @media(max-width: 1850px) {
                width: 400px;
            }

            @media(max-width: 991px) {
                width: 300px;
            }

            @media(max-width: 767px) {
                width: 200px;
            }

            @media(max-width: 575px) {
                display: none;
            }
        }
    }
}

.b-communication__text-box {
    display: flex;
    flex-direction: column;
    font-size: 48.1px;
    line-height: 34px;
    font-weight: 700;
    font-size: 30px;
    font-weight: 400;
    color: #b3b7bc;
    max-width: 940px;

    @media(max-width: 1850px) {
        max-width: 600px;
        font-size: 20px;
        line-height: 24px;
    }

    @media(max-width: 1199px) {
        max-width: 500px;
    }

    @media(max-width: 991px) {
        max-width: 400px;
        font-size: 16px;
        line-height: 20px;
    }

    @media(max-width: 767px) {
        max-width: 320px;
    }

    @media(max-width: 575px) {
        text-align: center;
        align-items: center;
    }

    span {
        font-size: 48.1px;
        line-height: 50px;
        font-weight: 700;
        color: #ffffff;

        @media(max-width: 1850px) {
            font-size: 30px;
            line-height: 34px;
        }

        @media(max-width: 991px) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    a {
        font-size: 37.6px;
        line-height: 42px;
        font-weight: 700;
        color: #ffffff;
        width: 425px;
        height: 86px;
        background-color: #2f88f6;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 60px;

        @media(max-width: 1850px) {
            font-size: 30px;
            line-height: 34px;
        }

        @media(max-width: 1199px) {
            width: 300px;
            height: 70px;
        }

        @media(max-width: 991px) {
            margin-top: 30px;
            font-size: 20px;
            line-height: 24px;
            width: 200px;
            height: 50px;
        }
    }
}

.b-footer {
    background: #20212e;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media(max-width: 1850px) {
        padding: 50px 0;
    }

    @media(max-width: 767px) {
        padding: 20px 0;
    }
}

.b-footer__links {
    display: flex;
    align-items: center;
}

.b-footer__link {
    text-decoration: none;
}

.b-footer__link:not(:last-child) {
    margin-right: 40px;
}

.b-footer__text {
    font-size: 28.9px;
    line-height: 40px;
    font-weight: 400;
    color: #b3b7bc;
    text-align: center;
    margin-top: 50px;

    @media(max-width: 1850px) {
        font-size: 20px;
        line-height: 24px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media(max-width: 767px) {
        margin-top: 20px;
    }

    span {
        color: #ececec;
    }
}

.b-regulations {
    background: #1a1b25;
    padding: 60px 0;

    @media(max-width: 991px) {
        padding: 30px;
    }

    .container {
        box-shadow: 0px 0px 166px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #20212e;
        padding: 90px;
        box-sizing: border-box;

        @media(max-width: 991px) {
            padding: 30px;
        }
    }
}

.b-regulations__heading {
    font-size: 46px;
    line-height: 38px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px;

    @media(max-width: 991px) {
        font-size: 26px;
        line-height: 30px;
    }

    @media(max-width: 991px) {
        margin-bottom: 30px;
    }
}

.b-regulations__text {
    font-size: 27.9px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.b-link-index {
    display: flex;
    justify-content: center;
    padding-bottom: 170px;
    background: #1a1b25;

    @media(max-width: 991px) {
        padding-bottom: 80px;
    }
}

.b-link-index__link {
    font-size: 37.6px;
    line-height: 42px;
    font-weight: 700;
    color: #ffffff;
    width: 425px;
    height: 86px;
    background-color: #2f88f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @media(max-width: 991px) {
        font-size: 26px;
        line-height: 30px;
        width: 310px;
        height: 50px;
    }
}

.b-shop {
    background: #1a1b25;
    padding: 60px 0;

    @media(max-width: 1199px) {
        padding: 30px 0;
    }

    .container {
        box-shadow: 0px 0px 166px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #20212e;
        padding: 90px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 6px 1fr;
        grid-gap: 35px;

        @media(max-width: 1199px) {
            padding: 50px;
        }

        @media(max-width: 991px) {
            padding: 30px;
            grid-gap: 20px;
        }

        @media(max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
}

.b-shop__heading {
    font-size: 46px;
    line-height: 38px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 60px;

    @media(max-width: 1199px) {
        font-size: 30px;
        line-height: 34px;
    }

    @media(max-width: 991px) {
        font-size: 26px;
        line-height: 30px;
    }

    @media(max-width: 991px) {
        margin-bottom: 20px;
    }
}

.b-shop__text {
    font-size: 27.9px;
    line-height: 36px;
    font-weight: 400;
    color: #b3b7bc;
    padding-left: 30px;
    background: url(../img/shop_back.png) top left no-repeat;

    span {
        font-weight: 700;
        color: #ffffff;
    }

    @media(max-width: 1850px) {
        font-size: 22px;
        line-height: 30px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media(max-width: 991px) {
        background-size: contain;
    }
}

.b-shop__line {
    @media(max-width: 991px) {
        max-height: 600px;
    }

    @media(max-width: 767px) {
        display: none;
    }
}

.b-shop__input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-shop__input-text {
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    color: #adb1b6;
    margin-bottom: 25px;

    @media(max-width: 1850px) {
        font-size: 22px;
        line-height: 30px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}

.b-shop__input {
    width: 411px;
    height: 65px;
    background-color: #1a1b25;
    border-radius: 20px;
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    text-align: center;
    margin-bottom: 25px;

    @media(max-width: 1850px) {
        font-size: 22px;
        line-height: 30px;
    }

    @media(max-width: 1199px) {
        width: 300px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
        width: 250px;
        height: 40px;
    }
}

.b-shop__select {
    width: 411px;
    height: 65px;
    background-color: #1a1b25;
    border-radius: 20px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    margin-bottom: 25px;

    @media(max-width: 1199px) {
        width: 300px;
    }

    @media(max-width: 991px) {
        width: 250px;
        height: 40px;
        margin-bottom: 20px;
    }

    img {
        position: absolute;
        top: 25px;
        right: 30px;

        @media(max-width: 991px) {
            top: 15px;
            right: 20px;
            width: 20px;
        }
    }

    select {
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        width: 100%;
        height: 100%;
        font-size: 28px;
        line-height: 60px;
        font-weight: 400;
        color: #ffffff;
        padding: 0 50px;
        box-sizing: border-box;

        @media(max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
            padding: 0 20px;
        }
    }
}

.b-shop__button {
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    color: #ffffff;
    width: 411px;
    height: 65px;
    background-color: #2f88f6;
    border-radius: 20px;
    border: none;
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;

    @media(max-width: 1199px) {
        width: 300px;
        font-size: 22px;
        line-height: 30px;
    }

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
        width: 250px;
        height: 40px;
        margin: 0 0 20px;
    }
}

.b-shop__agreement {
    text-align: center;
    font-size: 21.7px;
    line-height: 23px;
    font-weight: 400;
    color: #adb1b6;

    @media(max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
    }

    a {
        text-decoration: underline;
        color: #ffffff;
    }
}