* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: 350px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 296px;
  }
}

.b-wrapper-top {
  background: #333333;
}

.b-header__nav {
  background: #FFD900;
}

.b-header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 91px;
}

@media (max-width: 991px) {
  .b-header__nav .container {
    height: unset;
    padding: 20px 0;
  }
}

@media (max-width: 424px) {
  .b-header__nav .container {
    padding: 9px 0;
    height: 37px;
  }
}

@media (max-width: 424px) {
  .b-header__logo {
    width: 52px;
  }
}

.b-header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

@media (max-width: 991px) {
  .b-header__link {
    display: none;
  }
}

.b-header__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.b-header__city {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

@media (max-width: 991px) {
  .b-header__city {
    display: none;
  }
}

.b-header__city:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.b-header__tel {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 156px;
  height: 45px;
  background: #FFD900;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 991px) {
  .b-header__tel {
    margin-left: auto;
    margin-right: 20px;
  }
}

@media (max-width: 424px) {
  .b-header__tel {
    font-size: 16px;
    line-height: 20px;
    height: 25px;
    margin: 0;
  }
}

.b-header__tel:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
          box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
}

.b-header__button-burger {
  display: none;
  background: none;
  border: none;
}

@media (max-width: 991px) {
  .b-header__button-burger {
    display: block;
  }
}

.b-header__burger-menu {
  display: none;
  background: #FFD900;
}

.b-header__burger-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.burger-menu {
  display: none;
}

@media (max-width: 991px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}

.b-header__box {
  border-radius: 0px 0px 100px 100px;
  position: relative;
  height: 450px;
  background: url(../img/header_back.png) center no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .b-header__box {
    background: url(../img/back_768.png) left no-repeat;
    border-radius: 0;
    height: 513px;
  }
}

@media (max-width: 575px) {
  .b-header__box {
    background: url(../img/back_768.png) 15% no-repeat;
    height: 431px;
  }
}

@media (max-width: 424px) {
  .b-header__box {
    background: url(../img/back_375.png) right no-repeat;
    background-size: cover;
    height: 250px;
  }
}

@media (max-width: 320px) {
  .b-header__box {
    background: url(../img/back_320.png) no-repeat;
    background-position: right;
    height: 230px;
  }
}

.b-header__heading {
  font-weight: bold;
  font-size: 66px;
  line-height: 117.9%;
  color: #333333;
  max-width: 500px;
  padding-top: 33px;
}

@media (max-width: 768px) {
  .b-header__heading {
    font-size: 46px;
    max-width: 330px;
    padding-top: 96px;
  }
}

@media (max-width: 767px) {
  .b-header__heading {
    font-size: 30px;
    max-width: 200px;
    padding-top: 35px;
  }
}

@media (max-width: 424px) {
  .b-header__heading {
    font-size: 22px;
    width: 144px;
    padding-top: 26px;
  }
}

@media (max-width: 320px) {
  .b-header__heading {
    padding-top: 20px;
  }
}

.b-header__text {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 39px;
  line-height: 108.9%;
  color: #333333;
}

@media (max-width: 768px) {
  .b-header__text {
    margin-top: 20px;
    font-size: 26px;
    max-width: 330px;
  }
}

@media (max-width: 767px) {
  .b-header__text {
    font-size: 20px;
    max-width: 200px;
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .b-header__text {
    width: unset;
  }
}

@media (max-width: 424px) {
  .b-header__text {
    font-size: 14px;
    width: 150px;
    margin-top: 8px;
  }
}

.b-header__text img {
  margin-right: 14px;
}

@media (max-width: 768px) {
  .b-header__text img {
    width: 40px;
  }
}

@media (max-width: 424px) {
  .b-header__text img {
    width: 14px;
    margin-right: 5px;
  }
}

.b-header__img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 4.5%;
}

@media (min-width: 2560px) {
  .b-header__img {
    right: 23.5%;
  }
}

@media (max-width: 1199px) {
  .b-header__img {
    width: 500px;
    right: 1.5%;
  }
}

@media (max-width: 991px) {
  .b-header__img {
    width: 300px;
    right: 1.5%;
    top: 16%;
  }
}

@media (max-width: 768px) {
  .b-header__img {
    display: none;
  }
}

.b-main {
  padding: 55px 0;
  background: url(../img/main_back.png) top no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .b-main {
    padding: 0 0 36px;
  }
}

.b-main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .b-main__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-main__form {
  width: 445px;
  height: 400px;
  background: rgba(247, 247, 247, 0.29);
  border-radius: 20px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 13px 44px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0px 13px 44px rgba(0, 0, 0, 0.75));
}

@media (max-width: 575px) {
  .b-main__form {
    width: 100%;
  }
}

@media (max-width: 424px) {
  .b-main__form {
    background: #FFFFFF;
    margin-top: -29px;
    height: 292px;
    padding: 18px 0 25px;
  }
}

.b-main__form-heading {
  font-size: 18px;
  line-height: 123.6%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 424px) {
  .b-main__form-heading {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
  }
}

.b-main__form-heading span {
  font-weight: bold;
  font-size: 28px;
}

@media (max-width: 424px) {
  .b-main__form-heading span {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
  }
}

.b-main__input {
  border: 1px solid rgba(232, 232, 232, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 350px;
  height: 46px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 30px;
}

@media (max-width: 575px) {
  .b-main__input {
    width: 300px;
  }
}

@media (max-width: 424px) {
  .b-main__input {
    width: 280px;
  }
}

.b-main__submit {
  width: 156px;
  height: 45px;
  background: #FFD900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.b-main__submit:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
}

.b-main__or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 123.6%;
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .b-main__or {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .b-main__or img {
    display: none;
  }
}

.b-main__app-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 575px) {
  .b-main__app-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-main__app-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 123.6%;
  color: #FFFFFF;
}

@media (max-width: 575px) {
  .b-main__app-heading {
    font-size: 20px;
  }
}

.b-main__app-links {
  margin-top: 21px;
  margin-bottom: 21px;
}

@media (max-width: 424px) {
  .b-main__app-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.b-main__app-link {
  text-decoration: none;
}

.b-main__app-link:not(:last-child) {
  margin-right: 23px;
}

@media (max-width: 424px) {
  .b-main__app-link:not(:last-child) {
    margin-right: 0;
  }
}

.b-main__app-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 123.6%;
  color: #FFFFFF;
  margin-bottom: 6px;
}

@media (max-width: 575px) {
  .b-main__app-text {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.b-main__app-text svg {
  margin-right: 14px;
}

.b-main__app-ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 123.6%;
  color: #FFFFFF;
  margin-bottom: 6px;
  margin-left: 53px;
}

@media (max-width: 575px) {
  .b-main__app-ok {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.b-main__app-ok svg {
  margin-right: 13px;
}

.b-main__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .b-main__card-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 470px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .b-main__card-box {
    width: unset;
  }
}

.b-main__card-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 814px;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .b-main__card-box2 {
    width: 710px;
  }
}

@media (max-width: 991px) {
  .b-main__card-box2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 470px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .b-main__card-box2 {
    width: unset;
  }
}

.b-main__card {
  width: 240px;
  height: 240px;
  background: #FFD900;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .b-main__card {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 991px) {
  .b-main__card {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .b-main__card {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 424px) {
  .b-main__card {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .b-main__card {
    width: 122px;
    height: 122px;
  }
}

@media (max-width: 424px) {
  .b-main__card img {
    max-width: 70px;
    max-height: 50px;
  }
}

@media (max-width: 320px) {
  .b-main__card img {
    max-width: 58px;
    max-height: 42px;
  }
}

@media (max-width: 991px) {
  .b-main__card_center {
    margin: 0 auto;
  }
}

.b-main__card-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 117%;
  text-align: center;
  color: #333333;
  margin-top: 12px;
}

@media (max-width: 1199px) {
  .b-main__card-text {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .b-main__card-text {
    width: 150px;
  }
}

@media (max-width: 424px) {
  .b-main__card-text {
    max-width: 100px;
  }
}

@media (max-width: 320px) {
  .b-main__card-text {
    font-size: 14px;
  }
}

.b-car-park {
  background: #F7F7F7;
  border-radius: 80px;
  padding-top: 65px;
  padding-bottom: 55px;
}

@media (max-width: 767px) {
  .b-car-park {
    border-radius: 50px;
  }
}

.b-car-park .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-car-park__heading {
  font-weight: 600;
  font-size: 39px;
  line-height: 53px;
  text-align: center;
  color: #333333;
  margin-bottom: 51px;
}

.swiper-container {
  width: 1110px;
  height: 652px;
}

@media (max-width: 1199px) {
  .swiper-container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .swiper-container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .swiper-container {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .swiper-container {
    width: 375px;
  }
}

@media (max-width: 424px) {
  .swiper-container {
    width: 310px;
  }
}

@media (max-width: 320px) {
  .swiper-container {
    width: 296px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-car-park__slide {
  width: 350px;
  height: 652px;
  background: #FFFFFF;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 62px;
}

.b-car-park__slide img {
  height: 222px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.b-car-park__slide-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  margin-top: 57px;
  margin-bottom: 19px;
}

.b-car-park__slide-description {
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 51, 51, 0.6);
}

.b-car-park__new-price {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 10px;
}

.b-car-park__old-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: rgba(51, 51, 51, 0.5);
  text-decoration: line-through;
}

.b-car-park__slide-button {
  cursor: pointer;
  width: 202px;
  height: 61px;
  background: #FFD900;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 49px;
}

.b-car-park__slide-button:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
}

.b-car-park__slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 0;
}

.swiper-button-prev,
.swiper-button-next {
  position: unset;
  width: 30px;
  height: 30px;
  margin-top: 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '';
}

.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
  background: #FFD900;
}

.b-advantages {
  padding-top: 65px;
  padding-bottom: 120px;
}

@media (max-width: 1199px) {
  .b-advantages {
    padding-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .b-advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.b-advantages__heading {
  font-weight: 600;
  font-size: 39px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .b-advantages__heading {
    margin-bottom: 30px;
  }
}

.b-advantages__card-box {
  background: url(../img/advantages.png) center no-repeat;
  background-size: cover;
  height: 180px;
  width: 100%;
}

@media (min-width: 2560px) {
  .b-advantages__card-box {
    background-size: contain;
  }
}

@media (max-width: 1199px) {
  .b-advantages__card-box {
    background: none;
    height: unset;
  }
}

.b-advantages__card-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .b-advantages__card-box .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .b-advantages__card {
    background: url(../img/card_back.png) center no-repeat;
    background-size: contain;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 575px) {
  .b-advantages__card {
    height: 110px;
  }
}

.b-advantages__card img {
  margin-right: 23px;
}

@media (max-width: 424px) {
  .b-advantages__card img {
    width: 50px;
    margin-right: 10px;
  }
}

@media (max-width: 1199px) {
  .b-advantages__card:not(:last-child) {
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .b-advantages__card:not(:last-child) {
    margin-bottom: 10px;
  }
}

.b-advantages__card-text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 181px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1199px) {
  .b-advantages__card-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .b-advantages__card-text {
    font-size: 16px;
    line-height: 18px;
  }
}

.b-advantages__card-text span {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .b-advantages__card-text span {
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .b-advantages__card-text span {
    font-size: 20px;
    line-height: 24px;
  }
}

.b-what {
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .b-what {
    padding-bottom: 30px;
  }
}

.b-what .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-what__heading {
  font-weight: 600;
  font-size: 39px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
}

.b-what__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 34px;
  width: 100%;
}

@media (max-width: 991px) {
  .b-what__box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.b-what__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 750px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .b-what__box2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.b-what__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 302px;
}

@media (max-width: 991px) {
  .b-what__card {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
    margin-bottom: 30px;
  }
}

.b-what__card img {
  margin-bottom: 31px;
  width: 120px;
}

@media (max-width: 991px) {
  .b-what__card img {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .b-what__card img {
    width: 100px;
  }
}

@media (max-width: 424px) {
  .b-what__card img {
    width: 74px;
  }
}

.b-what__card-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 991px) {
  .b-what__card-text {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .b-what__card-text {
    font-size: 24px;
    line-height: 26px;
    max-width: 350px;
  }
}

@media (max-width: 575px) {
  .b-what__card-text {
    width: 200px;
  }
}

@media (max-width: 424px) {
  .b-what__card-text {
    font-size: 16px;
    line-height: 22px;
  }
}

.b-what__card-text span {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 991px) {
  .b-what__card-text span {
    text-align: left;
  }
}

.b-what__button {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 208px;
  height: 61px;
  background: #FFD900;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  border: none;
}

@media (max-width: 991px) {
  .b-what__button {
    margin-top: 30px;
  }
}

.b-what__button:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
}

.b-when {
  padding: 60px 0;
}

@media (max-width: 1199px) {
  .b-when {
    padding: 30px 0;
  }
}

.b-when__heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.b-when__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .b-when__card-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-when__card {
  background: linear-gradient(129.3deg, #F7F7F7 2.41%, #FFFFFF 64.67%);
  -webkit-box-shadow: -1px 1px 2px rgba(232, 232, 232, 0.2), 1px -1px 2px rgba(232, 232, 232, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(232, 232, 232, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(232, 232, 232, 0.5);
          box-shadow: -1px 1px 2px rgba(232, 232, 232, 0.2), 1px -1px 2px rgba(232, 232, 232, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(232, 232, 232, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(232, 232, 232, 0.5);
  border-radius: 7px;
  width: 539px;
  height: 300px;
  padding: 29px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 575px) {
  .b-when__card {
    width: 310px;
    padding: 20px;
  }
}

.b-when__card:nth-child(-n+2) {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .b-when__card:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .b-when__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.b-when__card-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  width: 350px;
  padding-top: 40px;
}

@media (max-width: 575px) {
  .b-when__card-heading {
    width: unset;
    font-size: 25px;
    line-height: 30px;
  }
}

.b-when__card-text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 350px;
}

@media (max-width: 575px) {
  .b-when__card-text {
    width: unset;
  }
}

.b-when__card_m {
  padding: 29px 0 0 0;
}

@media (max-width: 575px) {
  .b-when__card_m {
    padding-top: 20px;
  }
}

.b-when__card_m img {
  margin-left: 41px;
}

@media (max-width: 575px) {
  .b-when__card_m img {
    margin-left: 20px;
  }
}

.b-when__card_m:nth-child(-n+2) {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .b-when__card_m:not(:last-child) {
    margin-bottom: 30px;
  }
}

.b-when__card-heading_m {
  margin-left: 41px;
  padding-top: 0;
}

@media (max-width: 575px) {
  .b-when__card-heading_m {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.b-when__card-text_m {
  width: 400px;
  margin-left: 41px;
}

@media (max-width: 575px) {
  .b-when__card-text_m {
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.b-when__card-bottom {
  width: 541px;
  height: 75px;
  background: #FFD900;
  border-radius: 0px 0px 7px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 39px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  -webkit-box-shadow: -1px 1px 2px rgba(232, 232, 232, 0.2);
          box-shadow: -1px 1px 2px rgba(232, 232, 232, 0.2);
}

@media (max-width: 575px) {
  .b-when__card-bottom {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.b-when__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-how {
  width: 100%;
  height: 1027px;
  background: url(../img/road.png) center no-repeat;
  background-size: contain;
}

@media (max-width: 1439px) {
  .b-how {
    background: #FFD900;
    height: 665px;
  }
}

.b-how .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 60px;
}

@media (max-width: 1439px) {
  .b-how .container {
    padding-bottom: 25px;
  }
}

.b-how__heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #333333;
  padding-top: 60px;
  padding-bottom: 54px;
}

@media (max-width: 1439px) {
  .b-how__heading {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 1199px) {
  .b-how__heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1439px) {
  .b-how__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.b-how__text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1439px) {
  .b-how__text {
    font-size: 16px;
    line-height: 20px;
    height: 75px;
    width: 380px;
  }
}

@media (max-width: 991px) {
  .b-how__text {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .b-how__text {
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 575px) {
  .b-how__text {
    width: 164px;
  }
}

@media (max-width: 424px) {
  .b-how__text {
    width: 142px;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 320px) {
  .b-how__text {
    width: 122px;
  }
}

.b-how__text img {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .b-how__text img {
    margin-right: 0;
    margin-bottom: 7px;
    width: 30px;
  }
}

.b-how__text span {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
}

@media (max-width: 1439px) {
  .b-how__text span {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 424px) {
  .b-how__text span {
    font-size: 16px;
  }
}

.b-how__text1 {
  margin-left: 80px;
}

@media (max-width: 1439px) {
  .b-how__text1 {
    margin-left: 0;
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .b-how__text1 {
    margin-top: 27px;
  }
}

.b-how__text2 {
  margin-left: 650px;
  margin-top: -23px;
}

@media (max-width: 1439px) {
  .b-how__text2 {
    margin-left: 0;
    margin-top: 190px;
  }
}

@media (max-width: 575px) {
  .b-how__text2 {
    margin-top: 97px;
  }
}

.b-how__text3 {
  margin-left: 390px;
  margin-top: 129px;
}

@media (max-width: 1439px) {
  .b-how__text3 {
    margin-left: 0;
    margin-top: 5px;
  }
}

.b-how__text4 {
  margin-left: 650px;
  margin-top: 56px;
}

@media (max-width: 1439px) {
  .b-how__text4 {
    margin-left: 0;
    margin-top: 152px;
  }
}

@media (max-width: 575px) {
  .b-how__text4 {
    margin-top: 97px;
  }
}

@media (max-width: 424px) {
  .b-how__text4 {
    margin-top: 56px;
  }
}

.b-how__button {
  font-size: 18px;
  line-height: 25px;
  width: 208px;
  height: 61px;
  background: #FFD900;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  margin-top: 252px;
  margin-left: 490px;
}

@media (max-width: 1439px) {
  .b-how__button {
    margin-left: calc(50% - 104px);
    margin-top: 20px;
  }
}

.b-how__button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
          box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
}

.b-how__img {
  display: none;
}

@media (max-width: 1439px) {
  .b-how__img {
    display: block;
    position: absolute;
    top: 58px;
    left: calc(50% - 74.5px);
  }
}

.b-wrapper-bottom {
  background: #F7F7F7;
}

.b-answers {
  padding: 60px 0;
}

.b-answers__heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #333333;
  margin-bottom: 36px;
}

.b-answers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 14px;
  border-bottom: 4px solid #F2F2F2;
}

.b-answers__question {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
}

.b-answers__question-answer {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin-top: 10px;
  display: none;
}

.b-answers__button {
  border: none;
  background: none;
  cursor: pointer;
}

.b-answers__button-plus {
  display: none;
}

.b-answers__button-minus {
  display: none;
}

.b-review {
  padding: 60px 0;
}

.b-review__heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.slider2 {
  width: 1110px;
  height: 378px;
}

@media (max-width: 1199px) {
  .slider2 {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .slider2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .slider2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .slider2 {
    width: 375px;
  }
}

@media (max-width: 424px) {
  .slider2 {
    width: 310px;
  }
}

@media (max-width: 320px) {
  .slider2 {
    width: 296px;
  }
}

.b-review__slide {
  width: 538px;
  height: 378px;
  background: #FFFFFF;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.b-review__slide-img {
  padding: 28px 33px 33px;
}

@media (max-width: 424px) {
  .b-review__slide-img {
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .b-review__slide-img {
    padding: 20px 20px 10px;
  }
}

.b-review__slide-text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  padding: 0 33px;
}

@media (max-width: 575px) {
  .b-review__slide-text {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .b-review__slide-text {
    padding: 0 20px;
  }
}

.b-review__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFD900;
  border-radius: 0px 0px 7px 7px;
  width: 100%;
  height: 86px;
}

.b-review__name-box img {
  margin-left: 33px;
  margin-right: 12px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 320px) {
  .b-review__name-box img {
    margin-left: 20px;
  }
}

.b-review__name {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.b-review__name_p {
  margin-left: 33px;
}

@media (max-width: 320px) {
  .b-review__name_p {
    margin-left: 20px;
  }
}

.b-city {
  padding: 60px 0;
}

.b-city__heading {
  font-weight: 600;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.b-city__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  .b-city__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .b-city__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.b-city__button {
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  width: 260px;
  height: 65px;
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .b-city__button {
    width: 215px;
  }
}

@media (max-width: 991px) {
  .b-city__button {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .b-city__button {
    width: 215px;
    margin-bottom: 30px;
  }
}

.b-city__button:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
}

.b-city__button_active {
  background: #FFD900;
}

.b-city__button > .b-city__button-text {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

@media (max-width: 991px) {
  .b-city__button > .b-city__button-text {
    font-size: 16px;
    line-height: 20px;
  }
}

.b-city__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .b-city__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-city__address-box {
  display: none;
}

.b-city__address {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.b-city__address img {
  margin-right: 31px;
}

@media (max-width: 767px) {
  .b-city__address {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 424px) {
  .b-city__address {
    font-size: 20px;
    line-height: 24px;
  }
}

.b-city__bottom-button {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 278px;
  height: 61px;
  border: 2px solid #FFD900;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .b-city__bottom-button {
    width: 200px;
  }
}

.b-city__bottom-button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
          box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
}

.b-application {
  height: 494px;
  background: url(../img/application.png) center no-repeat;
  background-size: cover;
  padding: 60px 0;
}

@media (max-width: 424px) {
  .b-application {
    height: unset;
    padding: 30px 0;
  }
}

.b-application__heading {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.b-application__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-application__input {
  width: 350px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

@media (max-width: 424px) {
  .b-application__input {
    width: 300px;
  }
}

.b-application__text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
}

.b-application__link {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 35px;
}

.b-application__submit {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 156px;
  height: 45px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.b-application__submit:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
          box-shadow: 0px 4px 4px rgba(255, 252, 0, 0.6);
}

.b-footer {
  background: #333333;
}

.b-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 334px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 69px 0 49px;
}

@media (max-width: 424px) {
  .b-footer .container {
    height: unset;
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 424px) {
  .b-footer__links {
    height: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footer__logo {
  width: 151px;
  height: 55px;
}

@media (max-width: 424px) {
  .b-footer__logo {
    margin-bottom: 15px;
  }
}

.b-footer__link {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 424px) {
  .b-footer__link {
    margin-bottom: 15px;
  }
}

.b-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 424px) {
  .b-footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footer__tel {
  font-weight: bold;
  font-size: 29px;
  line-height: 39px;
  color: #FFD900;
  text-decoration: none;
}

.b-footer__tel img {
  height: 23px;
}

.b-footer__application {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  cursor: pointer;
  width: 208px;
  height: 61px;
  background: #FFD900;
  border-radius: 5px;
  margin: 21px 0;
  border: none;
}

@media (max-width: 575px) {
  .b-footer__application {
    width: 130px;
  }
}

.b-footer__application:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 217, 0, 0.3);
}

.b-footer__social-link {
  text-decoration: none;
}

.b-footer__social-link:not(:last-child) {
  margin-right: 10px;
}

.b-footer__social-link:hover path {
  fill: #FFD900;
}

.b-pop-up {
  width: 657px;
  height: 702px;
  background: #FFFFFF;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px 24px 49px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: calc(50% - 351px);
  left: calc(50% - 328.5px);
}

@media (max-width: 767px) {
  .b-pop-up {
    width: 540px;
    left: calc(50% - 270px);
  }
}

@media (max-width: 575px) {
  .b-pop-up {
    width: 375px;
    left: calc(50% - 187.5px);
    top: calc(50% - 250px);
    height: 500px;
  }
}

@media (max-width: 424px) {
  .b-pop-up {
    width: 296px;
    left: calc(50% - 148px);
    padding: 20px;
  }
}

.b-pop-up__close {
  border: none;
  background: none;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.b-pop-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-pop-up__heading {
  font-size: 34px;
  line-height: 46px;
  color: #333333;
  margin-top: 35px;
  margin-bottom: 17px;
}

@media (max-width: 575px) {
  .b-pop-up__heading {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.b-pop-up__text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  width: 360px;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .b-pop-up__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 300px;
  }
}

@media (max-width: 424px) {
  .b-pop-up__text {
    width: 280px;
  }
}

.b-pop-up__input {
  width: 438px;
  height: 78px;
  border: 2px solid #F7F7F7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .b-pop-up__input {
    width: 300px;
    height: 50px;
  }
}

@media (max-width: 424px) {
  .b-pop-up__input {
    width: 280px;
  }
}

.b-pop-up__confidentiality-box {
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 51, 51, 0.8);
}

@media (max-width: 575px) {
  .b-pop-up__confidentiality-box {
    font-size: 16px;
    line-height: 20px;
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 424px) {
  .b-pop-up__confidentiality-box {
    width: 280px;
  }
}

.b-pop-up__link {
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 51, 51, 0.8);
}

@media (max-width: 575px) {
  .b-pop-up__link {
    font-size: 16px;
    line-height: 20px;
  }
}

.b-pop-up__submit {
  width: 160px;
  height: 61px;
  background: #FFD900;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 66px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 575px) {
  .b-pop-up__submit {
    margin-top: 20px;
  }
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display_block {
  display: block;
}
/*# sourceMappingURL=style.css.map */