* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: 310px;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 170%;
}

.b-header {
  background: #EF7D00;
  padding: 17px 0;
  position: relative;
}

.b-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header__logo-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 575px) {
  .b-header__logo-link {
    width: 102px;
  }
  .b-header__logo-link img {
    width: 102px;
  }
}

.b-header__geo-link {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header__geo-link:hover {
  text-decoration: underline;
}

.b-header__geo-link svg {
  margin-right: 6px;
}

.b-header__geo-link svg:hover {
  opacity: 0.7;
}

@media (max-width: 1199px) {
  .b-header__geo-link {
    display: none;
  }
}

.b-header__geo-link:not(:last-child) {
  margin-right: 35px;
}

.b-header__currency {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 35px;
}

@media (max-width: 1199px) {
  .b-header__currency {
    display: none;
  }
}

.b-header__currency-menu {
  padding: 10px 14px;
  position: absolute;
  z-index: 100;
  background: #FFFFFF;
  top: 26px;
  left: 51%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header__currency-type {
  color: #EF7D00;
}

.b-header__currency-type:hover {
  text-decoration: underline;
}

.b-header__currency-type:not(:last-child) {
  margin-bottom: 10px;
}

.b-header__language {
  position: relative;
  margin-right: 35px;
}

.b-header__language-menu {
  left: 51%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 36px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.b-header__language-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-header__language-now:hover img {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.b-header__language-now img {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.b-header__language-type {
  color: #EF7D00;
}

.b-header__language-type:hover {
  text-decoration: underline;
}

.b-header__language-type:not(:last-child) {
  margin-bottom: 10px;
}

.b-header__burger-button {
  background: none;
  border: none;
}

.b-header__burger-menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  right: 0;
  padding: 22px 0 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
          box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
  width: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-x: hidden;
}

.b-header__burger-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.burgerMenuOpen {
  width: 100%;
  -webkit-animation: side-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: side-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.b-header__burger-link {
  color: #1B1C1D;
  text-decoration: none;
}

.b-header__burger-link:not(:last-child) {
  margin-bottom: 11px;
}

.b-header__burger-select {
  border: none;
  color: #1B1C1D;
  width: 200px;
  margin-left: -4px;
  margin-bottom: 11px;
}

.b-header__burger-select:not(:nth-child(3)) {
  margin-bottom: 5px;
}

.b-main {
  padding: 260px 0;
  background: url(../img/index_background.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 1199px) {
  .b-main {
    padding: 76px 0 94px;
  }
}

@media (max-width: 575px) {
  .b-main {
    padding: 103px 0 109px;
  }
}

.b-main__heading {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.b-main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-main__input-box {
  position: relative;
  margin-bottom: 10px;
}

.b-main__input_age1199 {
  display: none;
}

@media (max-width: 1199px) {
  .tablet_none {
    display: none;
  }
}

.tablet_block {
  display: block;
}

.b-main__input {
  width: 210px;
  height: 42px;
  background: #FFFFFF;
  border: 3px solid #EF7D00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1B1C1D;
  padding: 10px;
}

@media (max-width: 1199px) {
  .b-main__input {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .b-main__input {
    width: 355px;
  }
}

@media (max-width: 767px) {
  .b-main__input {
    width: 265px;
  }
}

@media (max-width: 575px) {
  .b-main__input {
    width: 195px;
  }
}

@media (max-width: 424px) {
  .b-main__input {
    width: 150px;
  }
}

.b-main__input-svg {
  position: absolute;
  right: 13px;
  top: 13px;
}

@media (max-width: 1199px) {
  .b-main__input_age1400 {
    display: none;
  }
}

.ui-datepicker {
  width: unset !important;
  height: unset !important;
  background: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 170%;
  color: #000000;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-widget-header {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-radius: unset;
  padding: 0 0 10px 0 !important;
}

.ui-datepicker-prev:hover {
  background: none;
  border: #FFFFFF solid 1px;
  cursor: pointer;
}

.ui-datepicker-next:hover {
  background: none;
  border: #FFFFFF solid 1px;
  cursor: pointer;
}

.ui-icon-circle-triangle-w {
  background-position: unset;
  background-image: url(../img/calendar-prev.svg) !important;
}

.ui-icon-circle-triangle-w:hover {
  background-image: url(../img/calendar-prev_hover.svg) !important;
}

.ui-icon-circle-triangle-e {
  background-position: unset;
  background-image: url(../img/calendar-next.svg) !important;
}

.ui-icon-circle-triangle-e:hover {
  background-image: url(../img/calendar-next_hover.svg) !important;
}

.ui-datepicker th {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #1B1C1D;
  padding: 0 5px 2px !important;
}

.ui-datepicker td a {
  border: none !important;
  background: none !important;
  font-weight: normal;
  color: #1B1C1D;
  padding: 0 3px;
  text-align: center;
}

.ui-datepicker td a:hover {
  background: #f2f2f2 !important;
}

.ui-datepicker-current-day a {
  color: #EF7D00 !important;
}

.b-main__geo {
  width: 477px;
}

@media (max-width: 1199px) {
  .b-main__geo {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .b-main__geo {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .b-main__geo {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .b-main__geo {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-main__geo {
    width: 310px;
  }
}

.b-main__geo_last {
  width: 698px;
}

@media (max-width: 1199px) {
  .b-main__geo_last {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .b-main__geo_last {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .b-main__geo_last {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .b-main__geo_last {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-main__geo_last {
    width: 310px;
  }
}

.b-main__phone {
  width: 449px;
}

@media (max-width: 1199px) {
  .b-main__phone {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .b-main__phone {
    width: 355px;
  }
}

@media (max-width: 767px) {
  .b-main__phone {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .b-main__phone {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-main__phone {
    width: 310px;
  }
}

.b-main__button {
  width: 210px;
  height: 42px;
  background: #EF7D00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  border: none;
  border-radius: unset;
  cursor: pointer;
}

.b-main__button:hover {
  background: #CC6B00;
}

@media (max-width: 1199px) {
  .b-main__button {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .b-main__button {
    width: 355px;
  }
}

@media (max-width: 767px) {
  .b-main__button {
    width: 265px;
  }
}

@media (max-width: 575px) {
  .b-main__button {
    width: 195px;
  }
}

@media (max-width: 424px) {
  .b-main__button {
    width: 150px;
  }
}

.b-footer {
  background: #1B1C1D;
  padding: 34px 0 48px;
}

.b-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575px) {
  .b-footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .b-footer__logo {
    width: 102px;
  }
  .b-footer__logo img {
    width: 102px;
  }
}

.b-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 130px;
}

@media (max-width: 575px) {
  .b-footer__links {
    max-width: unset;
    margin-top: 33px;
  }
}

.b-footer__link {
  color: #FFFFFF;
  text-decoration: none;
}

.b-footer__link:hover {
  text-decoration: underline;
}

.b-footer__link:not(:last-child) {
  margin-bottom: 10px;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */