* {
    padding: 0;
    margin: 0;
    outline: none;
    // -webkit-appearance: none;
}

a {
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none
}

details>summary {
    list-style: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;

    @media (max-width: 1199px) {
        max-width: 960px;
    }

    @media (max-width: 991px) {
        max-width: 720px;
    }

    @media (max-width: 767px) {
        max-width: 540px;
    }

    @media (max-width: 575px) {
        max-width: 400px;
    }

    @media (max-width: 424px) {
        max-width: 310px;
    }
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;

    @media (max-width: 424px) {
        font-size: 12px;
    }
}

.mini-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;

    @media (max-width: 424px) {
        font-size: 12px;
    }
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 170%;
}

.heading-mini {
    font-size: 18px;
    line-height: 170%;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: 991px) {
        font-size: 16px;
    }

    @media (max-width: 424px) {
        font-size: 12px;
    }
}

.b-header {
    background: #EF7D00;
    padding: 17px 0;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.b-header__logo-link {
    flex: 1;

    @media (max-width: 575px) {
        width: 102px;

        & img {
            width: 102px;
        }
    }
}

.b-header__geo-link {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }

    svg {

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: 1199px) {
        display: none;
    }
}

.b-header__geo-link_mr {
    margin-right: 35px;

    svg {
        margin-right: 6px;
    }
}

.b-header__currency {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;

    @media (max-width: 1199px) {
        display: none;
    }
}

.b-header__currency-menu {
    padding: 10px 14px;
    position: absolute;
    z-index: 100;
    background: #FFFFFF;
    top: 26px;
    left: 51%;
    transform: translate(-50%, 0);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-header__currency-type {
    color: #EF7D00;

    &:hover {
        text-decoration: underline;
    }
}

.b-header__currency-type:not(:last-child) {
    margin-bottom: 10px;
}

.b-header__language {
    position: relative;
    margin-right: 35px;
}

.b-header__language-menu {
    left: 51%;
    transform: translate(-50%, 0);
    top: 36px;
    align-items: start;
}

.b-header__language-now {
    display: flex;

    &:hover img {
        border: 1px solid rgba(255, 255, 255, 0.7);
    }

    img {
        width: 28px;
        height: 28px;
        object-fit: contain;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
}

.b-header__language-type {
    color: #EF7D00;

    &:hover {
        text-decoration: underline;
    }
}

.b-header__language-type:not(:last-child) {
    margin-bottom: 10px;
}

.b-header__burger-button {
    background: none;
    border: none;
    display: none;

    @media (max-width: 1199px) {
        display: block;
    }
}

.b-header__burger-menu {
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    padding: 22px 0 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    width: 0;
    transition: all 0.5s;
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.burgerMenuOpen {
    width: 100%;
    -webkit-animation: side-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: side-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 500ms ease-in-out;
}

.b-header__burger-link {
    color: #1B1C1D;
    text-decoration: none;
}

.b-header__burger-link:not(:last-child) {
    margin-bottom: 11px;
}

.b-header__burger-select {
    border: none;
    color: #1B1C1D;
    width: 200px;
    margin-left: -4px;
    margin-bottom: 11px;
}

.b-header__burger-select:not(:nth-child(3)) {
    margin-bottom: 5px;
}

.b-main {
    padding: 260px 0;
    background: url(../img/index_background.png) no-repeat center;
    background-size: cover;

    @media (max-width: 1199px) {
        padding: 76px 0 94px;
    }

    @media (max-width: 575px) {
        padding: 103px 0 109px;
    }
}

.b-main__heading {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.b-main__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.b-main__input-box {
    position: relative;
    margin-bottom: 10px;
}

.b-main__input_age1199 {
    display: none;
}

.tablet_none {
    @media (max-width: 1199px) {
        display: none;
    }
}

.tablet_block {
    @media (max-width: 1199px) {
        display: block;
    }
}

.b-main__input {
    width: 210px;
    height: 42px;
    background: #FFFFFF;
    border: 3px solid #EF7D00;
    box-sizing: border-box;
    color: #1B1C1D;
    padding: 10px;

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 355px;
    }

    @media (max-width: 767px) {
        width: 265px;
    }

    @media (max-width: 575px) {
        width: 195px;
    }

    @media (max-width: 424px) {
        width: 150px;
    }
}

.b-main__input-svg {
    position: absolute;
    right: 13px;
    top: 13px;
}

.b-main__input_age1400 {
    @media (max-width: 1199px) {
        display: none;
    }
}

.ui-datepicker {
    width: unset !important;
    height: unset !important;
    background: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 170%;
    color: #000000;
    padding: 14px 20px;
    box-sizing: border-box;
}

.ui-widget-header {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: unset;
    padding: 0 0 10px 0 !important;
}

.ui-datepicker-prev {
    &:hover {
        background: none;
        border: #FFFFFF solid 1px;
        cursor: pointer;
    }
}

.ui-datepicker-next {
    &:hover {
        background: none;
        border: #FFFFFF solid 1px;
        cursor: pointer;
    }
}

.ui-icon-circle-triangle-w {
    background-position: unset;
    background-image: url(../img/calendar-prev.svg) !important;

    &:hover {
        background-image: url(../img/calendar-prev_hover.svg) !important;
    }
}

.ui-icon-circle-triangle-e {
    background-position: unset;
    background-image: url(../img/calendar-next.svg) !important;

    &:hover {
        background-image: url(../img/calendar-next_hover.svg) !important;
    }
}

.ui-datepicker th {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;
    color: #1B1C1D;
    padding: 0 5px 2px !important;
}

.ui-datepicker td a {
    border: none !important;
    background: none !important;
    font-weight: normal;
    color: #1B1C1D;
    padding: 0 3px;
    text-align: center;

    &:hover {
        background: #f2f2f2 !important;
    }
}

.ui-datepicker-current-day a {
    color: #EF7D00 !important;
}

.b-main__geo {
    width: 477px;

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 720px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 400px;
    }

    @media (max-width: 424px) {
        width: 310px;
    }
}

.b-main__geo_last {
    width: 698px;

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 720px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 400px;
    }

    @media (max-width: 424px) {
        width: 310px;
    }
}

.b-main__phone {
    width: 431px;

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 355px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 400px;
    }

    @media (max-width: 424px) {
        width: 310px;
    }
}

.b-main__phone_email {
    width: 475px;

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 355px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 400px;
    }

    @media (max-width: 424px) {
        width: 310px;
    }
}

.b-main__button {
    width: 210px;
    height: 42px;
    background: #EF7D00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    border-radius: unset;
    cursor: pointer;

    &:hover {
        background: #CC6B00;
    }

    @media (max-width: 1199px) {
        width: 475px;
    }

    @media (max-width: 991px) {
        width: 355px;
    }

    @media (max-width: 767px) {
        width: 265px;
    }

    @media (max-width: 575px) {
        width: 195px;
    }

    @media (max-width: 424px) {
        width: 150px;
    }
}

.b-footer {
    background: #1B1C1D;
    padding: 34px 0 48px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 575px) {
            flex-direction: column;
        }
    }
}

.b-footer__logo {
    @media (max-width: 575px) {
        width: 102px;

        & img {
            width: 102px;
        }
    }
}

.b-footer__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 200px;

    @media (max-width: 575px) {
        max-width: unset;
        margin-top: 33px;
    }
}

.b-footer__link {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.b-footer__link:not(:last-child) {
    margin-bottom: 10px;
}

.b-steps {
    padding: 30px 0;
    background: #E5E5E5;

    @media (max-width: 1199px) {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.b-steps__box {
    width: 268px;
    height: 136px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(27, 28, 29, 0.1);
    box-sizing: border-box;
    padding: 7px 20px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.b-steps__box_active {
    border-bottom: 9px solid #EF7D00;
    border-top: 9px solid #FFFFFF;
    justify-content: center;
}

.b-steps__box_next {
    justify-content: center;
}

.b-steps__text {
    text-align: center;
    color: #1B1C1D;
}

.b-steps__link {
    text-align: center;
    color: #EF7D00;
}

.b-steps__info {
    display: flex;
    align-items: center;
}

.b-steps__info-icon {
    margin-left: 5px;
    cursor: pointer;
    position: relative;

    &:hover>.b-steps__info-box {
        transform: scaleY(1);
    }
}

.b-steps__info-box {
    position: absolute;
    z-index: 1;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    display: flex;
    align-items: start;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 0.3s;

    svg {
        margin-right: 10px;
    }
}

.b-steps__info-description {
    color: #1B1C1D;
    margin-bottom: 16px;
    white-space: nowrap;
    font-weight: normal;
}

.b-steps__box-in-box {
    display: flex;
}

.b-steps__day-box {
    display: flex;
}

.b-steps__day-box:not(:last-child) {
    margin-right: 30px;
}

.b-steps__days {
    font-weight: normal;
    margin-right: 5px;
}

.b-steps__times {
    white-space: nowrap;
}

.b-steps__info_active {
    color: #EF7D00;
}

.b-steps-1199 {
    background: #E5E5E5;
    padding: 20px 0;
    display: none;

    @media (max-width: 1199px) {
        display: block;
    }
}

.b-steps-1199__heading {
    font-weight: normal;
    color: #EF7D00;
}

.b-steps-1199__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10px;
}

.b-steps-1199__step {
    height: 9px;
    background: #FFFFFF;
}

.b-steps-1199__step_active {
    background: #EF7D00;
}

.b-sorting {
    background: #E5E5E5;
    padding-bottom: 23px;

    .b-sorting__container {
        margin: 0 auto;
        max-width: 1140px;
        background: #EF7D00;
        box-shadow: 0px 4px 14px rgba(27, 28, 29, 0.05);

        .container {
            height: 37px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 24px;
            box-sizing: border-box;

            @media (max-width: 991px) {
                padding: 0 10px;
            }

            @media (max-width: 767px) {
                padding: 10px 0;
                height: unset;
                flex-wrap: wrap;
            }

            @media (max-width: 575px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
        }
    }
}

.b-sorting__link-box {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    &:hover>.b-sorting__link-menu {
        transform: scaleY(1) translate(-50%, 0);
    }

    &:hover>.b-sorting__link {
        text-decoration: underline;
    }
}

.b-sorting__link {
    color: #FFFFFF;
    display: flex;
    align-items: center;

    svg {
        margin-left: 9px;
    }
}

.b-sorting__link-menu {
    position: absolute;
    z-index: 10;
    top: 100%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    left: 50%;
    transform: scaleY(0) translate(-50%, 0);
    transform-origin: 0 0;
    transition: 0.3s;
}

.b-sorting__checkbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #1B1C1D;
}

.b-sorting__checkbox:not(:last-child) {
    margin-bottom: 15px;
}

.b-sorting__checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.b-sorting__checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.b-sorting__checkbox>span::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.5px solid #EF7D00;
    margin-right: 10px;
}

.b-sorting__checkbox>input:checked+span::before {
    background-image: url(/img/checked.svg);
    background-repeat: no-repeat;
    background-position: center 2px;
    background-color: #EF7D00;
}

.b-sorting__select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 141px;

    svg {
        margin-left: 8px;
    }

    &:hover .b-sorting__select-now {
        text-decoration: underline;
    }

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }

    @media (max-width: 575px) {
        justify-content: start;
        margin-bottom: 0;
    }
}

.b-sorting__select-menu {
    padding: 20px;
    position: absolute;
    z-index: 100;
    background: #FFFFFF;
    top: 100%;
    left: 50%;
    transform: scale(0) translate(-50%, 0);
    transform-origin: 0 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sortingOpen {
    transform: scale(1) translate(-50%, 0);
}

.b-sorting__select-type {
    color: #EF7D00;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

.b-sorting__select-type:not(:last-child) {
    margin-bottom: 10px;
}

.b-sorting__link-checkbox {
    position: relative;
    display: flex;
    width: 21px;
    height: 11px;
    margin-top: 4px;
    margin-left: 13px;
}

.b-sorting__link-checkbox input {
    display: none;
}

.b-sorting__link-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.b-sorting__link-span:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    left: 1px;
    bottom: 1px;
    background-color: rgba(255, 134, 1, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:focus+.b-sorting__link-span {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.b-sorting__link-span:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: #EF7D00;
}

.b-catalog {
    background: #E5E5E5;
    padding-bottom: 119px;
}

.b-catalog__card {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 991px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media (max-width: 575px) {
        justify-content: start;
    }
}

.b-catalog__img {
    object-fit: cover;
    object-position: center;
    width: 287px;
    height: 160px;

    @media (max-width: 575px) {
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
    }
}

.b-catalog__info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.b-catalog__info-name {
    @media (max-width: 575px) {
        display: none;
    }
}

.b-catalog__info-name575 {
    display: none;

    @media (max-width: 575px) {
        display: block;
    }
}

.b-catalog__info-description {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #1B1C1D;

    svg {
        margin-right: 13px;
        width: 19px;
    }

    span {
        font-weight: bold;
    }

    @media (max-width: 575px) {
        width: 100%;
    }
}

.b-catalog__info-description_grey {
    color: rgba(27, 28, 29, 0.5);
}

.b-catalog__info-description:not(:last-child) {
    margin-bottom: 8px;
}

.b-catalog__info-description_mb22 {
    margin-bottom: 22px !important;

    @media (max-width: 991px) {
        margin-bottom: 15px !important;
    }
}

.b-catalog__info-description_mb0 {
    margin-bottom: 0 !important;
}

.b-catalog__info-description_or {
    @media (max-width: 575px) {
        display: none;
    }
}

.b-catalog__info-description_or_575 {
    display: none;

    @media (max-width: 575px) {
        display: block;
    }
}

.b-catalog__hr {
    display: none;

    @media (max-width: 575px) {
        display: block;
        width: 100%;
        margin-top: 16px;
    }
}

.b-catalog__pay-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
        margin-top: 15px;
    }

    @media (max-width: 575px) {
        width: 100%;
    }
}

.b-catalog__pay-box_later {
    @media (max-width: 575px) {
        display: none;
    }
}

.b-catalog__pay-box_later575 {
    display: none;

    @media (max-width: 575px) {
        display: flex;
    }
}

.b-catalog__pay-later {
    width: 203px;
    height: 42px;
    border: 3px solid #CC6B00;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #EF7D00;

    &:hover {
        border: 3px solid #EF7D00;
        filter: drop-shadow(0px 0px 7px rgba(255, 134, 1, 0.3));
    }

    @media (max-width: 575px) {
        width: 100%;
    }
}

.b-catalog__pay-later_bcg {
    border: none;
    background: #EF7D00;
    color: #FFFFFF;

    &:hover {
        border: none;
        background: #CC6B00;
        filter: none;
    }
}

.b-pop-app {
    width: 915px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    padding: 15px 20px 25px;
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.b-pop-app__header {
    color: #1B1C1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}

.b-pop-app__close {
    border: none;
    background: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.b-pop-app__buttons {
    display: flex;
    align-items: center;
}

.b-pop-app__button-cancel {
    margin-right: 31px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: normal;
    color: #EF7D00;

    &:hover {
        text-decoration: underline;
    }
}

.b-pop-app__button-ok {
    font-weight: normal;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    background: #EF7D00;
    width: 139px;
    height: 42px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 3px 7px rgba(255, 134, 1, 0.3);
    }
}

.b-auto {
    background: #E5E5E5;
    padding-bottom: 111px;

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }
    }
}

.b-auto__column {
    width: 559px;

    @media (max-width: 1199px) {
        width: 100%;
    }
}

.b-auto__column:not(:last-child) {
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.b-auto__img-box {
    width: 100%;
    height: 311px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.1);
    padding: 18px 23px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 1199px) {
        display: none;
    }
}

.b-auto__slider {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1199px) {
        display: none;
    }
}

.swiper-container {
    width: 100%;
    height: 102px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #EF7D00;
    position: unset;
    margin: 0;
    width: 24px;
    height: 12px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 24px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-auto__slide {
    width: 165px;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.04);
    box-sizing: border-box;
    padding: 8px 3px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.b-auto__1999box {
    display: none;

    @media (max-width: 1199px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
        width: 100%;
        padding: 6px 16px;
        box-sizing: border-box;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            flex-direction: column;
            padding: 10px 10px 20px;
            align-items: start;
        }
    }
}

.b-auto__name767 {
    display: none;

    @media (max-width: 767px) {
        display: block;
        font-weight: 700;
    }
}

.b-auto__description767 {
    display: none;

    @media (max-width: 767px) {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #1B1C1D;
        display: block;
        margin-top: 5px;
    }
}

.b-auto__1999box-img {
    width: 487px;
    height: 240px;
    margin-right: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 991px) {
        width: 287px;
        height: 140px;
        margin-right: 25px;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 260px;
        margin-right: 0;
        margin-bottom: 14px;
        margin-top: 14px;
    }

    @media (max-width: 575px) {
        height: 225px;
    }

    @media (max-width: 424px) {
        height: 160px;
    }
}

.b-auto__1999box-heading {
    @media (max-width: 767px) {
        display: none;
    }
}

.b-auto__1999box-description {
    margin-top: 5px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        display: none;
    }
}

.b-auto__1999box-functions {
    display: flex;
    font-weight: normal;
    align-items: center;

    @media (max-width: 424px) {
        flex-wrap: wrap;
    }
}

.b-auto__1999box-function {
    display: flex;
    align-items: center;

    svg {
        margin-right: 10px;
    }
}

.b-auto__1999box-function:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 424px) {
        margin-bottom: 6px;
    }
}

.b-auto__info-box {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    padding: 22px 17px 25px;
    box-sizing: border-box;

    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.b-auto__name {
    @media (max-width: 1199px) {
        display: none;
    }
}

.b-auto__functions {
    margin: 7px 0 18px;

    @media (max-width: 1199px) {
        display: none;
    }
}

.b-auto__terms {
    span {
        font-weight: normal;
        line-height: 170%;
    }
}

.b-auto__extras-box {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    padding: 20px 17px;
    box-sizing: border-box;
}

.b-auto__extras-heading {
    font-weight: normal;
    margin-bottom: 15px;
}

.b-auto__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-auto__extra:not(:last-child) {
    margin-bottom: 5px;
}

.b-auto__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    color: #FFFFFF;
    font-weight: normal;
    width: 172px;
    height: 29px;
    background: #EF7D00;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;

    @media (max-width: 424px) {
        width: 120px;
    }
}

.b-auto__checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.b-auto__checkbox>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

/* создание в label псевдоэлемента before со следующими стилями */
.b-auto__checkbox>span::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
}

.b-auto__checkbox>input:checked+span::before {
    background-image: url(/img/checked1.svg);
    background-repeat: no-repeat;
    background-position: center 3px;
    background-color: white;
}

.b-auto__base-box {
    padding: 20px 17px 22px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    margin-top: 30px;
    box-sizing: border-box;
}

.b-auto__base-heading {
    margin-bottom: 10px;
}

.b-auto__option-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.b-auto__hr {
    flex: 1;
    border-bottom: 0.5px solid rgba(27, 28, 29, 0.2);
}

.b-auto__amount {
    font-weight: normal;
}

.b-auto__price {
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 23px;
}

.b-auto__button {
    font-weight: normal;
    color: #FFFFFF;
    padding: 8px 30px;
    background: #EF7D00;
    text-decoration: none;

    &:hover {
        background: #CC6B00;
    }
}

.b-auto__box {
    padding: 16px 17px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(27, 28, 29, 0.05);
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width: 575px) {
        padding: 10px;
    }
}

.b-auto__box:not(:last-child) {
    margin-bottom: 20px;
}

.b-auto__heading {
    font-weight: normal;
    color: #1B1C1D;
}

.b-booking__input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
}

.b-booking__input {
    color: #1B1C1D;
    height: 38px;
    background: #FFFFFF;
    border: 0.8px solid rgba(27, 28, 29, 0.2);
    box-sizing: border-box;
    padding: 5px 10px;
    font-weight: normal;
    width: 100%;

    &::placeholder {
        font-weight: 300;
        color: #1B1C1D;
    }
}

.b-booking__textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 148px;
}

.b-auto__text {
    font-weight: normal;
}

.b-auto__text-icon {
    margin-top: 8px;
    margin-bottom: 0 !important;
}

.b-auto__text-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.b-auto__link {
    color: #EF7D00;
}

.b-booking__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 575px) {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.b-booking__info {
    display: flex;
    flex-direction: column;

    @media (max-width: 575px) {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.b-booking__img {
    width: 230px;
    height: 124px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media (max-width: 575px) {
        width: 100%;
        height: 200px;
    }
}

.b-booking__summary {
    font-weight: normal;
    position: relative;
}

.b-booking__details-text {
    line-height: 22px;
}

.b-booking__details .b-booking__summary::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: url(../img/shevron_down1.svg) center no-repeat;
    cursor: pointer;
    right: -20px;
    top: 50%;
    transform: translate(0, -50%);
}

/* Добавляем собственный маркер для открытого состояния */
.b-booking__details[open] .b-booking__summary::after {
    content: '';
    background: url(../img/shevron_top1.svg) center no-repeat;
    cursor: pointer;
}

.b-booking__hr {
    width: 100%;
    border: 1px solid #F2F2F2;
    margin: 11px 0 6px;
}

.b-auto__text300 {
    span {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 18px;
        line-height: 170%;
        color: #1B1C1D;
    }
}

.b-booking__upgrade-box {
    display: flex;
    width: 100%;
    align-items: center;

    @media (max-width: 575px) {
        justify-content: space-between;
    }
}

.b-booking__upgrade-box:not(:last-child) {
    margin-bottom: 20px;
}

.b-booking__upgrade-img {
    width: 185px;
    height: 95px;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }

    @media (max-width: 575px) {
        width: 50%;
    }
}

.b-booking__upgrade-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 95px;

    @media (max-width: 575px) {
        width: 50%;
    }
}

.b-booking__text {
    color: #1B1C1D;

    @media (max-width: 575px) {
        font-size: 16px;
        line-height: 170%;
    }
}

.b-booking__upgrade-button {
    border: none;
    border-radius: 0;
    width: 125px;
    height: 43px;
    background: #EF7D00;
    color: #FFFFFF;
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background: #CC6B00;
    }

    @media (max-width: 575px) {
        display: none;
    }
}

.b-booking__button575 {
    display: none;

    @media (max-width: 575px) {
        display: block;
        width: 100%;
    }
}

.b-booking__button575:not(:last-child) {
    margin-bottom: 20px;
}

.b-booking__link {
    color: #1B1C1D;
    text-decoration: none;

    &:hover {
        color: #EF7D00;
        text-decoration: underline;
    }
}

.b-booking__link:not(:last-child) {
    margin-bottom: 10px;
}

.b-text {
    background: #F2F2F2;
    padding: 30px 0;
}

.b-text__heading {
    margin-bottom: 10px;
    color: #1B1C1D;
    line-height: 170%;
}

.b-text__text {
    color: #1B1C1D;
    line-height: 170%;
    padding-bottom: 10px;
}

.display_flex {
    display: flex;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.fw700 {
    font-weight: 700;
}