* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: 310px;
  }
}

.heading {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

@media (max-width: 1199px) {
  .heading {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 25px;
    line-height: 29px;
  }
}

@media (max-width: 424px) {
  .heading {
    font-size: 22px;
    line-height: 25px;
  }
}

.heading-mini {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .heading-mini {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 424px) {
  .heading-mini {
    font-size: 16px;
    line-height: 19px;
  }
}

.text {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

.button {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  width: 260px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background: #BA1919;
  margin-left: 10px;
}

.button p {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

@media (max-width: 575px) {
  .button {
    font-size: 20px;
    line-height: 24px;
    width: 200px;
    height: 40px;
  }
}

.button:hover {
  background: #DA0707;
  -webkit-box-shadow: 2px 2px 8px rgba(186, 25, 25, 0.39);
          box-shadow: 2px 2px 8px rgba(186, 25, 25, 0.39);
}

.b-wrapper {
  background: url(../img/main.png) no-repeat center;
  background-size: cover;
}

.b-header {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .b-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.b-header__logo-box {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 22px;
}

.b-header__logo-box span {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
}

.b-header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header__link {
  font-size: 18px;
  line-height: 170%;
  text-decoration: none;
  color: #FFFFFF;
}

.b-header__link:not(:last-child) {
  margin-right: 45px;
}

.b-header__link:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 575px) {
  .b-header__link_dn {
    display: none;
  }
}

.b-main {
  padding: 115px 0 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 991px) {
  .b-main {
    padding: 30px 0;
  }
}

.b-main__heading {
  font-weight: 900;
  font-size: 59px;
  line-height: 71px;
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .b-main__heading {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 575px) {
  .b-main__heading {
    font-size: 35px;
    line-height: 39px;
  }
}

@media (max-width: 424px) {
  .b-main__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

.b-main__heading-mini {
  font-weight: normal;
  color: #FFFFFF;
  padding: 28px 0;
  max-width: 872px;
}

.b-benefits {
  padding: 60px 0 30px;
}

@media (max-width: 991px) {
  .b-benefits {
    padding: 30px 0 9px;
  }
}

.b-benefits__heading {
  text-align: center;
  margin-bottom: 41px;
}

@media (max-width: 991px) {
  .b-benefits__heading {
    margin-bottom: 30px;
  }
}

.b-benefits__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

@media (max-width: 991px) {
  .b-benefits__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 21px;
  }
}

.b-benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-benefits__block img {
  width: 100%;
  height: 399px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 991px) {
  .b-benefits__block-img {
    display: none;
  }
}

.b-benefits__block_back-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url(../img/union1.png) no-repeat left center;
}

@media (max-width: 1199px) {
  .b-benefits__block_back-left {
    background: none;
  }
}

.b-benefits__block_back-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url(../img/union2.png) no-repeat right top;
}

@media (max-width: 1199px) {
  .b-benefits__block_back-right {
    background: none;
  }
}

.b-benefits__block_back-right > .button {
  margin-top: -2px;
  margin-left: 150px;
}

@media (max-width: 1199px) {
  .b-benefits__block_back-right > .button {
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .b-benefits__block_back-right > .button {
    margin-left: 30px;
  }
}

.b-benefits__block-line {
  margin-right: 62px;
}

@media (max-width: 1199px) {
  .b-benefits__block-line {
    margin-right: 0;
  }
}

@media (max-width: 424px) {
  .b-benefits__block-line {
    width: 100%;
  }
}

.b-benefits__block-line_right {
  margin-right: 0;
  margin-left: 37px;
}

@media (max-width: 1199px) {
  .b-benefits__block-line_right {
    margin-left: 0;
  }
}

.b-benefits__block-line:not(:last-child) {
  margin-bottom: 21px;
}

.b-benefits__heading-box {
  background: url(../img/rectangle1.png) no-repeat left center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 63px;
  margin-top: -11px;
}

.b-benefits__heading-box svg {
  margin-left: 42px;
  margin-right: 25px;
}

@media (max-width: 424px) {
  .b-benefits__heading-box svg {
    margin-right: 10px;
  }
}

.b-benefits__text {
  max-width: 424px;
  padding-left: 101px;
  margin-top: -10px;
}

@media (max-width: 1199px) {
  .b-benefits__text {
    padding-left: 97px;
    padding-right: 20px;
    max-width: unset;
  }
}

@media (max-width: 991px) {
  .b-benefits__text {
    margin-top: 0;
  }
}

@media (max-width: 424px) {
  .b-benefits__text {
    padding-left: 79px;
    padding-right: 10px;
  }
}

.b-garanty {
  padding: 60px 0 20px;
  background: url(../img/garanty.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 575px) {
  .b-garanty {
    padding: 30px 0 10px;
  }
}

.b-garanty__heading {
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 575px) {
  .b-garanty__heading {
    margin-bottom: 30px;
  }
}

.b-garanty__box {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 575px) {
  .b-garanty__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.b-garanty__row {
  background: -webkit-gradient(linear, left top, right top, color-stop(6.92%, #FFFFFF), color-stop(110%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFFFFF 6.92%, rgba(255, 255, 255, 0) 110%);
  -webkit-box-shadow: -4px 0px 11px rgba(0, 0, 0, 0.05);
          box-shadow: -4px 0px 11px rgba(0, 0, 0, 0.05);
  height: 60px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .b-garanty__row {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

.b-garanty__row-box {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 500;
}

@media (max-width: 767px) {
  .b-garanty__row-box {
    font-size: 16px;
    line-height: 14px;
  }
}

.b-garanty__row-img {
  margin-right: 12px;
  margin-left: 12px;
}

.b-tariffs {
  padding: 90px 0 45px;
}

@media (max-width: 991px) {
  .b-tariffs {
    padding: 30px 0;
  }
}

.b-tariffs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-tariffs__heading {
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 991px) {
  .b-tariffs__heading {
    margin-bottom: 30px;
  }
}

.b-tariffs__table-box {
  width: 100%;
}

@media (max-width: 767px) {
  .b-tariffs__table-box {
    overflow-x: scroll;
  }
  .b-tariffs__table-box::-webkit-scrollbar {
    width: 0;
  }
}

.b-tariffs__table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-spacing: 0px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .b-tariffs__table {
    margin-bottom: 20px;
  }
}

.b-tariffs__tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
}

.b-tariffs__tr:last-child .b-tariffs__td {
  border-bottom: 1px solid black;
}

.b-tariffs__tr_grey {
  background: #F8F8F8;
}

.b-tariffs__td {
  border-right: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  min-width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  position: relative;
}

@media (max-width: 1199px) {
  .b-tariffs__td {
    min-width: 90px;
  }
}

.b-tariffs__td-discount {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: #BA1919;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
}

.b-tariffs__td-discount .b-tariffs__dis-span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-tariffs__td_350 {
  min-width: 350px;
  text-align: left;
}

@media (max-width: 1199px) {
  .b-tariffs__td_350 {
    min-width: 200px;
  }
}

.b-tariffs__td_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-tariffs__td-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.b-tariffs__td-box span {
  font-size: 14px;
  line-height: 17px;
}

.b-tariffs__td:first-child {
  border-left: 1px solid black;
}

.b-tariffs__td_row {
  background: #BA1919;
  color: #FFFFFF;
  font-weight: 600;
}

.b-contacts {
  padding: 45px 0 117px;
}

@media (max-width: 991px) {
  .b-contacts {
    padding: 30px 0 60px;
  }
}

.b-contacts__heading {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .b-contacts__heading {
    margin-bottom: 30px;
  }
}

.b-contacts__box {
  background: url(../img/contacts.png) no-repeat center;
  background-size: cover;
}

.b-contacts__box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-contacts__text {
  font-weight: normal;
  max-width: 500px;
  text-align: center;
}

.b-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 19px;
}

.b-contacts__phone {
  font-weight: bold;
  text-decoration: none;
  color: #1F1F1F;
}

.b-contacts__phone:hover {
  text-decoration: underline;
}

.b-contacts__phone:not(:last-child) {
  margin-right: 33px;
}

.b-contacts__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.b-contacts__social {
  text-decoration: none;
  background: #1F1F1F;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: white;
}

.b-contacts__social:not(:last-child) {
  margin-right: 20px;
}

.b-contacts__social:hover {
  background: #BA1919;
}

.b-footer {
  background: #1B1C1D;
  padding: 30px 0 100px;
}

.b-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .b-footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-header__logo-box_footer {
  color: white;
}

.b-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-footer__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.b-footer__link:hover {
  text-decoration: underline;
}

.b-footer__links_tel {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.b-footer__tel {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 7px;
}

.b-footer__tel:hover {
  text-decoration: underline;
}

.b-footer__mail {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

.b-footer__mail:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */