@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "bootstrap/_mixins";
@import "bootstrap/_nav";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

details summary::-webkit-details-marker {
    display: none
}

details>summary {
    list-style: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1290px;
    padding: 0;

    @media (max-width: 1400px) {
        max-width: 1140px;
    }

    @media (max-width: 1199px) {
        max-width: 960px;
    }

    @media (max-width: 991px) {
        max-width: 720px;
    }

    @media (max-width: 767px) {
        max-width: 540px;
    }

    @media (max-width: 575px) {
        max-width: 400px;
    }

    @media (max-width: 424px) {
        max-width: 310px;
    }
}

.heading {
    font-size: 44px;
    line-height: 52px;
    font-weight: normal;

    @media (max-width: 1199px) {
        font-size: 26px;
        line-height: 30px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 21px;
    }
}

.heading-mini {
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;

    @media (max-width: 1199px) {
        font-size: 20px;
        line-height: 24px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.text {
    font-size: 18px;
    line-height: 21px;

    @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 19px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.b-header {
    padding: 26px 0 21px;
    background: #99C228;

    @media (max-width: 1199px) {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;

        @media (max-width: 1400px) {
            justify-content: space-between;
        }
    }
}

.b-header__logo {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-right: 255px;
    text-decoration: none;

    @media (max-width: 1400px) {
        margin-right: 0;
    }
}

.b-header__address-box {
    display: flex;
    align-items: center;
    margin-right: 60px;

    @media (max-width: 1400px) {
        margin-right: 0;
    }
}

.b-header__address-img {
    margin-right: 13px;
}

.b-header__address {
    line-height: 167.19%;
    color: #FFFFFF;
}

.b-header__phone-box {
    display: flex;
    align-items: center;
    margin-right: 140px;

    @media (max-width: 1400px) {
        margin-right: 0;
    }
}

.b-header__phone-links {
    display: flex;
    flex-direction: column;
}

.b-header__phone {
    text-decoration: none;
    font-size: 18px;
    line-height: 155.65%;
    color: #FFFFFF;
}

.b-header__button {
    width: 220px;
    height: 44px;
    background: #99C228;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    color: #FFFFFF;
    flex: 1;

    @media (max-width: 1400px) {
        flex: unset;
    }
}

.b-nav {
    position: relative;

    @media (max-width: 1199px) {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 740px) {
            height: unset;
            flex-direction: column;
            align-items: start;
        }
    }
}

.b-nav__link {
    padding: 15px 0;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @media(max-width: 740px) {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.b-nav__link:hover .b-nav__options-box {
    transform: scaleY(1);
}

.b-nav__link-link {
    text-decoration: none;
    color: #1F1F1F;
    text-decoration: none;
    position: relative;
}

.b-nav__link-link:hover {
    color: #99C228;
}

.b-nav__options-box {
    width: 100%;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 0.3s;
    padding-top: 15px;
    background: white;
    position: absolute;
    z-index: 1;
    top: calc(100% - 10px);
    left: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 14px 3px rgba(129, 129, 129, 0.2);
    border-radius: 17px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        position: relative;
    }
}

.b-nav__category-box {
    padding: 8px 0 8px 25px;
}

.b-nav__category-box:hover .b-nav__level-2 {
    transform: scaleX(1);
}

.b-nav__level-2 {
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s;
    position: absolute;
    display: flex;
    left: 200px;
    top: 15px;
}

.b-nav__options-box2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 150px;
}

.b-nav__options-box2:not(:last-child) {
    margin-right: 50px;
}

.b-nav__category-link {
    color: #1F1F1F;
    text-decoration: none;
    padding-bottom: 28px;
    width: 100%;
    padding-right: 10px;

    @media(max-width: 740px) {
        padding-bottom: 10px;
    }
}

.b-nav__category-link:hover {
    color: #99C228;
    text-decoration-line: underline;
}

.b-nav__options-link:not(:first-child) {
    margin-top: 4px;
}

.b-nav__options-link {
    color: #1F1F1F;
    margin-bottom: 20px;
}

.b-nav__options-link:hover {
    color: #99C228;
}

.b-top {
    background: url(../img/top.png) center no-repeat;
    background-size: cover;

    .container {
        padding: 111px 0 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 717px;

        @media (max-width: 1199px) {
            padding: 20px 0 70px;
            max-width: 960px;
        }

        @media (max-width: 991px) {
            max-width: 720px;
        }

        @media (max-width: 767px) {
            max-width: 540px;
            padding: 20px 0 50px;
        }

        @media (max-width: 575px) {
            max-width: 400px;
        }

        @media (max-width: 424px) {
            max-width: 310px;
        }
    }
}

.b-top__header {
    display: none;

    @media (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
    }
}

.b-top__header-logo {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.b-top__burger-button {
    border: none;
    background: none;
}

.b-top__heading {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

    @media (max-width: 1199px) {
        max-width: 580px;
    }

    @media (max-width: 767px) {
        max-width: 285px;
    }
}

.b-top__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-top__select-box {
    position: relative;
}

.b-top__select {
    margin-bottom: 30px;
    width: 471px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 30px;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 19px;
    cursor: pointer;
    box-sizing: border-box;

    @media (max-width: 767px) {
        height: 40px;
        width: 285px;
        padding: 0 40px 0 20px;
        margin-bottom: 15px;
    }
}

.b-top__select:invalid {
    color: rgba(51, 51, 51, 0.5);
}

.b-top__select-arrow {
    position: absolute;
    top: 21px;
    right: 17px;

    @media (max-width: 767px) {
        top: 18px;
    }
}

.b-top__button {
    width: 220px;
    height: 44px;
    background: #99C228;
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;

    @media (max-width: 767px) {
        width: 285px;
    }
}

.b-burger-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 18px 0 65px;
    display: none;

    @media (max-width: 767px) {
        padding: 20px 0 60px;
    }

    @media (max-width: 575px) {
        padding-bottom: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

.b-burger-menu__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    @media (max-width: 575px) {
        margin-bottom: 20px;
    }
}

.b-burger-menu__logo {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #99C228;
}

.b-burger-menu__close {
    border: none;
    background: none;
}

.b-nav-740__details {
    margin-bottom: 17px;
}

.b-nav-740__details[open] .b-nav-740__summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.b-nav-740__details[open]>.b-nav-740__summary,
.b-nav-740__details[open]>.b-nav-740__summary>.b-nav-740__link {
    color: #99C228;
}

.b-nav-740__summary {
    display: flex;
    justify-content: space-between;
}

.b-nav-740__link {
    text-decoration: none;
    color: #1F1F1F;
}

.b-nav-740__level-1 {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding-top: 27px;
    margin-top: 26px;
    padding-bottom: 10px;
}

.b-nav-740__links-box {
    margin-bottom: 17px;
}

.b-burger-menu__social-box {
    align-self: flex-end;
    display: flex;
    margin-top: 30px;

    @media (max-width: 575px) {
        margin-top: 0;
    }
}

.b-burger-menu__social {
    font-size: 21px;
    text-decoration: none;
    color: #FFFFFF;
    background: #201F25;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.b-burger-menu__social:hover {
    background: #99C228;
}

.b-burger-menu__social:not(:last-child) {
    margin-right: 6px;
}

.b-review {
    background-color: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    margin-top: -30px;

    @media (max-width: 1199px) {
        border-radius: 30px 30px 0px 0px;
        margin-top: -25px;
    }

    @media (max-width: 767px) {
        border-radius: 15px 15px 0px 0px;
        margin-top: -20px;
    }

    .container {
        padding: 70px 0 50px;
        background: url(../img/review_decstop.png)right center no-repeat;
        background-size: 65%;
        height: 518px;
        position: relative;

        @media (max-width: 991px) {
            background: url(../img/review_pad.png)right center no-repeat;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 20px;
        }

        @media (max-width: 767px) {
            padding: 30px 0 10px;
            height: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url(../img/review_767.png) center 90% no-repeat;
            background-size: 50%;
            height: 740px;
        }

        @media (max-width: 575px) {
            background-size: 70%;
            height: 760px;
        }

        @media (max-width: 424px) {
            background-size: 90%;
        }
    }
}

.b-review__heading-mini {
    max-width: 500px;
    margin-top: 120px;
    margin-bottom: 50px;

    @media (max-width: 1400px) {
        max-width: 450px;
    }

    @media (max-width: 1199px) {
        max-width: 370px;
    }

    @media (max-width: 991px) {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    @media (max-width: 767px) {
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }
}

.b-review__button-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    max-width: 410px;

    @media (max-width: 1199px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }
}

.b-review__button {
    width: 190px;
    height: 45px;

    @media (max-width: 1199px) {
        width: 280px;
    }

    @media (max-width: 767px) {
        width: 134px;
    }
}

.b-review__button[open] .b-review__summary {
    background: #99C228;
    color: #FFFFFF;
}

.b-review__summary {
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    border-radius: 8px;
    color: #201F25;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.b-review__img-box {
    position: absolute;
    top: 115px;
    right: 116px;
    width: 615px;
    height: 385px;
    overflow-y: scroll;

    @media (max-width: 1400px) {
        top: 139px;
        right: 102px;
        width: 545px;
        height: 345px;
    }

    @media (max-width: 1199px) {
        top: 137px;
        right: 86px;
        width: 457px;
        height: 286px;
    }

    @media (max-width: 991px) {
        top: 122px;
        right: 24px;
        width: 247px;
        height: 328px;
    }

    @media (max-width: 767px) {
        top: 289px;
        right: 153px;
        width: 234px;
        height: 408px;
    }

    @media (max-width: 575px) {
        right: 79px;
        width: 242px;
        height: 425px;
    }

    @media (max-width: 424px) {
        right: 34px;
        width: 241px;
        top: 293px;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}

.b-review__img {
    width: 100%;
    object-fit: contain;
}

.b-review__button[open] .b-review__summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.b-review__flip {
    position: absolute;
    top: 300px;
    left: 412px;
    width: 123px;

    @media (max-width: 1400px) {
        display: none;
    }
}

.b-consultation {
    background: url(../img/consultation.png) center no-repeat;
    background-size: cover;

    .container {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;

        @media (max-width: 991px) {
            padding: 30px 0;
        }

        @media (max-width: 767px) {
            padding: 20px 0;
        }
    }
}

.b-consultation__heading {
    margin-bottom: 25px;

    @media (max-width: 767px) {
        margin-bottom: 5px;
    }
}

.b-consultation__social-box {
    margin-top: 13px;
    margin-bottom: 18px;

    @media (max-width: 767px) {
        margin-top: 5px;
    }
}

.b-consultation__social:not(:last-child) {
    margin-right: 6px;
}

.b-consultation__tel {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 12px 0;

    @media (max-width: 767px) {
        margin: 0;
    }
}

.b-team {
    .container {
        padding: 60px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width: 991px) {
            padding: 45px 0;
        }

        @media (max-width: 767px) {
            padding: 30px 0;
        }
    }
}

.b-team__heading {
    margin-bottom: 35px;

    @media (max-width: 767px) {
        margin-bottom: 8px;
    }
}

.b-team__card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1130px;

    @media (max-width: 1199px) {
        width: 960px;
    }

    @media (max-width: 991px) {
        width: 720px;
    }

    @media (max-width: 767px) {
        width: 540px;
    }

    @media (max-width: 575px) {
        width: 300px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.b-team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.b-team__card:last-child {
    @media (max-width: 575px) {
        margin-top: 25px;
    }
}

.b-team__card-img {
    @media (max-width: 991px) {
        width: 135px;
        height: 135px;
    }

    @media (max-width: 575px) {
        width: 55px;
        height: 55px;
    }
}

.b-team__card-heading {
    margin: 20px 0;

    @media (max-width: 991px) {
        margin: 40px 0 5px;
    }

    @media (max-width: 767px) {
        margin-top: 12px;
    }
}

.b-advantages {
    background: url(../img/advantages.png) center no-repeat;
    background-size: cover;

    @media (max-width: 991px) {
        background: url(../img/advantages_720.png) center no-repeat;
        background-size: cover;
    }

    @media (max-width: 767px) {
        background: url(../img/advantages_767.png) top no-repeat;
        background-size: cover;
    }

    .container {
        padding: 220px 0 80px;

        @media (max-width: 991px) {
            padding: 380px 0 80px;
            display: flex;
            justify-content: center;
        }

        @media (max-width: 767px) {
            padding: 115px 0 0 0;
        }
    }
}

.b-advantages__card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 850px;

    @media (max-width: 1400px) {
        width: 750px;
    }

    @media (max-width: 1199px) {
        width: 600px;
    }

    @media (max-width: 991px) {
        width: 580px;
        justify-content: center;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.b-advantages__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    margin-bottom: 60px;

    @media (max-width: 1199px) {
        width: 280px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.b-advantages__heading {
    margin: 13px 0;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
}

.b-advantages__text {
    color: #FFFFFF;
    text-align: center;
}

.b-map {
    position: relative;
    height: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 991px) {
        height: 350px;
    }

    @media (max-width: 575px) {
        height: 375px;
    }
}

.b-map__details-box {
    background: #99C228;
    border-radius: 0px 30px 0px 0px;
    padding: 35px 75px;
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;

    @media (max-width: 1199px) {
        padding: 9px 24px 26px;
    }

    @media (max-width: 991px) {
        width: 40vw;
    }

    @media (max-width: 767px) {
        width: 55vw;
    }

    @media (max-width: 575px) {
        width: 60vw;
    }
}

.b-map__heading {
    color: #FFFFFF;
    margin-bottom: 35px;

    @media (max-width: 1199px) {
        margin-bottom: 22px;
    }

    @media (max-width: 767px) {
        margin-bottom: 9px;
    }
}

.b-map__details:not(:last-child) {
    margin-bottom: 21px;
}

.b-map__summary {
    display: flex;
    color: #FFFFFF;
    cursor: pointer;
}

.b-map__summary-img {
    margin-right: 23px;

    @media (max-width: 991px) {
        margin-right: 15px;
    }

    @media (max-width: 767px) {
        margin-right: 8px;
    }
}

.b-map__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.b-map__img {
    @media (max-width: 991px) {
        display: none;
    }
}

.b-map__img720 {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }

    @media (max-width: 575px) {
        display: none;
    }
}

.b-map__img375 {
    display: none;

    @media (max-width: 575px) {
        display: block;
    }
}

.b-map__details[open] .b-map__summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.b-map__details[open] .b-map__summary {
    text-decoration: underline;
}

.b-brand {
    .container {
        padding: 120px 0 60px;

        @media (max-width: 1199px) {
            padding: 45px 0;
        }

        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 767px) {
            padding: 30px 0;
        }
    }
}

.b-brand__heading {
    margin-bottom: 50px;
    text-align: center;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.b-brand__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: none;

    @media (max-width: 1400px) {
        justify-content: space-around;
    }

    @media (max-width: 1199px) {
        justify-content: space-between;
    }

    @media (max-width: 991px) {
        max-width: 580px;
    }

    @media (max-width: 767px) {
        max-width: 300px;
    }
}

.b-brand__link {
    width: 234px;
    height: 128px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    padding: 0;

    @media (max-width: 1199px) {
        width: 180px;
        height: 100px;

        img {
            max-width: 150px;
        }
    }

    @media (max-width: 767px) {
        width: 135px;
        height: 70px;

        img {
            max-width: 120px;
        }
    }
}

.b-brand__link:hover {
    box-shadow: 0px 4px 13px rgba(51, 51, 51, 0.1);
}

.b-seo {
    .container {
        padding-top: 60px;
        padding-bottom: 160px;

        @media (max-width: 1199px) {
            padding-bottom: 45px;
        }
    }
}

.b-seo__heading {
    text-align: center;
}

.b-seo__heading-mini {
    text-align: center;
    margin: 35px 0 20px;

    @media (max-width: 767px) {
        margin: 11px 0 5px;
    }
}

.b-footer {
    background: #2E2F3C;

    .container {
        padding: 60px 0 220px;

        @media (max-width: 1199px) {
            padding: 30px 0 40px;
        }

        @media (max-width: 424px) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.b-footer__heading {
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #99C228;
    margin-bottom: 45px;

    @media (max-width: 991px) {
        margin-bottom: 23px;
        font-size: 20px;
        line-height: 23px;
    }
}

.b-footer__box {
    display: flex;
    justify-content: space-between;

    @media (max-width: 424px) {
        flex-direction: column;
        align-items: start;
    }
}

.b-footer__links-box {
    width: 760px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199px) {
        width: 560px;
    }

    @media (max-width: 991px) {
        width: unset;
        flex-direction: column;
    }
}

.b-footer__links {
    display: flex;
    flex-direction: column;
}

.b-footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
}

.b-footer__link:hover {
    color: #99C228;
}

.b-footer__right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 424px) {
        align-items: start;
    }
}

.b-footer__heading-mini {
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 21px;

    @media (max-width: 424px) {
        text-align-last: left;
    }
}

.b-footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;

    @media (max-width: 424px) {
        align-items: start;
    }
}

.b-footer__address:not(:last-child) {
    margin-bottom: 11px;
}

.b-footer__address:last-child {
    margin-bottom: 30px;
}

.b-footer__social-box {
    display: flex;

    @media (max-width: 424px) {
        display: none;
    }
}

.b-footer__social-box_424 {
    display: none;

    @media (max-width: 424px) {
        display: flex;
        flex-direction: column;
    }
}

.b-footer__social {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    color: #2E2F3C;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.b-footer__social:not(:last-child) {
    margin-right: 6px;
}

.b-footer__social_424:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
}

.b-footer__social:hover {
    background: #99C228;
}

.display_block {
    display: block;
}

.b-top-section {
    background-color: #E5E5E5;
    background-image: url(../img/section_back.png);
    background-position: 35vw top;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1199px) {
        background-image: url(../img/section_back_1199.png);
    }

    @media (max-width: 575px) {
        background-position: right top;
        background-image: url(../img/section_back_767.png);
    }

    @media (max-width: 424px) {
        background-position: 30vw top;
    }

    .container {
        padding: 180px 0 240px;

        @media (max-width: 1199px) {
            padding: 20px 0 85px;
        }
    }
}

.b-top-section_notebook {
    background-image: url(../img/section_back_notebook.png);
    background-position: right top;

    @media (max-width: 424px) {
        background-position: 30vw top;
    }
}

.b-top-section_pc {
    background-image: url(../img/section_back_pc.png);
    background-position: right top;

    @media (max-width: 424px) {
        background-position: 30vw top;
    }
}

.b-top-section_technics {
    background-image: url(../img/section_back_technics.png);
    background-position: right top;

    @media (max-width: 424px) {
        background-position: 30vw top;
    }
}

.b-top-section_tablet {
    background-image: url(../img/section_back_tablet.png);
    background-position: right top;
    background-color: #f8f8f8;

    @media (max-width: 424px) {
        background-position: 30vw top;
    }
}

.b-top__header-logo_section {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #99C228;
    text-decoration: none;
}

.b-top__heading_section {
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    max-width: 700px;
    margin-bottom: 60px;

    @media (max-width: 1199px) {
        font-size: 34px;
        line-height: 40px;
        margin-top: 65px;
        max-width: 310px;
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {
        max-width: 130px;
    }

    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 5px;
    }
}

.b-top__link {
    color: #FFFFFF;
    width: 220px;
    height: 44px;
    background: #99C228;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
        width: 145px;
        height: 27px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 16px;
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
}

.nav-tabs .nav-link {
    margin-bottom: 30px;
    background: none;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.b-price {
    border-radius: 40px 40px 0px 0px;
    margin-top: -30px;
    background-color: #FFFFFF;
    position: relative;

    @media (max-width: 1199px) {
        border-radius: 30px 30px 0px 0px;
        margin-top: -25px;
    }

    @media (max-width: 767px) {
        border-radius: 15px 15px 0px 0px;
        margin-top: -20px;
    }

    .container {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1199px) {
            padding: 45px 0;
        }

        @media (max-width: 575px) {
            padding: 30px 0;
        }
    }
}

.b-price__tab-content {
    width: 100%;
}

.b-price__level2-heading {
    text-align: center;
    margin-bottom: 35px;

    @media (max-width: 575px) {
        margin-bottom: 20px;
    }
}

.b-price__level2-box {
    display: flex;
    justify-content: center;
}

.b-price__level2-link {
    color: #000000;
    text-decoration: none;
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
    padding: 13px;
    box-sizing: border-box;

    @media (max-width: 1199px) {
        width: 180px;
    }

    @media (max-width: 767px) {
        width: 130px;
    }

    @media (max-width: 575px) {
        margin-bottom: 20px;
    }
}

.b-price__level2-link:hover {
    color: #000000;
    box-shadow: 0px 4px 13px rgba(51, 51, 51, 0.1);
    border-radius: 5px;
}

.b-price__price-board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
}

.b-price__row-top {
    background: #99C228;
    border-radius: 10px 10px 0px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 75px;
    border-bottom: 7px solid #FFFFFF;
    width: 100%;

    @media (max-width: 1199px) {
        height: 35px;
        border-bottom: 3px solid #FFFFFF;
    }

    @media (max-width: 767px) {
        height: unset;
    }

    @media (max-width: 575px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.b-price__first-column {
    box-sizing: border-box;
    border-right: 5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 10px;

    @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 19px;
        padding: 10px 5px;
        border-right: 3px solid #FFFFFF;
    }
}

.b-price__column {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 20px 10px;
    text-align: center;

    @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 19px;
        padding: 10px 5px;
    }
}

.b-price__column_none {
    @media (max-width: 575px) {
        display: none;
    }
}

.b-price__row {
    background: #F8F8F8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 7px solid #FFFFFF;
    width: 100%;

    @media (max-width: 1199px) {
        border-bottom: 3px solid #FFFFFF;
    }

    @media (max-width: 575px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.b-price__first-column_b {
    color: #201F25;
    font-weight: normal;
}

.b-price__first_b {
    color: #201F25;
    font-weight: normal;

    @media (max-width: 575px) {
        display: none;
    }
}

.b-price__first-price {
    flex-direction: column;
    color: #99C228;
    font-weight: 500;

    strike {
        color: rgba(32, 31, 37, 0.5);
        font-size: 18px;
        line-height: 21px;
        margin-top: 9px;

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 16px;
            margin-top: 0;
        }
    }
}

.b-price__first-link {
    color: #99C228 !important;
    font-weight: normal !important;
    cursor: pointer !important;
}

.b-price__first-link:hover {
    text-decoration: underline !important;
}

.b-top-subsection {
    background-color: #f1f1f1;
}

.b-top__header_subsection {
    display: none;

    @media (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
    }
}

.b-top-subsection__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.b-top-subsection__heading-box {
    padding: 180px 0 240px;

    @media (max-width: 1199px) {
        padding: 80px 0 60px;
    }

    @media (max-width: 575px) {
        padding: 30px 0 50px;
    }
}

.b-top__heading_subsection {
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    max-width: 700px;
    margin-bottom: 60px;

    @media (max-width: 1199px) {
        font-size: 34px;
        line-height: 40px;
        max-width: 310px;
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {
        max-width: 130px;
    }

    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 5px;
    }
}

.b-top-subsection__img-box {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }
}

.b-top-contacts__heading {
    text-align: center;
    padding: 60px 0;

    @media (max-width: 1199px) {
        padding: 45px 0;
    }

    @media (max-width: 575px) {
        padding: 30px 0;
    }
}

.b-pop-up {
    position: fixed;
    z-index: 100;
    width: 434px;
    height: 375px;
    background: #F2F2F2;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(25px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    @media (max-width: 575px) {
        width: 300px;
    }
}

.b-pop-up__top {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 15px 15px 15px;
    background: #99C228;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 575px) {
        font-size: 18px;
    }
}

.b-pop-up__close {
    position: absolute;
    top: 24px;
    right: 22px;
    cursor: pointer;
    background: none;
    border: none;
}

.b-pop-up__box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-pop-up__text {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 10px;
}

.b-pop-up__text_m {
    margin-bottom: 20px;

    @media (max-width: 575px) {
        margin-bottom: 10px;
    }
}

.b-pop-up__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 158.85%;
    color: #201F25;
}

.b-pop-up__tel_m {
    margin-bottom: 30px;

    @media (max-width: 575px) {
        margin-bottom: 10px;
    }
}

.b-pop-up__social-box {
    display: flex;
}

.b-pop-up__social {
    width: 55px;
    height: 55px;
    background: #99C228;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @media (max-width: 575px) {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

.b-pop-up__social:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 575px) {
        margin-right: 10px;
    }
}