* {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1243px;
    margin: 0 auto;

    @media (max-width: 1263px) {
        max-width: 960px;
    }

    @media (max-width: 980px) {
        max-width: 720px;
    }

    @media (max-width: 740px) {
        max-width: 540px;
    }

    @media (max-width: 560px) {
        max-width: 310px;
    }
}

.b-header {
    height: 110px;
    background-color: #000000;

    @media (max-width: 560px) {
        height: 150px;
    }
}

.b-header__box {
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;

    @media (max-width: 1263px) {
        max-width: 960px;
    }

    @media (max-width: 980px) {
        max-width: 720px;
    }

    @media (max-width: 740px) {
        max-width: 540px;
    }

    @media (max-width: 560px) {
        max-width: 310px;
        justify-content: space-around;
    }
}

.b-header__number {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding-right: 33px;
    display: block;

    @media (max-width: 1263px) {
        padding-right: 0;
    }

    span {
        font-size: 17px;
        font-weight: 700;
    }
}

.b-header__where {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 154px;
    display: block;

    @media (max-width: 1263px) {
        padding-right: 0;
    }

    i {
        padding-right: 9px;
    }
}

.b-header__logo {
    padding-right: 177px;
    display: block;

    @media (max-width: 1263px) {
        padding-right: 0;
    }
}

.b-header__links-box {
    width: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 740px) {
        height: unset;
    }
}

.b-header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.b-navbar {
    max-width: 786px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    flex-wrap: wrap;

    @media (max-width: 980px) {
        max-width: 720px;
    }

    @media (max-width: 740px) {
        max-width: 540px;
        justify-content: center;
    }

    @media (max-width: 560px) {
        max-width: 310px;
    }
}

.b-navbar__link {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: 740px) {
        margin-right: 10px;
    }
}

.b-navbar__sale {
    color: #e71c4c;
}

.b-path {
    height: 60px;
    background-color: #000000;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;

        @media (max-width: 560px) {
            font-size: 14px;
            flex-wrap: wrap;
        }

        i {
            padding: 0 13px;
        }
    }
}

.b-path__link {
    color: #ffffff;
    text-decoration: none;
}

.b-path__text {
    span {
        padding: 0 13px;
        color: #9d9d9d;
        font-size: 14px;
        font-weight: 400;
    }
}

.b-main__heading {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    margin-top: 47px;
}

.b-main__article {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.b-options {
    max-width: 360px;
}

.b-options__text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

    span {
        font-family: "Open Sans";
        font-weight: 600;
    }
}

.b-product-card__color-slider,
.b-product-card__size-slider {
    display: block;
    width: 300px;
}

.b-product-card__color-slider {
    margin: 17px 0 16px;
}

.b-product-card__tab-content {
    height: 84px;
}

.b-product-card__color-title {
    display: flex;
    margin-bottom: 10px;
}

.radio {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    //padding: 0px 10px 0px 18px;
    padding: 0 1px;
    outline: none;
}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio input:checked+.radio__text:after {
    opacity: 1;
}

.radio input:checked+.radio__text_size:after {
    opacity: 1;
}

.slick-slide {
    padding: 0 1.9px;
}

.slick-slider {
    padding: 0 15px;
}

.slick-prev {
    left: -6px;

    &:before {
        content: url(img/left.svg);
    }
}

.slick-next {
    right: -6px;

    &:before {
        content: url(img/right.svg);
    }

}

.radio__text,
.radio__text_size {
    position: relative;
    cursor: pointer;
}

.radio__text:before {
    content: '';
    position: absolute;
    top: 1px;
    // left: 0;
    width: 31px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #cfcfcf;
    background-color: #9d9d9d;
}

.radio__text::after {
    content: '';
    position: absolute;
    top: 1px;
    // left: 0;
    width: 31px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #e71c4c;
    opacity: 0;
    transition: .2s;
}

.radio__text_brown:before {
    background-color: #5d554c;
}

.radio__text_red:before {
    background-color: #883434;
}

.radio__text_black:before {
    background-color: #000000;
}

.radio__text_blue:before {
    background-color: #61769a;
}

.radio__text_purple:before {
    background-color: #9b4e8c;
}

.radio__text_yellow:before {
    background-color: #e6c419;
}

.radio__text_size:before {
    content: 'XS';
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: white;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cfcfcf;
}

.radio__text_size-s:before {
    content: 'S';
}

.radio__text_size-m:before {
    content: 'M';
}

.radio__text_size-l:before {
    content: 'L';
}

.radio__text_size-xl:before {
    content: 'XL';
}

.radio__text_size-2xl:before {
    content: '2XL';
}

.radio__text_size-3xl:before {
    content: '3XL';
}

.radio__text_size-4xl:before {
    content: '4XL';
}

.radio__text_size-5xl:before {
    content: '5XL';
}

.radio__text_size:after {
    content: 'XS';
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    opacity: 0;
    transition: .2s;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: #e71c4c;
}

.radio__text_size-s:after {
    content: 'S';
}

.radio__text_size-m:after {
    content: 'M';
}

.radio__text_size-l:after {
    content: 'L';
}

.radio__text_size-xl:after {
    content: 'XL';
}

.radio__text_size-2xl:after {
    content: '2XL';
}

.radio__text_size-3xl:after {
    content: '3XL';
}

.radio__text_size-4xl:after {
    content: '4XL';
}

.radio__text_size-5xl:after {
    content: '5XL';
}

.b-product-card__price {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.25px;

    span {
        color: #9d9d9d;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.65px;
        text-decoration: line-through;
    }
}

.b-product-card__discount {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    width: 69px;
    height: 18px;
    background-color: #e71c4c;
    box-sizing: border-box;
    padding: 0 7px 0 8px;
    border-radius: 5px;
}

.b-product-card__button-box {
    display: flex;
    margin: 30px 0 22px;
}

.b-product-card__quantity {
    width: 120px;
    height: 51px;
    border-radius: 5px;
    border: 1px solid #e71c4c;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 62px;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        border: none;
        background: none;
        outline: none;
    }
}

.b-product-card__button-minus {
    background: url(img/left.svg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 12px;
    border: none;
    cursor: pointer;
    outline: none;
}

.b-product-card__button-plus {
    background: url(img/right.svg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 12px;
    border: none;
    cursor: pointer;
    outline: none;
}

.b-product-card__button-buy {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    width: 225px;
    height: 51px;
    border-radius: 5px;
    border: none;
    background-color: #e71c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.b-options__favorites {
    color: #e71c4c;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;

    i {
        padding-right: 9px;
    }
}

.b-options__hr {
    margin: 22px 0 22px;
}

.b-options__availability-heading {
    list-style-type: none;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.b-options__availability-li {
    list-style-image: url(img/marker.svg);
    margin-left: 18px;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 16px;
}

.b-options__descriptions {
    display: flex;
    margin-bottom: 16px;
}

.b-product-column__radio {
    display: inline-block;
    width: 80px;
    height: 20px;
}

.b-product-column__radio24 {
    display: inline-block;
    width: 173px;
    height: 20px;
}

.b-product-column__radio input,
.b-product-column__radio24 input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-product-column__radio__text,
.b-product-column__radio__text24 {
    position: relative;
    cursor: pointer;
}

.b-product-column__radio__text:before {
    content: 'ОПИСАНИЕ';
    position: absolute;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #9d9d9d;
}

.b-product-column__radio__text24:before {
    content: 'ПОДРОБНОЕ ОПИСАНИЕ';
    width: 173px;
    position: absolute;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #9d9d9d;
}

.b-product-column__radio__text:after {
    content: 'ОПИСАНИЕ';
    position: absolute;
    width: 80px;
    height: 20px;
    opacity: 0;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans";
}

.b-product-column__radio__text24::after {
    content: 'ПОДРОБНОЕ ОПИСАНИЕ';
    width: 173px;
    position: absolute;
    height: 20px;
    opacity: 0;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans";
}

.b-product-column__radio input:checked+.b-product-column__radio__text::before {
    opacity: 0;
}

.b-product-column__radio input:checked+.b-product-column__radio__text:after {
    opacity: 1;
}

.b-product-column__radio24 input:checked+.b-product-column__radio__text24::before {
    opacity: 0;
}

.b-product-column__radio24 input:checked+.b-product-column__radio__text24:after {
    opacity: 1;
}

.b-options__slash {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
}

.b-options__description-nondetail {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.b-options__description-detailed {
    display: none;
}

.b-options__description-detailed-flex {
    display: flex;
}

.b-options__description-detailed-flex span {
    color: #cfcfcf;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.b-options__description-options {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.b-options__description {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
}

.b-options__text_botom {
    margin-bottom: 21px;
}

.b-options__share-box {
    display: flex;
}

.b-options__share {
    width: 30px;
    height: 30px;
    border: 1px solid #95989a;
    background-color: #ffffff;
    display: block;
}

.b-options__share:not(:last-child) {
    margin-right: 15px;
}

.b-img__1 {
    width: 300px;
    height: 300px;
    background-color: #000000;
}

.b-img__2 {
    width: 300px;
    height: 300px;
    background-color: green;
    display: none;
}

.b-img__3 {
    width: 300px;
    height: 300px;
    background-color: blue;
    display: none;
}

.b-img__4 {
    width: 300px;
    height: 300px;
    background-color: pink;
    display: none;
}

.b-img {
    width: 700px;
}

.slider-class {
    float: left;
    width: 75%;
}

.item {
    width: 555px;
    height: 555px;
    background: red;
}

.item1 {
    width: 120px;
    height: 120px;
    background: red;
}