* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

a {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: 310px;
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #223333;
}

@media (max-width: 1199px) {
  .text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

.heading {
  font-size: 50px;
  line-height: 65px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .heading {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 20px;
    line-height: 24px;
  }
}

.heading-mini {
  font-size: 26px;
  line-height: 39px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #E40000;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .heading-mini {
    font-size: 23px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .heading-mini {
    font-size: 18px;
    line-height: 21px;
  }
}

.button {
  font-family: Oswald;
  font-size: 18px;
  line-height: 175.8%;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 29px;
  background: #E40000;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: red;
}

@media (max-width: 1199px) {
  .button {
    font-size: 16px;
    line-height: 19px;
  }
}

.b-header {
  padding: 25px 0;
}

.b-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .b-header {
    display: none;
  }
}

@media (max-width: 424px) {
  .b-header__logo {
    width: 140px;
  }
}

.b-header__box {
  max-width: 880px;
  width: 100%;
}

.b-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-header__tel {
  font-family: Oswald;
  font-weight: 500;
  text-decoration: none;
  color: #223333;
}

.b-header__tel:hover {
  color: #E40000;
}

.b-header__tel:first-child {
  margin-right: 25px;
}

.b-header__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-family: Oswald;
  text-decoration: none;
  color: #223333;
}

.b-header__link:hover {
  color: #E40000;
}

.b-header__bascet {
  width: 19px;
  height: 24px;
  position: relative;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #223333;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 15px;
}

.b-header__bascet svg {
  position: absolute;
  top: 0;
  left: 0;
}

.b-header__bascet:hover {
  color: #E40000;
}

.b-header__bascet:hover svg path {
  fill: #E40000;
}

.b-header__lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-header__lk:hover svg path {
  fill: #E40000;
}

.b-header__search-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 0;
}

.b-header__search-form {
  width: 658px;
  height: 24px;
  position: relative;
}

.b-header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 32px 0 20px;
  border: 1px solid #E6E5EB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-size: 14px;
}

.b-header__search-input::-webkit-input-placeholder {
  color: #E6E5EB;
}

.b-header__search-input:-ms-input-placeholder {
  color: #E6E5EB;
}

.b-header__search-input::-ms-input-placeholder {
  color: #E6E5EB;
}

.b-header__search-input::placeholder {
  color: #E6E5EB;
}

.b-header__search-button {
  border: 1px solid #E6E5EB;
  border-top: none;
  border-right: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  width: 32px;
  height: 100%;
  cursor: pointer;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header__search-button:hover {
  border: 1px solid #223333;
}

.b-header__search-button:hover svg path {
  fill: #223333;
}

.b-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-header__nav-links {
  position: relative;
}

.b-header__nav-links:hover > .b-header__nav-2level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-header__nav-link {
  font-family: Oswald;
  font-weight: 300;
  text-transform: uppercase;
  color: #223333;
  text-decoration: none;
}

.b-header__nav-link:hover {
  color: red;
}

.b-header__nav-link_red {
  color: #D10015;
}

.b-header__nav-2level {
  display: none;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 4px rgba(34, 51, 51, 0.09);
          box-shadow: 0px 3px 4px rgba(34, 51, 51, 0.09);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-header__nav-2level a {
  white-space: nowrap;
}

.b-header__nav-2level a:not(:last-child) {
  padding-bottom: 10px;
}

.b-header__nav-2level_last {
  left: unset;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.b-header-mobile {
  display: none;
  padding: 20px 0;
}

@media (max-width: 424px) {
  .b-header-mobile .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .b-header-mobile {
    display: block;
  }
}

@media (max-width: 424px) {
  .b-header-mobile {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

.b-header-mobile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 116px;
}

@media (max-width: 424px) {
  .b-header-mobile__header {
    width: 100%;
    height: unset;
    padding-bottom: 15px;
  }
}

.b-header-mobile__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

@media (max-width: 424px) {
  .b-header-mobile__button-box > .button {
    display: none;
  }
}

.b-header-mobile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 424px) {
  .b-header-mobile__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 83px;
  }
}

.b-header-mobile__buttons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-header__bascet_m {
  margin-right: 15px;
}

.b-header-mobile__button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.b-header-mobile__button svg:nth-child(2) {
  margin-bottom: 2px;
  margin-top: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-header-mobile__button.active > svg:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-header-mobile__button.active > svg:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-header-mobile__button.active > svg:last-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-header-mobile__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scale1 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 0;
}

.b-nav-740__details:not(:last-child) {
  padding-bottom: 20px;
}

.b-nav-740__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-nav-740__summary svg {
  display: none;
  margin-left: 10px;
}

.b-nav-740__link {
  text-decoration: none;
  color: #000000;
}

.b-nav-740__details[open] .b-nav-740__summary ~ * {
  -webkit-animation: sweep .5s ease-in-out;
          animation: sweep .5s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.b-nav-740__details[open] > .b-nav-740__summary {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(232, 231, 237, 0.96);
  margin-bottom: 13px;
  color: red;
}

.b-nav-740__details[open] > .b-nav-740__summary svg {
  display: block;
}

.b-nav-740__links-box {
  margin-bottom: 13px;
}

.b-main {
  padding: 0 0 50px 0;
}

.b-main .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 575px) {
  .b-main .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 424px) {
  .b-main {
    padding: 0 0 30px 0;
  }
}

.b-main__bcg-box {
  width: 100%;
  background: url(../img/main-photo.png) no-repeat right;
  height: 424px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1199px) {
  .b-main__bcg-box {
    background-size: 80%;
  }
}

@media (max-width: 575px) {
  .b-main__bcg-box {
    background-size: 100%;
    height: 300px;
  }
}

@media (max-width: 424px) {
  .b-main__bcg-box {
    background-size: 80%;
    padding-top: 20px;
    height: 200px;
  }
}

@media (max-width: 575px) {
  .b-main__bcg-box > button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.b-main__tagline {
  color: #D10015;
}

.b-main__link {
  font-family: Oswald;
  text-decoration: none;
  color: #004174;
  text-align: right;
}

.b-main__link:hover {
  text-decoration: underline;
  color: #007bff;
}

.b-mission {
  padding: 45px 0;
  background: linear-gradient(-45deg, #f2f2f2 15px, transparent 1%), #ededee;
  background-size: 30px 30px;
}

.b-mission__text {
  margin-top: 16px;
}

.b-description {
  padding: 65px 0;
}

.b-description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .b-description .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.b-description__text-box {
  max-width: 875px;
}

@media (max-width: 1199px) {
  .b-description__text-box {
    max-width: 771px;
  }
}

@media (max-width: 991px) {
  .b-description__text-box {
    max-width: 500px;
  }
}

.b-description__heading {
  margin-bottom: 16px;
}

.b-description__photo-box {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.b-description__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 287px;
  margin-bottom: 16px;
}

.b-description__photo-text {
  font-family: Oswald;
  text-align: right;
  color: #000000;
}

.b-description__signature {
  width: 150px;
  height: 114px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 9px 10px 3px 0;
}

.b-project {
  padding: 57px 0;
  background: linear-gradient(-45deg, #f2f2f2 15px, transparent 1%), #ededee;
  background-size: 30px 30px;
}

.b-project__heading {
  margin-bottom: 20px;
}

.b-project__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .b-project__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-project__left-box {
  width: 560px;
}

@media (max-width: 1199px) {
  .b-project__left-box {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .b-project__left-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-project__link {
  width: 100%;
  background: linear-gradient(-45deg, #de1425 20px, transparent 1%), #fff;
  padding: 20px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.b-project__link:hover {
  background: linear-gradient(-45deg, red 23px, transparent 1%), #fff;
}

.b-project__link:hover .b-project__link-text {
  color: red;
}

.b-project__svg-box {
  margin-right: 19px;
  width: 33px;
}

.b-project__link:not(:last-child) {
  margin-bottom: 15px;
}

.b-project__link-text {
  font-family: Oswald;
  color: #000000;
  text-transform: uppercase;
}

.b-project__facebook {
  width: 560px;
  height: 333px;
  border: none;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .b-project__facebook {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .b-project__facebook {
    width: 500px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .b-project__facebook {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-project__facebook {
    width: 310px;
  }
}

.b-library {
  padding: 50px 0;
}

.b-library__heading {
  margin-bottom: 30px;
}

.b-library__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .b-library__card-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 575px) {
  .b-library__card-box {
    margin-bottom: 15px;
  }
}

.b-library__card {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .b-library__card {
    margin-bottom: 15px;
  }
}

.b-library__img-box {
  background: linear-gradient(-45deg, #de1425 25px, transparent 1%);
  background-position: 0 0;
  font-family: Oswald;
  text-align: center;
  padding-right: 10px;
}

.b-library__img-box span {
  font-family: Oswald;
  font-size: 36px;
  line-height: 32px;
  font-weight: bold;
}

.b-library__card-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
}

.b-library__text {
  color: #de1425;
  text-align: center;
}

.b-partners__heading {
  margin-bottom: 44px;
}

.b-partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide_partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-partners__img {
  width: 208px;
  height: 158px;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-prev,
.swiper-button-next {
  position: unset;
  margin-top: 0;
}

.b-project2 {
  padding: 45px 0;
}

.b-project2__heading {
  margin-bottom: 40px;
}

.b-project2__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .b-project2__card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-project2__card {
  width: 563px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 19px 30px 19px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .b-project2__card {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .b-project2__card {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .b-project2__card {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-project2__card {
    width: 300px;
  }
}

.b-project2__img-box {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-project2__img-box img {
  max-width: 90%;
}

@media (max-width: 1199px) {
  .b-project2__img-box {
    max-width: 400px;
  }
}

.b-project2__card-text {
  text-align: center;
  margin-top: 5px;
}

.b-footer {
  background: #EDEDEE;
  padding: 45px 0;
}

.b-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .b-footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-footer__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  .b-footer__social-box {
    margin-top: 15px;
  }
}

.b-footer__social {
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #223333;
  color: #EDEDEE;
  text-decoration: none;
  font-size: 20px;
}

.b-footer__social:hover {
  background: #E40000;
}

.b-footer__social:not(:last-child) {
  margin-right: 9px;
}

.b-footer__logo {
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .b-footer__logo {
    margin-bottom: 15px;
  }
}

.b-footer__tel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-footer__tel-box svg {
  margin-right: 12px;
}

.b-footer__tel-box:not(:last-child) {
  margin-bottom: 17px;
}

@media (max-width: 424px) {
  .b-footer__tel-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.b-footer__tel {
  font-family: Oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #223333;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-footer__tel:hover {
  color: red;
}

.b-footer__tel:not(:last-child) {
  margin-right: 20px;
}

.b-footer__svg-424 {
  display: none;
}

@media (max-width: 424px) {
  .b-footer__svg-424 {
    display: block;
  }
}

.b-footer__geo-text {
  max-width: 328px;
  font-family: Oswald;
  color: #223333;
}

.b-footer__mail {
  text-decoration: none;
  font-family: Oswald;
  color: #223333;
}

.b-footer__mail:hover {
  color: red;
}

.b-pop-up {
  padding: 29px 22px 44px;
  background: #F2F2F2;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  width: 434px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

@media (max-width: 575px) {
  .b-pop-up {
    width: 310px;
    padding: 20px 20px 20px;
  }
}

.b-pop-up__close {
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-pop-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-pop-up__heading {
  color: #1F1F1F;
  font-weight: normal;
  font-family: Roboto;
}

.b-pop-up__text {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.b-pop-up__input {
  width: 338px;
  height: 44px;
  padding: 0 26px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
}

@media (max-width: 575px) {
  .b-pop-up__input {
    width: 280px;
    padding: 0 15px;
  }
}

.b-pop-up__submit {
  width: 200.91px;
  height: 52px;
  color: #FFFFFF;
  background: #E40000;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
}

@media (max-width: 575px) {
  .b-pop-up__submit {
    width: 150px;
    height: 44px;
  }
}

.b-pop-up__submit:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
          filter: drop-shadow(0px 4px 4px rgba(255, 73, 73, 0.4));
}

.b-feedback {
  padding: 50px 0 40px;
  background: linear-gradient(-45deg, #f2f2f2 15px, transparent 1%), #ededee;
  background-size: 30px 30px;
}

.b-feedback .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 424px) {
  .b-feedback .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  .b-feedback__text-box {
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .b-feedback__text-box {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .b-feedback__text-box {
    max-width: 50%;
  }
}

@media (max-width: 424px) {
  .b-feedback__text-box {
    max-width: unset;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-feetback__heading {
  color: #223333;
  margin-bottom: 16px;
}

@media (max-width: 424px) {
  .b-feetback__heading {
    text-align: center;
  }
}

.b-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.b-breadcrumbs__link {
  font-family: Oswald;
  font-weight: 300;
  color: #223333;
}

.b-breadcrumbs__link:hover {
  color: red;
}

.b-breadcrumbs__text {
  font-family: Oswald;
  font-weight: 300;
  color: #223333;
  margin-left: 14px;
}

.b-blog {
  padding: 15px 0 50px;
}

.b-blog__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-blog__text-box {
  max-width: 850px;
}

.b-blog__heading {
  margin-bottom: 17px;
}

.b-blog__text {
  margin: 0 0 37px 0;
}

.b-blog__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
}

.b-blog__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

@media (max-width: 767px) {
  .b-blog__banner {
    display: none;
  }
}

.b-blog__banner svg {
  margin-right: 15px;
}

.b-blog__banner-text {
  width: 176px;
}

.b-blog__banner-link {
  color: #405083;
  text-decoration: none;
}

.b-blog__banner-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.b-blog__link {
  margin-bottom: 30px;
  display: block;
}

.b-catalog {
  padding: 15px 0 80px;
}

.b-catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.b-catalog__heading {
  margin-bottom: 24px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.b-catalog__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1199px) {
  .b-catalog__card-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1199px) {
  .b-catalog__card-box_doc {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-catalog__card {
  width: 563px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 58px;
}

@media (max-width: 767px) {
  .b-catalog__card {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .b-catalog__card {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-catalog__card {
    width: 310px;
  }
}

.b-catalog__card_documents {
  width: 274px;
  margin-bottom: 47px;
  text-decoration: none;
}

.b-catalog__card_documents:hover > .b-catalog__card-text {
  color: red;
}

.b-catalog__img-box {
  position: relative;
  width: 100%;
  height: 370px;
}

@media (max-width: 575px) {
  .b-catalog__img-box {
    height: 200px;
  }
}

.b-catalog__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.b-catalog__new {
  position: absolute;
  top: 0;
  left: 0;
}

.b-catalog__card-text {
  margin: 15px 0;
  font-family: Oswald;
  color: #223333;
  min-height: 60px;
}

@media (max-width: 767px) {
  .b-catalog__card-text {
    min-height: unset;
  }
}

.b-catalog__card-text_doc {
  margin: 15px 0 5px;
  min-height: unset;
}

.b-catalog__card-des {
  margin: 0;
  font-family: Oswald;
  color: #223333;
  font-weight: 300;
}

.b-catalog__new-text {
  font-family: Oswald;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  -webkit-transform: rotate(-37.95deg);
          transform: rotate(-37.95deg);
  top: 15px;
  left: 0;
}

.b-catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-catalog__this-page {
  width: 41px;
  height: 41px;
  background: #E40000;
  font-family: Oswald;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.b-catalog__link-page {
  width: 41px;
  height: 41px;
  background: #EDEDEE;
  font-family: Oswald;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.b-catalog__link-page:hover {
  background: #E40000;
}

.b-catalog__link-page:not(:last-child) {
  margin-right: 4px;
}

.b-news-box {
  width: 100%;
}

.b-news-box__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  text-decoration: none;
}

.b-news-box__card:hover .b-news-box__card-name {
  color: red;
}

.b-news-box__card-date {
  width: 150px;
  font-weight: 300;
  font-family: Oswald;
  color: #223333;
  margin-right: 15px;
}

.b-news-box__card-name {
  font-family: Oswald;
  color: #223333;
}

.b-news-box__card-name span {
  font-weight: 300;
  font-family: Oswald;
  color: #223333;
}

.b-bascet__name {
  font-family: Oswald;
  color: #223333;
}

.b-bascet__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 18px;
  width: 100%;
}

.b-bascet__del {
  background: none;
  border: none;
  cursor: pointer;
}

.b-bascet__price {
  font-family: Oswald;
  font-weight: bold;
  color: #223333;
  margin-top: 9px;
}

.b-bascet__total-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
  width: 100%;
}

@media (max-width: 424px) {
  .b-bascet__total-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-bascet__total {
  font-weight: normal;
}

@media (max-width: 424px) {
  .b-bascet__total {
    margin-bottom: 15px;
  }
}

.b-accaunt {
  padding: 28px 0 90px;
}

.b-accaunt__heading {
  margin-bottom: 27px;
}

.b-accaunt__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .b-accaunt__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.b-accaunt__card {
  margin-right: 111px;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 991px) {
  .b-accaunt__card {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 424px) {
  .b-accaunt__card {
    width: 310px;
  }
}

.b-accaunt__card2 {
  margin-right: 0;
  width: unset;
  max-width: 470px;
}

@media (max-width: 575px) {
  .b-accaunt__card2 {
    max-width: 400px;
  }
}

@media (max-width: 424px) {
  .b-accaunt__card2 {
    max-width: 310px;
  }
}

.b-accaunt__card-name {
  font-family: Oswald;
  margin-bottom: 15px;
}

.b-accaunt__form {
  width: 100%;
}

.b-accaunt__form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 991px) {
  .b-accaunt__form2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-accaunt__label {
  font-weight: 300;
}

.b-accaunt__input {
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 38px;
  margin-top: 11px;
  margin-bottom: 21px;
}

.b-accaunt__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

.b-accaunt__checkbox-label {
  font-weight: 300;
}

.b-accaunt__link {
  font-weight: 300;
}

.b-accaunt__button {
  width: 100%;
}

.b-accaunt__text {
  font-weight: 300;
  margin-bottom: 21px;
}

@media (max-width: 991px) {
  .b-accaunt__text {
    text-align: center;
  }
}

.b-pay__card-name {
  font-weight: normal;
  color: #223333;
  margin-bottom: 23px;
}

.b-pay__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.b-pay__price-text {
  font-weight: 300;
  font-family: Oswald;
  border: 1px solid #E40000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  padding: 6px 8px 6px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-pay__price {
  border: 1px solid #E40000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99px;
  font-family: Oswald;
  font-weight: 300;
}

.b-pay__button {
  width: 370px;
  margin-top: 28px;
}

@media (max-width: 424px) {
  .b-pay__button {
    width: 310px;
  }
}

.b-contacts {
  padding: 28px 0 56px;
}

.b-contacts__heading {
  margin-bottom: 24px;
}

.b-contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-contacts__contact-box {
  margin-bottom: 30px;
}

.b-contacts__tel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #223333;
  margin-bottom: 13px;
}

.b-contacts__tel-box:hover {
  color: red;
}

.b-contacts__tel-box:hover svg path {
  fill: red;
}

.b-contacts__svg {
  width: 24px;
  margin-right: 13px;
}

.b-contacts__mail-box {
  text-decoration: none;
  color: #223333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  margin-bottom: 35px;
}

.b-contacts__mail-box svg {
  margin-right: 13px;
}

.b-contacts__mail-box:hover {
  color: red;
}

.b-contacts__mail-box:hover svg path {
  fill: red;
}

.b-footer__social_w {
  color: white;
}

.b-contacts__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 51px;
}

.b-contacts__geo svg {
  margin-right: 20px;
}

.b-contacts__map {
  border: none;
  width: 753px;
  height: 620px;
}

@media (max-width: 991px) {
  .b-contacts__map {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .b-contacts__map {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .b-contacts__map {
    width: 400px;
  }
}

@media (max-width: 424px) {
  .b-contacts__map {
    width: 310px;
  }
}
/*# sourceMappingURL=style.css.map */