.banner {
    @media (max-width: 3840px) {
        display: flex;
        color: #1d4f86;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: flex-end;
        &__text {
            position: absolute;
            top: 169px;
            left: 165px;
            width: 1655px;
            z-index: 1;
            &-img {
                display: none;
            }
            & > h2 {
                font-family: Oswald;
                font-weight: bold;
                font-size: 178px;
                line-height: 105.6%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                span {
                    color: #e80a03;
                }
            }
            & > p {
                font-family: Arial;
                font-size: 78px;
                line-height: 127.6%;
                letter-spacing: -0.01em;
                margin-top: 81px;
                margin-bottom: 118px;
            }
            &-ul {
                list-style-type: none;
                & > li {
                    margin: 126px 0;
                }
                .list {
                    display: flex;
                    align-items: center;
                    &__img {
                        margin-right: 94px;
                        width: 174px;
                    }
                    &__text {
                        & > h6 {
                            font-family: Arial;
                            font-weight: bold;
                            font-size: 60px;
                            letter-spacing: -0.01em;
                            margin: 0;
                        }
                        & > p {
                            font-family: Arial;
                            font-size: 52px;
                            letter-spacing: -0.01em;
                        }
                    }
                }
            }

            .baner2-h2 {
                font-family: Oswald;
                font-weight: bold;
                font-size: 172px;
                line-height: 105.6%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                span {
                    color: #651695;
                }
            }

            .baner2-p {
                font-family: Arial;
                font-size: 90px;
                line-height: 127.6%;
                letter-spacing: -0.01em;
                color: #5cc910;
                margin: 94px 0 87px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                &-img {
                    margin-right: 90px;
                }
            }
        }
        &__img {
            height: 2438px;
        }
        .baner2 {
            &-h2 {
                font-size: 172px;
            }
            &-p {
                font-size: 90px;
                margin: 87px 0 94px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
    @media (max-width: 2560px) {
        padding: 113px 102px 0px 102px;
        &__text {
            top: 113px;
            left: 102px;
            width: 1108px;
            & > h2 {
                font-size: 120px;
            }
            & > p {
                font-size: 52px;
                margin: 55px 0 78px 0;
            }
            &-ul {
                & > li {
                    margin: 86px 0;
                }
                .list {
                    &__img {
                        width: 126px;
                        height: 117px;
                        margin-right: 62px;
                    }
                    &__text {
                        & > h6 {
                            font-size: 40px;
                        }
                        & > p {
                            font-size: 34px;
                        }
                    }
                }
            }
        }
        &__img {
            height: 1631px;
        }
        .baner2 {
            &-h2 {
                font-size: 114px;
            }
            &-p {
                font-size: 60px;
                margin: 58px 0 62px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
    @media (max-width: 1960px) {
        padding: 0;
        &__text {
            top: 90px;
            left: 60px;
            width: 1108px;
            & > h2 {
                font-size: 70px;
            }
            & > p {
                font-size: 32px;
                margin: 25px 0 32px 0;
            }
            &-ul {
                & > li {
                    margin: 16px 0;
                }
                .list {
                    &__img {
                        width: 50px;
                        margin-right: 62px;
                    }
                    &__text {
                        & > h6 {
                            font-size: 36px;
                        }
                        & > p {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        &__img {
            height: 931px;
        }
        .baner2 {
            &-h2 {
                font-size: 94px;
            }
            &-p {
                font-size: 40px;
                margin: 58px 0 62px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
    @media (max-width: 1440px) {
        padding: 0px 0px;
        height: 800px;
        &__text {
            top: 50px;
            left: 102px;
            width: 660px;
            & > h2 {
                font-size: 48px;
            }
            & > p {
                font-size: 21px;
                margin: 22px 0 31px 0;
            }
            &-ul {
                & > li {
                    margin: 10px 0;
                }
                .list {
                    &__img {
                        width: 50px;
                        height: 47px;
                        margin-right: 25px;
                    }
                    &__text {
                        & > h6 {
                            font-size: 22px;
                        }
                        & > p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        &__img {
            height: 100%;
            max-width: 100%;
            width: 50%;
            object-fit: cover;
            object-position: top;
        }
        .baner2 {
            &-h2 {
                font-size: 54px;
            }
            &-p {
                font-size: 30px;
                margin: 28px 0 32px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                margin: 10px 0;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        padding: 0;
        &__text {
            width: 50%;
            & > h2 {
                font-size: 48px;
            }
            & > p {
                font-size: 21px;
                margin: 22px 0 31px 0;
            }
            &-ul {
                & > li {
                    margin: 34px 0;
                }
                .list {
                    &__img {
                        width: 50px;
                        height: 47px;
                        margin-right: 25px;
                    }
                    &__text {
                        & > h6 {
                            font-size: 16px;
                        }
                        & > p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .baner2 {
            &-h2 {
                font-size: 46px;
            }
            &-p {
                font-size: 24px;
                margin: 23px 0 25px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                margin: 10px 0;
                width: 332px;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 45px 10px;
        flex-direction: column-reverse;
        height: fit-content;
        background: transparent;
        &__text {
            width: 100%;
            position: static;
            &-img {
                display: block;
            }
            & > h2 {
                font-size: 38px;
                text-align: center;
                span {
                    color: #0064f9;
                }
            }
            & > p {
                font-size: 21px;
                margin: 22px 0 31px 0;
            }
            &-ul {
                & > li {
                    margin: 34px 0;
                }
                .list {
                    &__img {
                        width: 50px;
                        height: 47px;
                        margin-right: 25px;
                    }
                    &__text {
                        & > h6 {
                            font-size: 16px;
                        }
                        & > p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &__img {
            display: none;
        }
        .baner2 {
            .msc {
                width: inherit;
                height: inherit;
                background: #000;
            }
            &-text {
                background-color: #0f608b;
            }
            &-h2 {
                font-size: 46px;
            }
            &-p {
                font-size: 24px;
                margin: 23px 0 25px 0;
            }
            .list2 {
                display: flex;
                align-items: start;
                margin: 10px 0;
                width: 332px;
                &-img {
                    margin-right: 90px;
                }
            }
        }
    }
}

