.container {
    @media (max-width: 590px) {
        max-width: 100%;
    }
    @media (max-width: 780px) {
        max-width: 768px;
    }
    @media (max-width: 1030px) {
        max-width: 1024px;
    }
    @media (max-width: 1450px) {
        max-width: 1440px;
    }
    @media (max-width: 2570px) {
        max-width: 2560px;
    }
}
