.expect {
    @media (max-width: 3840px) {
        &__blue {
            max-width: 3841px;
            width: 100%;
            height: 635px;
            background: #6dcff6;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &:last-child {
                margin-top: -60px;
            }
            & > h2 {
                font-family: Oswald;
                font-weight: bold;
                font-size: 104px;
                line-height: 105.6%;
                letter-spacing: -0.01em;
                color: #ffffff;
                width: 2194px;
            }
            & > button {
                width: 729px;
                height: 149.54px;
                background: #ff1a0d;
                border-radius: 4px;
                font-family: sans-serif;
                font-size: 70px;
                line-height: 127.6%;
                text-align: center;
                letter-spacing: -0.06em;
                color: #ffffff;
            }
        }
        &__content {
            display: flex;
            justify-content: flex-end;
            background-image: url(../img/girls/g1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            height: 1710px;

            &-text {
                margin-top: 5%;
                width: 1313px;
                .hiden {
                    display: none;
                }
                & > h2 {
                    font-family: Oswald;
                    font-weight: bold;
                    font-size: 144px;
                    line-height: 133.6%;
                    letter-spacing: 0.04em;
                    color: #f22384;
                    text-transform: uppercase;
                }
                & > span {
                    font-family: Oswald;
                    font-size: 116px;
                    line-height: 133.6%;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: #000000;
                }
                & > p {
                    font-family: Oswald;
                    font-size: 80px;
                    line-height: 120.6%;
                    letter-spacing: -0.01em;
                    color: #83c407;
                    margin: 51px 0 73px 0;
                    &:last-child {
                        color: #000;
                    }
                }
            }
            &-ul {
                li {
                    margin: 26px 0;
                    display: flex;
                    & > img {
                        width: 76px;
                        height: 76px;
                        margin-right: 50px;
                        margin-left: 60px;
                    }
                    & > p {
                        font-family: Arial;
                        font-weight: bold;
                        font-size: 64px;
                        line-height: 133.6%;
                        letter-spacing: 0.05em;
                        color: #000000;
                    }
                }
            }
        }
    }
    @media (max-width: 2560px) {
        &__blue {
            height: 425px;
            &:last-child {
                margin-top: -40px;
            }
            & > h2 {
                width: 1468px;
                font-size: 70px;
            }
            & > button {
                width: 487px;
                height: 100px;
                font-size: 46px;
            }
        }
        &__content {
            display: flex;
            justify-content: flex-end;
            height: 1175px;

            &-text {
                margin-top: 0px;
                width: 769px;

                & > h2 {
                    font-size: 100px;
                }
                & > span {
                    font-size: 78px;
                }
                & > p {
                    font-size: 54px;
                }
            }
            &-ul {
                li {
                    margin: 26px 0;
                    display: flex;
                    & > img {
                        width: 52px;
                        margin-right: 35px;
                        margin-left: 30px;
                    }
                    & > p {
                        font-size: 44px;
                    }
                }
            }
        }
    }
    @media (max-width: 1960px) {
        &__blue {
            height: 225px;
            &:last-child {
                margin-top: -20px;
            }
            & > h2 {
                width: 768px;
                font-size: 40px;
            }
            & > button {
                width: 287px;
                height: 50px;
                font-size: 26px;
            }
        }
        &__content {
            height: auto;
            background-size: contain;
            background-position: 10% 0;
            justify-content: center;
            &-text {
                margin-top: 0px;
                width: 469px;
                margin-left: 50%;
                height: fit-content;

                & > h2 {
                    font-size: 50px;
                }
                & > span {
                    font-size: 38px;
                }
                & > p {
                    font-size: 24px;
                }
            }
            &-ul {
                li {
                    margin: 6px 0;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    & > img {
                        width: 22px;
                        margin-right: 25px;
                        margin-left: 30px;
                    }
                    & > p {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    @media (max-width: 1440px) {
        &__blue {
            height: 225px;
            &:last-child {
                margin-top: -20px;
            }
            & > h2 {
                width: 768px;
                font-size: 40px;
            }
            & > button {
                width: 287px;
                height: 50px;
                font-size: 26px;
            }
        }
        &__content {
            background-size: contain;
            background-position: 0% 0;
            justify-content: center;
            &-text {
                margin-top: 0px;
                width: 469px;
                margin-left: 60%;
                height: fit-content;

                & > h2 {
                    font-size: 50px;
                }
                & > span {
                    font-size: 38px;
                }
                & > p {
                    font-size: 24px;
                }
            }
            &-ul {
                li {
                    margin: 6px 0;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    & > img {
                        width: 22px;
                        margin-right: 25px;
                        margin-left: 30px;
                    }
                    & > p {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    @media (max-width: 1024px) {
        &__blue {
            height: 170px;
            margin-top: 10px;
            &:last-child {
                margin-top: -20px;
            }
            & > h2 {
                width: 585px;
                font-size: 28px;
            }
            & > button {
                width: 195px;
                height: 40px;
                font-size: 18px;
            }
        }
        &__content {
            height: 504px;
            background-size: contain;
            background-position: left;
            justify-content: flex-end;
            &-text {
                margin-top: 0px;
                width: 308px;
                margin-left: 0;
                margin-right: 10px;
                margin-top: 64px;

                height: fit-content;

                & > h2 {
                    font-size: 40px;
                }
                & > span {
                    font-size: 32px;
                }
                & > p {
                    margin: 0px;
                    font-size: 18px;
                }
            }
            &-ul {
                li {
                    margin: 6px 0;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    & > img {
                        width: 21px;
                        margin-right: 14px;
                        margin-left: 20px;
                    }
                    & > p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @media (max-width: 786px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        &__blue {
            display: none;
        }
        &__content {
            height: 458px;
            background: none;
            &-text {
                .hiden {
                    display: block;
                    margin-top: 40px;
                }
                margin-top: 0px;
                width: 100%;
                text-align: center;
                overflow: hidden;
                margin: 0;
                & > h2 {
                    font-size: 31px;
                    color: #ef2627;
                }
                & > span {
                    font-family: Arial;
                    font-style: italic;
                    font-size: 24px;
                    color: #1d4f86;
                }
                & > p {
                    display: none;
                }
            }
            &-ul {
                display: none;
            }
        }
    }
    @media (max-width: 600px){
        margin-bottom: 0;
    }
}
