// Bold
@font-face {
	font-family: "Conv_Bebas_Bold";
	src: url("../fonts/BebasNeueProBold/fonts/ProBold.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProBold/fonts/ProBold.woff") format("woff"),
		url("../fonts/BebasNeueProBold/fonts/ProBold.ttf") format("truetype"),
		url("../fonts/BebasNeueProBold/fonts/ProBold.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
// Bold Italic
@font-face {
	font-family: "Conv_Bebas_BoldItalic";
	src: url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.woff") format("woff"),
		url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.ttf") format("truetype"),
		url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.svg") format("svg");
	font-weight: 900;
	font-style: italic;
}
// Book
@font-face {
	font-family: "Conv_Bebas_Book";
	src: url("../fonts/BebasNeueProBook/fonts/ProBook.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProBook/fonts/ProBook.woff") format("woff"),
		url("../fonts/BebasNeueProBook/fonts/ProBook.ttf") format("truetype"),
		url("../fonts/BebasNeueProBook/fonts/ProBook.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}
// Book Italic
@font-face {
	font-family: "Conv_Bebas_BookItalic";
	src: url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.woff") format("woff"),
		url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.ttf") format("truetype"),
		url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.svg") format("svg");
	font-weight: 800;
	font-style: italic;
}
// Italic
@font-face {
	font-family: "Conv_Bebas_Italic";
	src: url("../fonts/BebasNeueProItalic/fonts/ProItalic.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProItalic/fonts/ProItalic.woff") format("woff"),
		url("../fonts/BebasNeueProItalic/fonts/ProItalic.ttf") format("truetype"), 
		url("../fonts/BebasNeueProItalic/fonts/ProItalic.svg") format("svg");
	font-weight: 700;
	font-style: italic;
}
// Light
@font-face {
	font-family: "Conv_Bebas_Light";
	src: url("../fonts/BebasNeueProLight/fonts/ProLight.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProLight/fonts/ProLight.woff") format("woff"),
		url("../fonts/BebasNeueProLight/fonts/ProLight.ttf") format("truetype"), 
		url("../fonts/BebasNeueProLight/fonts/ProLight.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
// Light Italic
@font-face {
	font-family: "Conv_Bebas_LightItalic";
	src: url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.woff") format("woff"),
		url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.ttf") format("truetype"),
		url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.svg") format("svg");
	font-weight: 300;
	font-style: italic;
}
// Regular
@font-face {
	font-family: "Conv_Bebas_Regular";
	src: url("../fonts/BebasNeueProRegular/fonts/ProRegular.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProRegular/fonts/ProRegular.woff") format("woff"),
		url("../fonts/BebasNeueProRegular/fonts/ProRegular.ttf") format("truetype"),
		url("../fonts/BebasNeueProRegular/fonts/ProRegular.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
// Thin
@font-face {
	font-family: "Conv_Bebas_Thin";
	src: url("../fonts/BebasNeueProThin/fonts/ProThin.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProThin/fonts/ProThin.woff") format("woff"),
		url("../fonts/BebasNeueProThin/fonts/ProThin.ttf") format("truetype"), 
		url("../fonts/BebasNeueProThin/fonts/ProThin.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}
// Thin Italic
@font-face {
	font-family: "Conv_Bebas_ThinItalic";
	src: url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.eot");
	src: local("☺"), 
		url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.woff") format("woff"),
		url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.ttf") format("truetype"),
		url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.svg") format("svg");
	font-weight: 100;
	font-style: italic;
}
