.header {
    background-image: url(../img/Header/bluegirl1@1x.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 3700px) {
        background-position: 35% 0;
    }
    @media (max-width: 2500px) {
        background-position: 20% 0;
        height: 765px;
    }
    @media (max-width: 990px) {
        background: url(../img/Header/bluegirl1@1x.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 392px;
    }
    @media (max-width: 750px) {
        background: url(../img/Header/bluegirl1@1x.png),
            linear-gradient(to bottom, #defafc 50%, #76d6ee 75%, #9bdbf8 100%);
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 392px;
    }

    &__baner {
        margin: 0 0 0 auto;
        @media (max-width: 8000px) {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            padding: 127px 60px;
        }
        @media (max-width: 3700px) {
            padding: 98px 30px;
        }
        @media (max-width: 2500px) {
            padding: 148px 25px;
        }
        @media (max-width: 990px) {
            padding: 32px 11px;
        }

        &-form {
            background: #fff;
            border-radius: 15px 15px 0px 0px;
            width: 100%;
            min-width: 242px;
            font-family: sans-serif;
            .title {
                font-family: "Oswald";
                font-style: normal;
                font-weight: bold;
                line-height: 127.6%;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                background: #3671b8;
                border-radius: 15px 15px 0px 0px;
                padding: 4px 10px 9px 10px;
            }
            .form__ul {
                list-style-type: none;
                &-li {
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                    margin: 20px auto 25px auto;
                    display: flex;
                    align-items: center;
                    padding: 23px 48px;
                    position: relative;
                    &:last-child {
                        border: none;
                    }
                    .icon {
                        width: 100%;
                    }
                    .input {
                        width: 100%;
                        height: 100%;
                        font-family: "Merel-Medium";
                        line-height: 127.6%;
                        color: #979696;
                        border: none;
                        margin-left: 5%;
                        &::placeholder {
                            color: #cdcdcd;
                        }
                    }

                    .doted {
                        position: absolute;
                        top: 50%;
                        right: 8%;
                        transform: translateY(-50%);
                        display: block;
                        width: 11px;
                        height: 11px;
                        background: #b4b3b3;
                        border-radius: 50%;
                        &::before {
                            content: "";
                            width: 11px;
                            height: 11px;
                            background: #b4b3b3;
                            transform: translateX(-15px);
                            border-radius: 50%;
                            display: block;
                        }
                        &::after {
                            content: "";
                            width: 11px;
                            height: 11px;
                            background: #b4b3b3;
                            transform: translate(15px, -11px);
                            border-radius: 50%;
                            display: block;
                        }
                    }
                    .star {
                        color: #ff3232;
                        font-size: 36px;
                        transform: translate(30px, -30px);
                    }
                    .order {
                        background: #ff1a0d;
                        border-radius: 4px;
                        color: #fff;
                        text-transform: uppercase;
                        border: none;
                    }
                }
            }
            .logos {
                margin: 38px 0 15px 0;
            }

            @media (max-width: 8000px) {
                max-width: 940px;
                .title {
                    font-size: 94px;
                }
                .form__ul {
                    &-li {
                        width: 794px;
                        height: 109px;
                        &:last-child {
                            height: auto;
                            padding: 0;
                        }
                        .icon {
                            max-width: 35px;
                            max-height: 41px;
                            object-fit: fill;
                        }
                        .input {
                            font-size: 48px;
                        }
                        .star {
                            font-size: calc(14px + (22 + 22 * 0.7) * ((100vw / 3840) / 3840));
                            color: #ff3232;
                        }
                        .order {
                            font-size: 60px;
                            width: 688px;
                            height: 199px;
                            margin: 0 auto;
                        }
                    }
                }
            }
            @media (max-width: 3700px) {
                width: 662px;
                .title {
                    font-size: 72px;
                }
                .form__ul {
                    &-li {
                        width: 558px;
                        height: 76px;

                        .input {
                            font-size: 32px;
                        }
                        .order {
                            font-size: 46px;
                            width: 486px;
                            height: 141px;
                        }
                    }
                }
            }
            @media (max-width: 2500px) {
                width: 242px;
                .title {
                    font-size: 26px;
                }
                .form__ul {
                    list-style-type: none;
                    &-li {
                        margin: 3px auto;
                        width: 205px;
                        height: 28px;
                        padding: 0 10px;
                        &:last-child {
                            margin: 10px auto;
                        }
                        .input {
                            font-size: 12px;
                        }
                        .icon {
                            width: 10px;
                            height: 11px;
                        }
                        .doted {
                            position: absolute;
                            top: 50%;
                            right: 7.3%;
                            transform: translateY(-50%);
                            display: block;
                            width: 7px;
                            height: 7px;
                            background: #b4b3b3;
                            border-radius: 50%;
                            &::before {
                                content: "";
                                width: 7px;
                                height: 7px;
                                background: #b4b3b3;
                                transform: translateX(-10px);
                                border-radius: 50%;
                                display: block;
                            }
                            &::after {
                                content: "";
                                width: 7px;
                                height: 7px;
                                background: #b4b3b3;
                                transform: translate(10px, -6.5px);
                                border-radius: 50%;
                                display: block;
                            }
                        }
                        .order {
                            font-size: 17px;
                            width: 180px;
                            height: 43px;
                        }
                    }
                }
            }
            @media (max-width: 990px) {
                display: none;
            }
        }
        &-info {
            max-width: 100%;
            margin-right: 40px;
            text-align: right;
            .title {
                font-family: Arial;
                font-style: italic;
                line-height: 1;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #242458;
                &.smal {
                    font-size: 70px;
                    line-height: 127.6%;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    color: #242458;
                }
            }
            .main__title {
                font-family: Arial;
                font-weight: 900;
                line-height: 1;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #ec000d;
            }
            .sub__title {
                line-height: 1;
                font-family: Arial;
                font-weight: 900;
                font-size: 200px;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #fff910;
                text-shadow: 0px 0px 15px #0085ff;
            }
            .options {
                display: flex;
                justify-content: flex-end;
                &__feild {
                    &-item {
                        background: linear-gradient(
                            89.9deg,
                            #ffffff 0.08%,
                            rgba(255, 255, 255, 0.890625) 89.99%,
                            rgba(255, 255, 255, 0) 100.07%
                        );
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .check {
                            width: 72px;
                            height: 72px;
                        }
                        .text {
                            max-width: 778px;
                            & > p {
                                font-family: 'Oswald', sans-serif;
                                font-style: italic;
                                font-weight: 600;
                                line-height: 133.6%;
                                letter-spacing: -0.03em;
                                color: #21211f;
                                opacity: 0.8;
                            }
                            & > h3 {
                                font-family: "Conv_Bebas_BoldItalic";
                                line-height: 133.6%;
                                letter-spacing: 0.02em;
                                text-transform: uppercase;
                                color: #21211f;
                            }
                        }
                    }
                }
            }
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                &__text {
                    width: 100%;
                    z-index: 2;
                    text-align: center;
                    & > h3 {
                        font-family: 'Oswald', sans-serif;
                        font-weight: 500;
                        line-height: 136.6%;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #030370;
                    }
                    & > p {
                        font-family: 'Oswald', sans-serif;
                        line-height: 136.6%;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #1c1855;
                    }
                }
            }

            @media (max-width: 8000px) {
                .title {
                    font-size: 89px;
                    &.smal {
                        font-size: 70px;
                        margin-top: 50px;
                    }
                }
                .main__title {
                    font-size: 222px;
                }
                .sub__title {
                    font-size: 200px;
                }
                .options {
                    margin-bottom: -60px;
                    .botl {
                        transform: translate(240px);
                        width: 581px;
                        height: 953px;
                    }
                    &__feild {
                        &-item {
                            margin: 15px 0;
                            width: 1262px;
                            .text {
                                max-width: 778px;
                                & > h3 {
                                    font-size: 98px;
                                }
                                & > p {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow.png), url(../img/Header/icons/arrow.png);
                    background-position: left, right;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 300px;
                    &__text {
                        & > h3 {
                            font-size: 112px;
                        }
                        & > p {
                            font-size: 82px;
                        }
                    }
                }
            }
            @media (max-width: 3700px) {
                .title {
                    font-size: 62px;
                    &.smal {
                        font-size: 46px;
                    }
                }
                .main__title {
                    font-size: 150px;
                }
                .sub__title {
                    font-size: 146px;
                }
                .options {
                    margin-bottom: -80px;
                    margin-top: 60px;
                    .botl {
                        transform: translate(200px, -30px);
                        width: 373px;
                        height: 611px;
                    }
                    &__feild {
                        &-item {
                            margin: 12px 0;
                            width: 1262px;
                            .text {
                                max-width: 778px;
                                & > h3 {
                                    font-size: 66px;
                                }
                                & > p {
                                    font-size: 27px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 254px;
                    &__text {
                        & > h3 {
                            font-size: 80px;
                        }
                        & > p {
                            font-size: 56px;
                        }
                    }
                }
            }
            @media (max-width: 3000px) {
                .title {
                    font-size: 62px;
                    &.smal {
                        font-size: 46px;
                    }
                }
                .main__title {
                    font-size: 150px;
                }
                .sub__title {
                    font-size: 146px;
                }
                .options {
                    margin-bottom: -80px;
                    margin-top: 60px;
                    .botl {
                        transform: translate(90px, -20px);
                        width: 373px;
                        height: 611px;
                    }
                    &__feild {
                        &-item {
                            margin: 12px 0;
                            width: 810px;
                            .text {
                                max-width: 566px;
                                & > h3 {
                                    font-size: 66px;
                                }
                                & > p {
                                    font-size: 27px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 254px;
                    &__text {
                        & > h3 {
                            font-size: 80px;
                        }
                        & > p {
                            font-size: 56px;
                        }
                    }
                }
            }
            @media (max-width: 2500px) {
                margin-right: 16px;
                .title {
                    font-size: 26px;
                    &.smal {
                        font-size: 20px;
                        margin: 0;
                    }
                }
                .main__title {
                    font-size: 56px;
                }
                .sub__title {
                    font-size: 58px;
                }
                .options {
                    margin-bottom: -40px;
                    margin-top: 30px;
                    .botl {
                        transform: translate(40px, -25px);
                        width: 137px;
                        height: 226px;
                    }
                    &__feild {
                        &-item {
                            margin: 3px 0;
                            width: 297px;
                            .text {
                                & > h3 {
                                    font-size: 23px;
                                }
                                & > p {
                                    font-size: 8px;
                                }
                            }
                            .check {
                                width: 17px;
                                height: 17px;
                                margin: 0 13px 0 37px;
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 71px;
                    &__text {
                        & > h3 {
                            font-size: 26px;
                        }
                        & > p {
                            font-size: 19px;
                        }
                    }
                }
            }
            @media (max-width: 990px) {
                margin-right: 0;
                .title {
                    font-size: 12px;
                    margin-bottom: 3px;
                    &.smal {
                        font-size: 11px;
                        line-height: 127.6%;
                        margin: 20px 0 0 0;
                    }
                }
                .main__title {
                    font-size: 28px;
                    line-height: 133.6%;
                }
                .sub__title {
                    font-size: 38px;
                }
                .options {
                    margin: 0;
                    height: 178px;
                    .botl {
                        transform: translate(40px, 0px);
                        height: 200px;
                        width: 102px;
                        z-index: 1;
                        img {
                            min-width: 102px;
                            min-height: 200px;
                        }
                    }
                    &__feild {
                        &-item {
                            margin: 8px 0;
                            width: 268px;
                            justify-content: center;
                            .text {
                                & > h3 {
                                    font-size: 23px;
                                }
                                & > p {
                                    font-size: 8px;
                                }
                            }
                            .check {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow2.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 218px;
                    height: 51px;
                    margin: 0 auto;
                    &__text {
                        margin-bottom: 20px;
                        & > h3 {
                            font-size: 18px;
                        }
                        & > p {
                            font-size: 12px;
                        }
                    }
                }
            }
            @media (max-width: 350px) {
                margin-right: 0;
                .options {
                    margin: 0;
                    .botl {
                        transform: translate(40px, 0px);
                        height: 200px;
                        width: 102px;
                        z-index: 1;
                        img {
                            min-width: 102px;
                            min-height: 200px;
                        }
                    }
                    &__feild {
                        &-item {
                            margin: 8px 0;
                            width: 230px;
                            justify-content: center;
                            .text {
                                & > h3 {
                                    font-size: 23px;
                                }
                                & > p {
                                    font-size: 8px;
                                }
                            }
                            .check {
                                & > img {
                                    width: 10px;
                                    height: 8px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    background-image: url(../img/Header/icons/arrow2.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 218px;
                    height: 51px;
                    margin: 0 auto;
                    &__text {
                        margin-bottom: 20px;
                        & > h3 {
                            font-size: 18px;
                        }
                        & > p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
