.header {

    background-image: url(../img/Header/bluegirl1@1x.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 425px) {
        background-image: url(../img/Header/bluegirl1@1x.png), url(../img/Header/blue1.png);
        background-repeat: no-repeat;
        background-position: top, center;
        background-size: contain, cover;
    }
    &__box {
        @media (max-width: 3840px) {
            padding: 124px 69px;
            height: 1921px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        @media (max-width: 2550px) {
            padding: 78px 43px;
            height: 1352px;
        }
        @media (max-width: 1960px) {
            padding: 38px 23px;
            height: 1399px;
        }
        @media (max-width: 1440px) {
            padding: 58px 25px;
            height: 800px;
        }
        @media (max-width: 1024px) {
            padding: 0 25px;
            height: 785px;
        }
        @media (max-width: 768px) {
            width: 100%;
            height: fit-content;
            padding: 16px;
        }
        &-info {
            margin-right: 40px;
            text-align: right;
            color: #242458;
            .title {
                font-family: Arial;
                font-style: italic;
                font-size: 89px;
                line-height: 127.6%;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                &__small {
                    font-family: Arial;
                    font-style: italic;
                    font-size: 70px;
                    line-height: 127.6%;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                }
            }
            .main__title {
                font-family: Arial;
                font-weight: 900;
                font-size: 222px;
                line-height: 133.6%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #ec000d;
            }
            .sub__title {
                line-height: 1;
                font-family: Arial;
                font-weight: 900;
                font-size: 200px;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #fff910;
                text-shadow: 0px 0px 15px #0085ff;
            }
            .options {
                display: flex;
                justify-content: flex-end;
                margin-top: 35px;
                .bottle {
                    width: 580px;
                    height: 953px;
                    transform: translate(200px, -50px);
                    z-index: 2;
                    img {
                        width: 580px;
                        height: 953px;
                    }
                }
                &__feild {
                    &-item {
                        background: linear-gradient(
                            89.9deg,
                            #ffffff 0.08%,
                            rgba(255, 255, 255, 0.890625) 89.99%,
                            rgba(255, 255, 255, 0) 100.07%
                        );
                        font-family: sans-serif;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 1262px;
                        height: 239px;
                        margin: 15px 0;
                        .check {
                            width: 72px;
                            height: 72px;
                            margin-right: 56px;
                        }
                        .text {
                            text-align: left;
                            color: #21211f;
                            font-style: italic;
                            & > h3 {
                                white-space: nowrap;
                                font-weight: bold;
                                font-size: 98px;
                                line-height: 133.6%;
                                letter-spacing: 0.02em;
                                text-transform: uppercase;
                                font-family: "Conv_Bebas_BoldItalic";
                            }
                            & > p {
                                font-family: "Oswald", sans-serif;
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 133.6%;
                                letter-spacing: -0.03em;
                                color: #21211f;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1653px;
                height: 300px;
                text-align: center;
                background-image: url(../img/Header/icons/arrow.png);
                transform: translate(200px, -150px);
                &__text {
                    z-index: 2;
                    text-align: center;
                    & > h3 {
                        font-family: "Oswald", sans-serif;
                        font-weight: 500;
                        font-size: 112px;
                        line-height: 136.6%;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #030370;
                    }
                    & > p {
                        font-family: "Oswald", sans-serif;
                        line-height: 136.6%;
                        font-size: 82px;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #1c1855;
                    }
                }
            }

            @media (max-width: 2560px) {
                height: 1352px;
                .title {
                    font-size: 62px;
                    &__small {
                        font-size: 46px;
                    }
                }
                .main__title {
                    font-size: 150px;
                }
                .sub__title {
                    font-size: 146px;
                }
                .options {
                    margin-top: 43px;
                    .bottle {
                        width: 373px;
                        height: 611px;
                        transform: translate(100px, -50px);
                        img {
                            width: 373px;
                            height: 611px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 810px;
                            height: 153px;
                            margin: 12px 0;
                            .check {
                                width: 46px;
                                height: 46px;
                                margin-right: 36px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 66px;
                                }
                                & > p {
                                    font-size: 27px;
                                    width: 566px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 1211px;
                    height: 254px;
                    transform: translate(10px, -100px);
                    background-size: contain;
                    background-repeat: no-repeat;
                    &__text {
                        z-index: 2;
                        text-align: center;
                        & > h3 {
                            font-size: 80px;
                        }
                        & > p {
                            font-size: 56px;
                        }
                    }
                }
            }
            @media (max-width: 1960px) {
                height: 937px;
                .title {
                    font-size: 50px;
                    &__small {
                        font-size: 36px;
                    }
                }
                .main__title {
                    font-size: 100px;
                }
                .sub__title {
                    font-size: 96px;
                }
                .options {
                    margin-top: 30px;
                    .bottle {
                        width: 273px;
                        height: 411px;
                        transform: translate(100px, -10px);
                        img {
                            width: 373px;
                            height: 611px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 610px;
                            height: auto;
                            margin: 12px 0;
                            .check {
                                width: 46px;
                                height: 46px;
                                margin-right: 36px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 36px;
                                }
                                & > p {
                                    font-size: 20px;
                                    width: 366px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 911px;
                    height: 154px;
                    transform: translate(100px, -50px);
                    background-size: contain;
                    background-repeat: no-repeat;
                    &__text {
                        z-index: 2;
                        text-align: center;
                        & > h3 {
                            font-size: 54px;
                        }
                        & > p {
                            font-size: 40px;
                        }
                    }
                }
            }
            @media (max-width: 1440px) {
                height: 800px;
                margin-right: 20px;
                .title {
                    font-size: 42px;
                    &__small {
                        font-size: 36px;
                    }
                }
                .main__title {
                    font-size: 80px;
                }
                .sub__title {
                    font-size: 75px;
                }
                .options {
                    margin-top: 23px;
                    .bottle {
                        width: 220px;
                        height: 370px;
                        transform: translate(50px, -10px);
                        img {
                            width: 220px;
                            height: 370px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 510px;
                            height: 90px;
                            margin: 10px 0;
                            .check {
                                width: 26px;
                                height: 26px;
                                margin-right: 26px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 26px;
                                }
                                & > p {
                                    font-size: 17px;
                                    width: 350px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 720px;
                    height: 130px;
                    transform: translate(100px, -60px);
                    background-size: cover;
                    background-repeat: no-repeat;
                    &__text {
                        & > h3 {
                            font-size: 44px;
                        }
                        & > p {
                            font-size: 34px;
                        }
                    }
                }
            }
            @media (max-width: 1024px) {
                height: 496px;
                margin-right: 16px;
                .title {
                    font-size: 26px;
                    &__small {
                        font-size: 20px;
                    }
                }
                .main__title {
                    font-size: 56px;
                }
                .sub__title {
                    font-size: 58px;
                }
                .options {
                    margin-top: 23px;
                    .bottle {
                        width: 137px;
                        height: 226px;
                        transform: translate(50px, -10px);
                        img {
                            width: 137px;
                            height: 226px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 297px;
                            height: 56px;
                            margin: 3px 0;
                            .check {
                                width: 17px;
                                height: 17px;
                                margin-right: 13px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 23px;
                                }
                                & > p {
                                    font-size: 8px;
                                    width: 183px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 390px;
                    height: 71px;
                    transform: translate(120px, -30px);
                    background-size: cover;
                    background-repeat: no-repeat;
                    &__text {
                        & > h3 {
                            font-size: 26px;
                        }
                        & > p {
                            font-size: 19px;
                        }
                    }
                }
            }
            @media (max-width: 650px) {
                height: 375px;
                margin-right: 0;
                .title {
                    font-size: 12px;
                    &__small {
                        font-size: 11px;
                    }
                }
                .main__title {
                    font-size: 28px;
                }
                .sub__title {
                    font-size: 38px;
                }
                .options {
                    margin-top: 12px;
                    justify-content: center;
                    .bottle {
                        width: 102px;
                        height: 200px;
                        transform: translate(30px, 5px);
                        img {
                            width: 102px;
                            height: 200px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 268px;
                            height: 54px;
                            margin: 8px 0;
                            .check {
                                width: 17px;
                                height: 17px;
                                margin-right: 13px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 20px;
                                }
                                & > p {
                                    font-size: 8px;
                                    width: 175px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 218px;
                    height: 51px;
                    transform: translate(80px, -10px);
                    background-image: url(../img/Header/icons/arrow2.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    align-items: flex-start;
                    &__text {
                        & > h3 {
                            font-size: 18px;
                        }
                        & > p {
                            font-size: 12px;
                        }
                    }
                }
            }
            @media (max-width: 350px) {
                height: 375px;
                margin-right: 0;
                padding: 0 5px;
                .title {
                    font-size: 12px;
                    &__small {
                        font-size: 11px;
                    }
                }
                .main__title {
                    font-size: 28px;
                }
                .sub__title {
                    font-size: 38px;
                }
                .options {
                    margin-top: 12px;
                    .bottle {
                        width: 92px;
                        height: 170px;
                        transform: translate(30px, 5px);
                        img {
                            width: 102px;
                            height: 200px;
                        }
                    }
                    &__feild {
                        &-item {
                            width: 248px;
                            height: 54px;
                            margin: 8px 0;
                            .check {
                                width: 17px;
                                height: 17px;
                                margin-right: 13px;
                            }
                            .text {
                                & > h3 {
                                    font-size: 20px;
                                }
                                & > p {
                                    font-size: 8px;
                                    width: 175px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    width: 218px;
                    height: 51px;
                    transform: translate(80px, -10px);
                    background-image: url(../img/Header/icons/arrow2.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    align-items: flex-start;
                    &__text {
                        z-index: 3;
                        position: relative;
                        & > h3 {
                            font-size: 18px;
                        }
                        & > p {
                            font-size: 12px;
                        }
                    }
                }
            }
            @media (max-width: 320px) {
                .options {
                    &__feild {
                        margin-right: 25px;
                        &-item {
                            height: 44px;
                            width: 250px;
                            .text {
                                & > h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .arrow {
                    transform: translate(45px, -10px);
                    &__text {
                        & > h3 {
                            font-size: 16px;
                        }
                        & > p {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        &-form {
            background: #fff;
            border-radius: 15px 15px 0px 0px;
            font-family: sans-serif;
            width: 940px;
            padding-bottom: 8px;
            .title {
                background: #3671b8;
                border-radius: 15px 15px 0px 0px;
                font-family: Oswald;
                font-weight: bold;
                font-size: 94px;
                line-height: 127.6%;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
            }
            .form__ul {
                list-style-type: none;
                &-li {
                    border: 1px solid #cccccc;
                    box-sizing: border-box;
                    border-radius: 4px;
                    position: relative;
                    width: 794px;
                    height: 109px;
                    display: flex;
                    align-items: center;
                    margin: 25px auto;

                    &:last-child {
                        border: none;
                        height: auto;
                    }
                    .icon {
                        width: 36px;
                        height: 41px;
                        margin: 0 43px;
                    }
                    .input {
                        width: 100%;
                        height: 100%;
                        text-align: left;
                        font-size: 48px;
                        line-height: 127.6%;
                        color: #979696;
                        border: none;
                        &::placeholder {
                            color: #cdcdcd;
                        }
                    }

                    .star {
                        color: #ff3232;
                        font-size: 36px;
                        transform: translate(-30px, -20px);
                    }
                    .order {
                        background: #ff1a0d;
                        border-radius: 4px;
                        text-transform: uppercase;
                        border: none;
                        width: 688px;
                        height: 199px;
                        font-size: 60px;
                        line-height: 127.6%;
                        text-align: center;
                        letter-spacing: -0.06em;
                        color: #ffffff;
                        margin: 40px auto;
                    }
                }
            }
            @media (max-width: 2560px) {
                width: 662px;
                .title {
                    font-size: 72px;
                }
                .form__ul {
                    &-li {
                        width: 558px;
                        height: 76px;
                        margin: 18px auto;

                        .icon {
                            width: 25px;
                            height: 28px;
                            margin: 0 39px 0 23px;
                        }
                        .input {
                            font-size: 32px;
                        }

                        .star {
                            font-size: 26px;
                        }
                        .order {
                            width: 486px;
                            height: 141px;
                            font-size: 46px;
                            margin: 28px auto 38px auto;
                        }
                    }
                }
            }
            @media (max-width: 1960px) {
                width: 500px;
                .title {
                    font-size: 52px;
                }
                .form__ul {
                    &-li {
                        width: 400px;
                        height: 46px;
                        margin: 18px auto;

                        .icon {
                            width: 25px;
                            height: 28px;
                            margin: 0 39px 0 23px;
                        }
                        .input {
                            font-size: 28px;
                        }

                        .star {
                            font-size: 26px;
                        }
                        .order {
                            width: 286px;
                            height: 80px;
                            font-size: 30px;
                            margin: 18px auto 28px auto;
                        }
                    }
                }
            }
            @media (max-width: 1440px) {
                width: 320px;

                .title {
                    font-size: 40px;
                }
                .form__ul {
                    &-li {
                        width: 280px;
                        height: 46px;
                        margin: 10px auto;

                        .icon {
                            width: 18px;
                            height: 18px;
                            margin: 0 19px 0 23px;
                        }
                        .input {
                            font-size: 18px;
                        }

                        .star {
                            font-size: 16px;
                            transform: translate(-10px, -5px);
                        }
                        .order {
                            width: 260px;
                            height: 50px;
                            font-size: 26px;
                            margin: 18px auto;
                        }
                    }
                }
            }
            @media (max-width: 1024px) {
                width: 242px;

                .title {
                    font-size: 26px;
                }
                .form__ul {
                    &-li {
                        width: 205px;
                        height: 28px;
                        margin: 6px auto;

                        .icon {
                            width: 9px;
                            height: 10px;
                            margin: 0 8px 0 16px;
                        }
                        .input {
                            font-size: 12px;
                        }

                        .star {
                            font-size: 14px;
                        }
                        .order {
                            width: 180px;
                            height: 43px;
                            font-size: 17px;
                            margin: 18px auto 17px auto;
                        }
                    }
                }
            }
            @media (max-width: 860px) {
                display: none;
            }
        }
    }
}
