.jurnal {
    display: flex;
    align-content: center;
    justify-content: center;
    &__text {
        & > h2 {
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            font-size: 136px;
            line-height: 105.6%;
            text-transform: uppercase;
            color: #ff7043;
        }
        & > h4 {
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            font-size: 88px;
            line-height: 127.6%;
            text-transform: uppercase;
            color: #06407d;
        }
        & > h6 {
            font-family: Arial;
            font-weight: bold;
            font-size: 62px;
            line-height: 127.6%;
            color: #06407d;
        }
        & > p,
        a {
            font-family: Arial;
            font-size: 62px;
            line-height: 127.6%;
            color: #06407d;
        }
    }

    @media (max-width: 5000px) {
        margin-top: 372px;
        &__text {
            width: 1736px;
            & > p {
                margin: 37px 0;
            }
        }
        &__img {
            width: 1894px;
        }
    }
    @media (max-width: 3800px) {
        margin-top: 304px;
        &__text {
            width: 1145px;
            & > h2 {
                font-size: 90px;
            }
            & > h4 {
                font-size: 58px;
                margin: 18px 0 28px 0;
            }
            & > h6 {
                font-size: 40px;
            }
            & > p,
            a {
                font-size: 40px;
            }
            & > p {
                margin: 17px 0;
            }
        }
        &__img {
            width: 1250px;
        }
    }
    @media (max-width: 2500px) {
        margin-top: 102px;
        &__text {
            width: 900px;
            & > h2 {
                font-size: 80px;
            }
            & > h4 {
                font-size: 43px;
                margin: 7px 0 11px 0;
            }
            & > h6 {
                font-size: 30px;
            }
            & > p,
            a {
                font-size: 30px;
            }
            & > p {
                margin: 17px 0;
            }
        }
        &__img {
            width: 900px;
        }
    }
    @media (max-width: 1900px) {
        margin-top: 114px;
        &__text {
            width: 450px;
            & > h2 {
                font-size: 36px;
            }
            & > h4 {
                font-size: 23px;
                margin: 7px 0 11px 0;
            }
            & > h6 {
                font-size: 16px;
            }
            & > p,
            a {
                font-size: 16px;
            }
            & > p {
                margin: 11px 0;
            }
        }
        &__img {
            width: 491px;
        }
    }
    @media (max-width: 950px) {
        margin-top: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__text {
            width: 100%;
            padding: 0 22px;
            & > h2 {
                font-size: 36px;
            }
            & > h4 {
                font-size: 23px;
                margin: 7px 0 11px 0;
            }
            & > h6 {
                font-size: 16px;
            }
            & > p,
            a {
                font-size: 16px;
            }
            & > p {
                margin: 11px 0;
            }
        }
        &__img {
            width: 100%;
        }
    }
    @media (max-width: 450px) {
        &__text {
            & > h2 {
                font-size: 27px;
            }
            & > h4 {
                font-size: 20px;
                margin: 7px 0 11px 0;
            }
            & > h6 {
                font-size: 16px;
            }
            & > p,
            a {
                font-size: 16px;
            }
            & > p {
                margin: 11px 0;
            }
        }
        &__img {
            width: 100%;
        }
    }
}
