.structure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 488px;
    background: #F7F7F7;
    &__left {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 60px;
        line-height: 127.6%;
        text-transform: uppercase;
        color: #9a9898;
        & > h4 {
            font-weight: inherit;
            &:last-child {
                margin-top: 90px;
            }
        }
    }
    &__right {
        & > .img {
            &:last-child {
                margin: 35px 0 0 0;
            }
        }
    }
    @media (max-width: 2500px) {
        height: 326px;
        &__left {
            font-size: 38px;
        }
        &__right {
            & > .img {
                max-width: 850px;
                &:last-child {
                    max-width: 666px;
                    margin: 35px 0 0 0;
                }
            }
        }
    }
    @media (max-width: 1500px) {
        height: 130px;
        &__left {
            font-size: 16px;
            & > h4 {
                font-weight: inherit;
                &:last-child {
                    margin-top: 24px;
                }
            }
        }
        &__right {
            & > .img {
                max-width: 335px;
                &:last-child {
                    max-width: 268px;
                    margin: 14px 0 0 0;
                }
            }
        }
    }
    @media (max-width: 600px) {
        height: 80px;
        background: none;
        &__left {
            display: none;
        }
        &__right {
            & > .img {
                max-width: 300px;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
