@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 590px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 1030px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1450px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 2570px) {
  .container {
    max-width: 2560px;
  }
}

.header {
  background-image: url(../img/Header/bluegirl1@1x.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .header {
    background-image: url(../img/Header/bluegirl1@1x.png), url(../img/Header/blue1.png);
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: contain, cover;
  }
}

@media (max-width: 3840px) {
  .header__box {
    padding: 124px 69px;
    height: 1921px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 2550px) {
  .header__box {
    padding: 78px 43px;
    height: 1352px;
  }
}

@media (max-width: 1960px) {
  .header__box {
    padding: 38px 23px;
    height: 1399px;
  }
}

@media (max-width: 1440px) {
  .header__box {
    padding: 58px 25px;
    height: 800px;
  }
}

@media (max-width: 1024px) {
  .header__box {
    padding: 0 25px;
    height: 785px;
  }
}

@media (max-width: 768px) {
  .header__box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 16px;
  }
}

.header__box-info {
  margin-right: 40px;
  text-align: right;
  color: #242458;
}

.header__box-info .title {
  font-family: Arial;
  font-style: italic;
  font-size: 89px;
  line-height: 127.6%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__box-info .title__small {
  font-family: Arial;
  font-style: italic;
  font-size: 70px;
  line-height: 127.6%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.header__box-info .main__title {
  font-family: Arial;
  font-weight: 900;
  font-size: 222px;
  line-height: 133.6%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ec000d;
}

.header__box-info .sub__title {
  line-height: 1;
  font-family: Arial;
  font-weight: 900;
  font-size: 200px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff910;
  text-shadow: 0px 0px 15px #0085ff;
}

.header__box-info .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 35px;
}

.header__box-info .options .bottle {
  width: 580px;
  height: 953px;
  -webkit-transform: translate(200px, -50px);
          transform: translate(200px, -50px);
  z-index: 2;
}

.header__box-info .options .bottle img {
  width: 580px;
  height: 953px;
}

.header__box-info .options__feild-item {
  background: linear-gradient(89.9deg, #ffffff 0.08%, rgba(255, 255, 255, 0.890625) 89.99%, rgba(255, 255, 255, 0) 100.07%);
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1262px;
  height: 239px;
  margin: 15px 0;
}

.header__box-info .options__feild-item .check {
  width: 72px;
  height: 72px;
  margin-right: 56px;
}

.header__box-info .options__feild-item .text {
  text-align: left;
  color: #21211f;
  font-style: italic;
}

.header__box-info .options__feild-item .text > h3 {
  white-space: nowrap;
  font-weight: bold;
  font-size: 98px;
  line-height: 133.6%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "Conv_Bebas_BoldItalic";
}

.header__box-info .options__feild-item .text > p {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 133.6%;
  letter-spacing: -0.03em;
  color: #21211f;
  opacity: 0.8;
}

.header__box-info .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1653px;
  height: 300px;
  text-align: center;
  background-image: url(../img/Header/icons/arrow.png);
  -webkit-transform: translate(200px, -150px);
          transform: translate(200px, -150px);
}

.header__box-info .arrow__text {
  z-index: 2;
  text-align: center;
}

.header__box-info .arrow__text > h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 112px;
  line-height: 136.6%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #030370;
}

.header__box-info .arrow__text > p {
  font-family: "Oswald", sans-serif;
  line-height: 136.6%;
  font-size: 82px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1c1855;
}

@media (max-width: 2560px) {
  .header__box-info {
    height: 1352px;
  }
  .header__box-info .title {
    font-size: 62px;
  }
  .header__box-info .title__small {
    font-size: 46px;
  }
  .header__box-info .main__title {
    font-size: 150px;
  }
  .header__box-info .sub__title {
    font-size: 146px;
  }
  .header__box-info .options {
    margin-top: 43px;
  }
  .header__box-info .options .bottle {
    width: 373px;
    height: 611px;
    -webkit-transform: translate(100px, -50px);
            transform: translate(100px, -50px);
  }
  .header__box-info .options .bottle img {
    width: 373px;
    height: 611px;
  }
  .header__box-info .options__feild-item {
    width: 810px;
    height: 153px;
    margin: 12px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 46px;
    height: 46px;
    margin-right: 36px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 66px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 27px;
    width: 566px;
  }
  .header__box-info .arrow {
    width: 1211px;
    height: 254px;
    -webkit-transform: translate(10px, -100px);
            transform: translate(10px, -100px);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__box-info .arrow__text {
    z-index: 2;
    text-align: center;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 80px;
  }
  .header__box-info .arrow__text > p {
    font-size: 56px;
  }
}

@media (max-width: 1960px) {
  .header__box-info {
    height: 937px;
  }
  .header__box-info .title {
    font-size: 50px;
  }
  .header__box-info .title__small {
    font-size: 36px;
  }
  .header__box-info .main__title {
    font-size: 100px;
  }
  .header__box-info .sub__title {
    font-size: 96px;
  }
  .header__box-info .options {
    margin-top: 30px;
  }
  .header__box-info .options .bottle {
    width: 273px;
    height: 411px;
    -webkit-transform: translate(100px, -10px);
            transform: translate(100px, -10px);
  }
  .header__box-info .options .bottle img {
    width: 373px;
    height: 611px;
  }
  .header__box-info .options__feild-item {
    width: 610px;
    height: auto;
    margin: 12px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 46px;
    height: 46px;
    margin-right: 36px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 36px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 20px;
    width: 366px;
  }
  .header__box-info .arrow {
    width: 911px;
    height: 154px;
    -webkit-transform: translate(100px, -50px);
            transform: translate(100px, -50px);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__box-info .arrow__text {
    z-index: 2;
    text-align: center;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 54px;
  }
  .header__box-info .arrow__text > p {
    font-size: 40px;
  }
}

@media (max-width: 1440px) {
  .header__box-info {
    height: 800px;
    margin-right: 20px;
  }
  .header__box-info .title {
    font-size: 42px;
  }
  .header__box-info .title__small {
    font-size: 36px;
  }
  .header__box-info .main__title {
    font-size: 80px;
  }
  .header__box-info .sub__title {
    font-size: 75px;
  }
  .header__box-info .options {
    margin-top: 23px;
  }
  .header__box-info .options .bottle {
    width: 220px;
    height: 370px;
    -webkit-transform: translate(50px, -10px);
            transform: translate(50px, -10px);
  }
  .header__box-info .options .bottle img {
    width: 220px;
    height: 370px;
  }
  .header__box-info .options__feild-item {
    width: 510px;
    height: 90px;
    margin: 10px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 26px;
    height: 26px;
    margin-right: 26px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 26px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 17px;
    width: 350px;
  }
  .header__box-info .arrow {
    width: 720px;
    height: 130px;
    -webkit-transform: translate(100px, -60px);
            transform: translate(100px, -60px);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 44px;
  }
  .header__box-info .arrow__text > p {
    font-size: 34px;
  }
}

@media (max-width: 1024px) {
  .header__box-info {
    height: 496px;
    margin-right: 16px;
  }
  .header__box-info .title {
    font-size: 26px;
  }
  .header__box-info .title__small {
    font-size: 20px;
  }
  .header__box-info .main__title {
    font-size: 56px;
  }
  .header__box-info .sub__title {
    font-size: 58px;
  }
  .header__box-info .options {
    margin-top: 23px;
  }
  .header__box-info .options .bottle {
    width: 137px;
    height: 226px;
    -webkit-transform: translate(50px, -10px);
            transform: translate(50px, -10px);
  }
  .header__box-info .options .bottle img {
    width: 137px;
    height: 226px;
  }
  .header__box-info .options__feild-item {
    width: 297px;
    height: 56px;
    margin: 3px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 17px;
    height: 17px;
    margin-right: 13px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 23px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 8px;
    width: 183px;
  }
  .header__box-info .arrow {
    width: 390px;
    height: 71px;
    -webkit-transform: translate(120px, -30px);
            transform: translate(120px, -30px);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 26px;
  }
  .header__box-info .arrow__text > p {
    font-size: 19px;
  }
}

@media (max-width: 650px) {
  .header__box-info {
    height: 375px;
    margin-right: 0;
  }
  .header__box-info .title {
    font-size: 12px;
  }
  .header__box-info .title__small {
    font-size: 11px;
  }
  .header__box-info .main__title {
    font-size: 28px;
  }
  .header__box-info .sub__title {
    font-size: 38px;
  }
  .header__box-info .options {
    margin-top: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__box-info .options .bottle {
    width: 102px;
    height: 200px;
    -webkit-transform: translate(30px, 5px);
            transform: translate(30px, 5px);
  }
  .header__box-info .options .bottle img {
    width: 102px;
    height: 200px;
  }
  .header__box-info .options__feild-item {
    width: 268px;
    height: 54px;
    margin: 8px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 17px;
    height: 17px;
    margin-right: 13px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 20px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 8px;
    width: 175px;
  }
  .header__box-info .arrow {
    width: 218px;
    height: 51px;
    -webkit-transform: translate(80px, -10px);
            transform: translate(80px, -10px);
    background-image: url(../img/Header/icons/arrow2.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 18px;
  }
  .header__box-info .arrow__text > p {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .header__box-info {
    height: 375px;
    margin-right: 0;
    padding: 0 5px;
  }
  .header__box-info .title {
    font-size: 12px;
  }
  .header__box-info .title__small {
    font-size: 11px;
  }
  .header__box-info .main__title {
    font-size: 28px;
  }
  .header__box-info .sub__title {
    font-size: 38px;
  }
  .header__box-info .options {
    margin-top: 12px;
  }
  .header__box-info .options .bottle {
    width: 92px;
    height: 170px;
    -webkit-transform: translate(30px, 5px);
            transform: translate(30px, 5px);
  }
  .header__box-info .options .bottle img {
    width: 102px;
    height: 200px;
  }
  .header__box-info .options__feild-item {
    width: 248px;
    height: 54px;
    margin: 8px 0;
  }
  .header__box-info .options__feild-item .check {
    width: 17px;
    height: 17px;
    margin-right: 13px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 20px;
  }
  .header__box-info .options__feild-item .text > p {
    font-size: 8px;
    width: 175px;
  }
  .header__box-info .arrow {
    width: 218px;
    height: 51px;
    -webkit-transform: translate(80px, -10px);
            transform: translate(80px, -10px);
    background-image: url(../img/Header/icons/arrow2.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__box-info .arrow__text {
    z-index: 3;
    position: relative;
  }
  .header__box-info .arrow__text > h3 {
    font-size: 18px;
  }
  .header__box-info .arrow__text > p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .header__box-info .options__feild {
    margin-right: 25px;
  }
  .header__box-info .options__feild-item {
    height: 44px;
    width: 250px;
  }
  .header__box-info .options__feild-item .text > h3 {
    font-size: 16px;
  }
  .header__box-info .arrow {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  .header__box-info .arrow__text > h3 {
    font-size: 16px;
  }
  .header__box-info .arrow__text > p {
    font-size: 11px;
  }
}

.header__box-form {
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  font-family: sans-serif;
  width: 940px;
  padding-bottom: 8px;
}

.header__box-form .title {
  background: #3671b8;
  border-radius: 15px 15px 0px 0px;
  font-family: Oswald;
  font-weight: bold;
  font-size: 94px;
  line-height: 127.6%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header__box-form .form__ul {
  list-style-type: none;
}

.header__box-form .form__ul-li {
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 794px;
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto;
}

.header__box-form .form__ul-li:last-child {
  border: none;
  height: auto;
}

.header__box-form .form__ul-li .icon {
  width: 36px;
  height: 41px;
  margin: 0 43px;
}

.header__box-form .form__ul-li .input {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 48px;
  line-height: 127.6%;
  color: #979696;
  border: none;
}

.header__box-form .form__ul-li .input::-webkit-input-placeholder {
  color: #cdcdcd;
}

.header__box-form .form__ul-li .input:-ms-input-placeholder {
  color: #cdcdcd;
}

.header__box-form .form__ul-li .input::-ms-input-placeholder {
  color: #cdcdcd;
}

.header__box-form .form__ul-li .input::placeholder {
  color: #cdcdcd;
}

.header__box-form .form__ul-li .star {
  color: #ff3232;
  font-size: 36px;
  -webkit-transform: translate(-30px, -20px);
          transform: translate(-30px, -20px);
}

.header__box-form .form__ul-li .order {
  background: #ff1a0d;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  width: 688px;
  height: 199px;
  font-size: 60px;
  line-height: 127.6%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #ffffff;
  margin: 40px auto;
}

@media (max-width: 2560px) {
  .header__box-form {
    width: 662px;
  }
  .header__box-form .title {
    font-size: 72px;
  }
  .header__box-form .form__ul-li {
    width: 558px;
    height: 76px;
    margin: 18px auto;
  }
  .header__box-form .form__ul-li .icon {
    width: 25px;
    height: 28px;
    margin: 0 39px 0 23px;
  }
  .header__box-form .form__ul-li .input {
    font-size: 32px;
  }
  .header__box-form .form__ul-li .star {
    font-size: 26px;
  }
  .header__box-form .form__ul-li .order {
    width: 486px;
    height: 141px;
    font-size: 46px;
    margin: 28px auto 38px auto;
  }
}

@media (max-width: 1960px) {
  .header__box-form {
    width: 500px;
  }
  .header__box-form .title {
    font-size: 52px;
  }
  .header__box-form .form__ul-li {
    width: 400px;
    height: 46px;
    margin: 18px auto;
  }
  .header__box-form .form__ul-li .icon {
    width: 25px;
    height: 28px;
    margin: 0 39px 0 23px;
  }
  .header__box-form .form__ul-li .input {
    font-size: 28px;
  }
  .header__box-form .form__ul-li .star {
    font-size: 26px;
  }
  .header__box-form .form__ul-li .order {
    width: 286px;
    height: 80px;
    font-size: 30px;
    margin: 18px auto 28px auto;
  }
}

@media (max-width: 1440px) {
  .header__box-form {
    width: 320px;
  }
  .header__box-form .title {
    font-size: 40px;
  }
  .header__box-form .form__ul-li {
    width: 280px;
    height: 46px;
    margin: 10px auto;
  }
  .header__box-form .form__ul-li .icon {
    width: 18px;
    height: 18px;
    margin: 0 19px 0 23px;
  }
  .header__box-form .form__ul-li .input {
    font-size: 18px;
  }
  .header__box-form .form__ul-li .star {
    font-size: 16px;
    -webkit-transform: translate(-10px, -5px);
            transform: translate(-10px, -5px);
  }
  .header__box-form .form__ul-li .order {
    width: 260px;
    height: 50px;
    font-size: 26px;
    margin: 18px auto;
  }
}

@media (max-width: 1024px) {
  .header__box-form {
    width: 242px;
  }
  .header__box-form .title {
    font-size: 26px;
  }
  .header__box-form .form__ul-li {
    width: 205px;
    height: 28px;
    margin: 6px auto;
  }
  .header__box-form .form__ul-li .icon {
    width: 9px;
    height: 10px;
    margin: 0 8px 0 16px;
  }
  .header__box-form .form__ul-li .input {
    font-size: 12px;
  }
  .header__box-form .form__ul-li .star {
    font-size: 14px;
  }
  .header__box-form .form__ul-li .order {
    width: 180px;
    height: 43px;
    font-size: 17px;
    margin: 18px auto 17px auto;
  }
}

@media (max-width: 860px) {
  .header__box-form {
    display: none;
  }
}

@media (max-width: 3840px) {
  .structure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 488px;
    background: #f7f7f7;
  }
  .structure__left {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 127.6%;
    text-transform: uppercase;
    color: #9a9898;
  }
  .structure__left > h4 {
    font-weight: inherit;
  }
  .structure__left > h4:last-child {
    margin-top: 90px;
  }
  .structure__right > .img:last-child {
    margin: 35px 0 0 0;
  }
}

@media (max-width: 2560px) {
  .structure {
    height: 326px;
  }
  .structure__left {
    font-size: 38px;
  }
  .structure__right > .img {
    max-width: 850px;
  }
  .structure__right > .img:last-child {
    max-width: 666px;
    margin: 35px 0 0 0;
  }
}

@media (max-width: 1440px) {
  .structure {
    height: 130px;
  }
  .structure__left {
    font-size: 16px;
  }
  .structure__left > h4 {
    font-weight: inherit;
  }
  .structure__left > h4:last-child {
    margin-top: 24px;
  }
  .structure__right > .img {
    max-width: 335px;
  }
  .structure__right > .img:last-child {
    max-width: 268px;
    margin: 14px 0 0 0;
  }
}

@media (max-width: 600px) {
  .structure {
    height: 80px;
    background: none;
  }
  .structure__left {
    display: none;
  }
  .structure__right > .img {
    max-width: 300px;
  }
  .structure__right > .img:last-child {
    display: none;
  }
}

@media (max-width: 3840px) {
  .proof {
    text-align: center;
    font-family: "Oswald", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proof__video {
    max-width: 2626px;
    display: block;
  }
}

@media (max-width: 3840px) {
  .proof {
    margin-top: 132px;
  }
  .proof__h2 {
    font-weight: bold;
    font-size: 190px;
    text-transform: uppercase;
    color: #e80a03;
  }
  .proof__h4 {
    font-weight: bold;
    font-size: 98px;
    text-transform: uppercase;
    color: #0768f9;
  }
  .proof__p {
    font-weight: 300;
    font-size: 86px;
    color: #404040;
  }
  .proof__video {
    max-width: 2626px;
    width: 100%;
    height: 1488px;
    margin: 100px auto;
    display: block;
  }
}

@media (max-width: 2560px) {
  .proof {
    margin-top: 116px;
  }
  .proof__h2 {
    font-size: 134px;
  }
  .proof__h4 {
    font-size: 70px;
  }
  .proof__p {
    font-size: 62px;
  }
  .proof__video {
    margin: 70px auto;
    max-width: 1864px;
    height: 1057px;
  }
}

@media (max-width: 1960px) {
  .proof__video {
    margin: 70px auto;
    max-width: 1864px;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .proof {
    margin-top: 29px;
  }
  .proof__h2 {
    font-size: 52px;
  }
  .proof__h4 {
    font-size: 27px;
  }
  .proof__p {
    font-size: 24px;
  }
  .proof__video {
    margin-top: 26px;
    width: 718px;
    height: 407px;
  }
}

@media (max-width: 768px) {
  .proof {
    margin-top: 29px;
    padding: 16px;
  }
  .proof__h2 {
    font-size: 58px;
    color: #3432ff;
    -webkit-transform: rotate(-2.96deg);
            transform: rotate(-2.96deg);
    margin-bottom: 24px;
  }
  .proof__h4 {
    font-size: 22px;
    line-height: 127.6%;
    color: #ff6702;
  }
  .proof__p {
    font-size: 20px;
    text-align: left;
    color: #404040;
    margin: 5px;
    margin-top: 19px;
  }
  .proof__video {
    margin: 13px auto;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 3840px) {
  .jurnal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 372px;
    padding: 0 242px;
  }
  .jurnal__text {
    width: 50%;
  }
  .jurnal__text > h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 136px;
    line-height: 105.6%;
    text-transform: uppercase;
    color: #ff7043;
  }
  .jurnal__text > h4 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 88px;
    line-height: 127.6%;
    text-transform: uppercase;
    color: #06407d;
    margin: 26px 0 42px 0;
  }
  .jurnal__text > h6 {
    font-family: Arial;
    font-weight: bold;
    font-size: 62px;
    line-height: 127.6%;
    color: #06407d;
    margin-bottom: 0;
  }
  .jurnal__text > p,
  .jurnal__text a {
    font-family: Arial;
    font-size: 62px;
    line-height: 127.6%;
    color: #06407d;
  }
  .jurnal__text > p {
    margin: 37px 0;
  }
  .jurnal__img {
    width: 50%;
  }
}

@media (max-width: 2560px) {
  .jurnal {
    margin-top: 102px;
    padding: 0 219px;
  }
  .jurnal__text > h2 {
    font-size: 80px;
  }
  .jurnal__text > h4 {
    font-size: 43px;
    margin: 7px 0 11px 0;
  }
  .jurnal__text > h6 {
    font-size: 30px;
  }
  .jurnal__text > p,
  .jurnal__text a {
    font-size: 30px;
  }
  .jurnal__text > p {
    margin: 17px 0;
  }
}

@media (max-width: 1440px) {
  .jurnal {
    margin-top: 0;
    padding: 0 60px;
  }
  .jurnal__text > h2 {
    font-size: 36px;
  }
  .jurnal__text > h4 {
    font-size: 23px;
    margin: 7px 0 11px 0;
  }
  .jurnal__text > h6 {
    font-size: 16px;
  }
  .jurnal__text > p,
  .jurnal__text a {
    font-size: 16px;
  }
  .jurnal__text > p {
    margin: 11px 0;
  }
}

@media (max-width: 1024px) {
  .jurnal {
    padding: 0 26px;
  }
  .jurnal__text {
    padding: 0 22px;
  }
  .jurnal__text > h2 {
    font-size: 36px;
  }
  .jurnal__text > h4 {
    font-size: 23px;
    margin: 7px 0 11px 0;
  }
  .jurnal__text > h6 {
    font-size: 16px;
  }
  .jurnal__text > p,
  .jurnal__text a {
    font-size: 16px;
  }
  .jurnal__text > p {
    margin: 11px 0;
  }
}

@media (max-width: 768px) {
  .jurnal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
  }
  .jurnal__text {
    width: 100%;
  }
  .jurnal__text > h2 {
    font-size: 27px;
  }
  .jurnal__text > h4 {
    font-size: 20px;
    margin: 7px 0 11px 0;
  }
  .jurnal__text > h6 {
    font-size: 16px;
  }
  .jurnal__text > p,
  .jurnal__text a {
    font-size: 16px;
  }
  .jurnal__text > p {
    margin: 11px 0;
  }
  .jurnal__img {
    width: 100%;
  }
}

@media (max-width: 3840px) {
  .physicians {
    text-align: center;
    letter-spacing: -0.03em;
    font-family: Arial;
    margin-top: 311px;
  }
  .physicians > h2 {
    font-weight: bold;
    font-size: 186px;
    color: #0064f9;
  }
  .physicians > h3 {
    font-weight: bold;
    font-size: 112px;
    color: #ff6600;
  }
  .physicians__video {
    margin-top: 117px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .physicians__video-text {
    margin: 10px;
  }
  .physicians__video-text .video {
    max-width: 1706px;
    width: 100%;
  }
  .physicians__video-text > h4 {
    margin-top: 65px;
    font-size: 84px;
    color: #333333;
  }
  .physicians__video-text > p {
    font-size: 64px;
    color: #8a8a8a;
  }
}

@media (max-width: 2560px) {
  .physicians {
    margin-top: 206px;
  }
  .physicians > h2 {
    font-size: 120px;
  }
  .physicians > h3 {
    font-size: 72px;
  }
  .physicians__video {
    margin-top: 76px;
  }
  .physicians__video-text .video {
    max-width: 1102px;
    width: 100%;
  }
  .physicians__video-text > h4 {
    margin-top: 42px;
    font-size: 54px;
  }
  .physicians__video-text > p {
    font-size: 40px;
  }
}

@media (max-width: 1440px) {
  .physicians {
    margin-top: 106px;
  }
  .physicians > h2 {
    font-size: 50px;
  }
  .physicians > h3 {
    font-size: 32px;
  }
  .physicians__video {
    margin-top: 56px;
  }
  .physicians__video-text .video {
    max-width: 602px;
    width: 100%;
  }
  .physicians__video-text > h4 {
    margin-top: 32px;
    font-size: 34px;
  }
  .physicians__video-text > p {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .physicians {
    margin-top: 81px;
  }
  .physicians > h2 {
    font-size: 46px;
  }
  .physicians > h3 {
    font-size: 28px;
  }
  .physicians__video {
    margin-top: 29px;
  }
  .physicians__video-text .video {
    max-width: 422px;
    width: 100%;
  }
  .physicians__video-text > h4 {
    margin-top: 16px;
    font-size: 21px;
  }
  .physicians__video-text > p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .physicians {
    margin-top: 40px;
  }
  .physicians > h2 {
    font-size: 36px;
  }
  .physicians > h3 {
    font-size: 18px;
  }
  .physicians__video {
    margin-top: 29px;
  }
  .physicians__video-text .video {
    width: 260px;
  }
  .physicians__video-text > h4 {
    margin-top: 16px;
    font-size: 21px;
  }
  .physicians__video-text > p {
    font-size: 16px;
  }
}

@media (max-width: 555px) {
  .physicians {
    margin-top: 30px;
  }
  .physicians > h2 {
    font-size: 25px;
  }
  .physicians > h3 {
    font-size: 22px;
  }
  .physicians__video {
    margin-top: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .physicians__video-text {
    padding: 0 16px;
  }
  .physicians__video-text .video {
    width: 100%;
  }
  .physicians__video-text > h4 {
    margin-top: 29px;
    font-size: 21px;
  }
  .physicians__video-text > p {
    font-size: 16px;
    margin-bottom: 11px;
  }
}

@media (max-width: 3840px) {
  .pharmacist {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #f3f3f3;
    margin-top: 127px;
    padding: 173px 0 142px 0;
  }
  .pharmacist > h4 {
    font-family: Arial;
    font-weight: bold;
    font-size: 172px;
    line-height: 125.6%;
    color: #0064f9;
  }
  .pharmacist > p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 88px;
    line-height: 127.6%;
    color: #404040;
  }
  .pharmacist__video {
    width: 2687px;
    margin: 100px auto;
  }
  .pharmacist button {
    border: none;
    font-family: sans-serif;
    font-size: 70px;
    line-height: 127.6%;
    letter-spacing: -0.06em;
    color: #ffffff;
    width: 729.96px;
    height: 149.74px;
    background: #ff1a0d;
    border-radius: 4px;
  }
}

@media (max-width: 2560px) {
  .pharmacist {
    margin-top: 127px;
    padding: 115px 0 95px 0;
  }
  .pharmacist > h4 {
    font-size: 70px;
  }
  .pharmacist > p {
    font-size: 62px;
  }
  .pharmacist__video {
    margin: 57px auto 90px auto;
    width: 1864px;
    height: 1057px;
  }
  .pharmacist button {
    font-size: 46px;
    width: 487px;
    height: 100px;
  }
}

@media (max-width: 1960px) {
  .pharmacist {
    margin-top: 127px;
    padding: 115px 0 95px 0;
  }
  .pharmacist > h4 {
    font-size: 70px;
  }
  .pharmacist > p {
    font-size: 62px;
  }
  .pharmacist__video {
    margin: 57px auto 90px auto;
    max-width: 1664px;
    width: 100%;
  }
  .pharmacist button {
    font-size: 46px;
    width: 487px;
    height: 100px;
  }
}

@media (max-width: 1440px) {
  .pharmacist {
    padding: 30px 16px 30px 16px;
  }
  .pharmacist > h4 {
    font-size: 27px;
  }
  .pharmacist > p {
    font-size: 24px;
  }
  .pharmacist__video {
    margin: 30px auto 40px auto;
    width: 718px;
    height: 407px;
  }
  .pharmacist button {
    font-size: 18px;
    width: 195px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .pharmacist {
    margin-top: 29px;
  }
  .pharmacist > h4 {
    font-size: 46px;
  }
  .pharmacist > p {
    font-size: 24px;
  }
  .pharmacist__video {
    margin: 21px auto 36px auto;
    width: 718px;
    height: auto;
  }
  .pharmacist button {
    font-size: 18px;
    width: 195px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .pharmacist {
    margin-top: 29px;
  }
  .pharmacist > h4 {
    font-size: 32px;
  }
  .pharmacist > p {
    font-size: 21px;
  }
  .pharmacist__video {
    margin: 13px auto;
    width: 100%;
    height: auto;
  }
  .pharmacist button {
    display: none;
  }
}

@media (max-width: 3840px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1d4f86;
    overflow: hidden;
    position: relative;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner__text {
    position: absolute;
    top: 169px;
    left: 165px;
    width: 1655px;
    z-index: 1;
  }
  .banner__text-img {
    display: none;
  }
  .banner__text > h2 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 178px;
    line-height: 105.6%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .banner__text > h2 span {
    color: #e80a03;
  }
  .banner__text > p {
    font-family: Arial;
    font-size: 78px;
    line-height: 127.6%;
    letter-spacing: -0.01em;
    margin-top: 81px;
    margin-bottom: 118px;
  }
  .banner__text-ul {
    list-style-type: none;
  }
  .banner__text-ul > li {
    margin: 126px 0;
  }
  .banner__text-ul .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__text-ul .list__img {
    margin-right: 94px;
    width: 174px;
  }
  .banner__text-ul .list__text > h6 {
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -0.01em;
    margin: 0;
  }
  .banner__text-ul .list__text > p {
    font-family: Arial;
    font-size: 52px;
    letter-spacing: -0.01em;
  }
  .banner__text .baner2-h2 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 172px;
    line-height: 105.6%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .banner__text .baner2-h2 span {
    color: #651695;
  }
  .banner__text .baner2-p {
    font-family: Arial;
    font-size: 90px;
    line-height: 127.6%;
    letter-spacing: -0.01em;
    color: #5cc910;
    margin: 94px 0 87px 0;
  }
  .banner__text .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .banner__text .list2-img {
    margin-right: 90px;
  }
  .banner__img {
    height: 2438px;
  }
  .banner .baner2-h2 {
    font-size: 172px;
  }
  .banner .baner2-p {
    font-size: 90px;
    margin: 87px 0 94px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 2560px) {
  .banner {
    padding: 113px 102px 0px 102px;
  }
  .banner__text {
    top: 113px;
    left: 102px;
    width: 1108px;
  }
  .banner__text > h2 {
    font-size: 120px;
  }
  .banner__text > p {
    font-size: 52px;
    margin: 55px 0 78px 0;
  }
  .banner__text-ul > li {
    margin: 86px 0;
  }
  .banner__text-ul .list__img {
    width: 126px;
    height: 117px;
    margin-right: 62px;
  }
  .banner__text-ul .list__text > h6 {
    font-size: 40px;
  }
  .banner__text-ul .list__text > p {
    font-size: 34px;
  }
  .banner__img {
    height: 1631px;
  }
  .banner .baner2-h2 {
    font-size: 114px;
  }
  .banner .baner2-p {
    font-size: 60px;
    margin: 58px 0 62px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 1960px) {
  .banner {
    padding: 0;
  }
  .banner__text {
    top: 90px;
    left: 60px;
    width: 1108px;
  }
  .banner__text > h2 {
    font-size: 70px;
  }
  .banner__text > p {
    font-size: 32px;
    margin: 25px 0 32px 0;
  }
  .banner__text-ul > li {
    margin: 16px 0;
  }
  .banner__text-ul .list__img {
    width: 50px;
    margin-right: 62px;
  }
  .banner__text-ul .list__text > h6 {
    font-size: 36px;
  }
  .banner__text-ul .list__text > p {
    font-size: 24px;
  }
  .banner__img {
    height: 931px;
  }
  .banner .baner2-h2 {
    font-size: 94px;
  }
  .banner .baner2-p {
    font-size: 40px;
    margin: 58px 0 62px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 1440px) {
  .banner {
    padding: 0px 0px;
    height: 800px;
  }
  .banner__text {
    top: 50px;
    left: 102px;
    width: 660px;
  }
  .banner__text > h2 {
    font-size: 48px;
  }
  .banner__text > p {
    font-size: 21px;
    margin: 22px 0 31px 0;
  }
  .banner__text-ul > li {
    margin: 10px 0;
  }
  .banner__text-ul .list__img {
    width: 50px;
    height: 47px;
    margin-right: 25px;
  }
  .banner__text-ul .list__text > h6 {
    font-size: 22px;
  }
  .banner__text-ul .list__text > p {
    font-size: 18px;
  }
  .banner__img {
    height: 100%;
    max-width: 100%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .banner .baner2-h2 {
    font-size: 54px;
  }
  .banner .baner2-p {
    font-size: 30px;
    margin: 28px 0 32px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 10px 0;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 1024px) {
  .banner {
    padding: 0;
  }
  .banner__text {
    width: 50%;
  }
  .banner__text > h2 {
    font-size: 48px;
  }
  .banner__text > p {
    font-size: 21px;
    margin: 22px 0 31px 0;
  }
  .banner__text-ul > li {
    margin: 34px 0;
  }
  .banner__text-ul .list__img {
    width: 50px;
    height: 47px;
    margin-right: 25px;
  }
  .banner__text-ul .list__text > h6 {
    font-size: 16px;
  }
  .banner__text-ul .list__text > p {
    font-size: 14px;
  }
  .banner .baner2-h2 {
    font-size: 46px;
  }
  .banner .baner2-p {
    font-size: 24px;
    margin: 23px 0 25px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 10px 0;
    width: 332px;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 45px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: transparent;
  }
  .banner__text {
    width: 100%;
    position: static;
  }
  .banner__text-img {
    display: block;
  }
  .banner__text > h2 {
    font-size: 38px;
    text-align: center;
  }
  .banner__text > h2 span {
    color: #0064f9;
  }
  .banner__text > p {
    font-size: 21px;
    margin: 22px 0 31px 0;
  }
  .banner__text-ul > li {
    margin: 34px 0;
  }
  .banner__text-ul .list__img {
    width: 50px;
    height: 47px;
    margin-right: 25px;
  }
  .banner__text-ul .list__text > h6 {
    font-size: 16px;
  }
  .banner__text-ul .list__text > p {
    font-size: 14px;
  }
  .banner__img {
    display: none;
  }
  .banner .baner2 .msc {
    width: inherit;
    height: inherit;
    background: #000;
  }
  .banner .baner2-text {
    background-color: #0f608b;
  }
  .banner .baner2-h2 {
    font-size: 46px;
  }
  .banner .baner2-p {
    font-size: 24px;
    margin: 23px 0 25px 0;
  }
  .banner .baner2 .list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 10px 0;
    width: 332px;
  }
  .banner .baner2 .list2-img {
    margin-right: 90px;
  }
}

@media (max-width: 3840px) {
  .expect__blue {
    max-width: 3841px;
    width: 100%;
    height: 635px;
    background: #6dcff6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .expect__blue:last-child {
    margin-top: -60px;
  }
  .expect__blue > h2 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 104px;
    line-height: 105.6%;
    letter-spacing: -0.01em;
    color: #ffffff;
    width: 2194px;
  }
  .expect__blue > button {
    width: 729px;
    height: 149.54px;
    background: #ff1a0d;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 70px;
    line-height: 127.6%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #ffffff;
  }
  .expect__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../img/girls/g1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 1710px;
  }
  .expect__content-text {
    margin-top: 5%;
    width: 1313px;
  }
  .expect__content-text .hiden {
    display: none;
  }
  .expect__content-text > h2 {
    font-family: Oswald;
    font-weight: bold;
    font-size: 144px;
    line-height: 133.6%;
    letter-spacing: 0.04em;
    color: #f22384;
    text-transform: uppercase;
  }
  .expect__content-text > span {
    font-family: Oswald;
    font-size: 116px;
    line-height: 133.6%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
  }
  .expect__content-text > p {
    font-family: Oswald;
    font-size: 80px;
    line-height: 120.6%;
    letter-spacing: -0.01em;
    color: #83c407;
    margin: 51px 0 73px 0;
  }
  .expect__content-text > p:last-child {
    color: #000;
  }
  .expect__content-ul li {
    margin: 26px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .expect__content-ul li > img {
    width: 76px;
    height: 76px;
    margin-right: 50px;
    margin-left: 60px;
  }
  .expect__content-ul li > p {
    font-family: Arial;
    font-weight: bold;
    font-size: 64px;
    line-height: 133.6%;
    letter-spacing: 0.05em;
    color: #000000;
  }
}

@media (max-width: 2560px) {
  .expect__blue {
    height: 425px;
  }
  .expect__blue:last-child {
    margin-top: -40px;
  }
  .expect__blue > h2 {
    width: 1468px;
    font-size: 70px;
  }
  .expect__blue > button {
    width: 487px;
    height: 100px;
    font-size: 46px;
  }
  .expect__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 1175px;
  }
  .expect__content-text {
    margin-top: 0px;
    width: 769px;
  }
  .expect__content-text > h2 {
    font-size: 100px;
  }
  .expect__content-text > span {
    font-size: 78px;
  }
  .expect__content-text > p {
    font-size: 54px;
  }
  .expect__content-ul li {
    margin: 26px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .expect__content-ul li > img {
    width: 52px;
    margin-right: 35px;
    margin-left: 30px;
  }
  .expect__content-ul li > p {
    font-size: 44px;
  }
}

@media (max-width: 1960px) {
  .expect__blue {
    height: 225px;
  }
  .expect__blue:last-child {
    margin-top: -20px;
  }
  .expect__blue > h2 {
    width: 768px;
    font-size: 40px;
  }
  .expect__blue > button {
    width: 287px;
    height: 50px;
    font-size: 26px;
  }
  .expect__content {
    height: auto;
    background-size: contain;
    background-position: 10% 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .expect__content-text {
    margin-top: 0px;
    width: 469px;
    margin-left: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .expect__content-text > h2 {
    font-size: 50px;
  }
  .expect__content-text > span {
    font-size: 38px;
  }
  .expect__content-text > p {
    font-size: 24px;
  }
  .expect__content-ul li {
    margin: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .expect__content-ul li > img {
    width: 22px;
    margin-right: 25px;
    margin-left: 30px;
  }
  .expect__content-ul li > p {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  .expect__blue {
    height: 225px;
  }
  .expect__blue:last-child {
    margin-top: -20px;
  }
  .expect__blue > h2 {
    width: 768px;
    font-size: 40px;
  }
  .expect__blue > button {
    width: 287px;
    height: 50px;
    font-size: 26px;
  }
  .expect__content {
    background-size: contain;
    background-position: 0% 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .expect__content-text {
    margin-top: 0px;
    width: 469px;
    margin-left: 60%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .expect__content-text > h2 {
    font-size: 50px;
  }
  .expect__content-text > span {
    font-size: 38px;
  }
  .expect__content-text > p {
    font-size: 24px;
  }
  .expect__content-ul li {
    margin: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .expect__content-ul li > img {
    width: 22px;
    margin-right: 25px;
    margin-left: 30px;
  }
  .expect__content-ul li > p {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .expect__blue {
    height: 170px;
    margin-top: 10px;
  }
  .expect__blue:last-child {
    margin-top: -20px;
  }
  .expect__blue > h2 {
    width: 585px;
    font-size: 28px;
  }
  .expect__blue > button {
    width: 195px;
    height: 40px;
    font-size: 18px;
  }
  .expect__content {
    height: 504px;
    background-size: contain;
    background-position: left;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .expect__content-text {
    margin-top: 0px;
    width: 308px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 64px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .expect__content-text > h2 {
    font-size: 40px;
  }
  .expect__content-text > span {
    font-size: 32px;
  }
  .expect__content-text > p {
    margin: 0px;
    font-size: 18px;
  }
  .expect__content-ul li {
    margin: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .expect__content-ul li > img {
    width: 21px;
    margin-right: 14px;
    margin-left: 20px;
  }
  .expect__content-ul li > p {
    font-size: 18px;
  }
}

@media (max-width: 786px) {
  .expect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 150px;
  }
  .expect__blue {
    display: none;
  }
  .expect__content {
    height: 458px;
    background: none;
  }
  .expect__content-text {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0;
  }
  .expect__content-text .hiden {
    display: block;
    margin-top: 40px;
  }
  .expect__content-text > h2 {
    font-size: 31px;
    color: #ef2627;
  }
  .expect__content-text > span {
    font-family: Arial;
    font-style: italic;
    font-size: 24px;
    color: #1d4f86;
  }
  .expect__content-text > p {
    display: none;
  }
  .expect__content-ul {
    display: none;
  }
}

@media (max-width: 600px) {
  .expect {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "Conv_Bebas_Bold";
  src: url("../fonts/BebasNeueProBold/fonts/ProBold.eot");
  src: local("☺"), url("../fonts/BebasNeueProBold/fonts/ProBold.woff") format("woff"), url("../fonts/BebasNeueProBold/fonts/ProBold.ttf") format("truetype"), url("../fonts/BebasNeueProBold/fonts/ProBold.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Bebas_BoldItalic";
  src: url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.eot");
  src: local("☺"), url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.woff") format("woff"), url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.ttf") format("truetype"), url("../fonts/BebasNeueProBoldItalic/fonts/ProBoldItalic.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Conv_Bebas_Book";
  src: url("../fonts/BebasNeueProBook/fonts/ProBook.eot");
  src: local("☺"), url("../fonts/BebasNeueProBook/fonts/ProBook.woff") format("woff"), url("../fonts/BebasNeueProBook/fonts/ProBook.ttf") format("truetype"), url("../fonts/BebasNeueProBook/fonts/ProBook.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Bebas_BookItalic";
  src: url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.eot");
  src: local("☺"), url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.woff") format("woff"), url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.ttf") format("truetype"), url("../fonts/BebasNeueProBookItalic/fonts/ProBookItalic.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Conv_Bebas_Italic";
  src: url("../fonts/BebasNeueProItalic/fonts/ProItalic.eot");
  src: local("☺"), url("../fonts/BebasNeueProItalic/fonts/ProItalic.woff") format("woff"), url("../fonts/BebasNeueProItalic/fonts/ProItalic.ttf") format("truetype"), url("../fonts/BebasNeueProItalic/fonts/ProItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Conv_Bebas_Light";
  src: url("../fonts/BebasNeueProLight/fonts/ProLight.eot");
  src: local("☺"), url("../fonts/BebasNeueProLight/fonts/ProLight.woff") format("woff"), url("../fonts/BebasNeueProLight/fonts/ProLight.ttf") format("truetype"), url("../fonts/BebasNeueProLight/fonts/ProLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Bebas_LightItalic";
  src: url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.eot");
  src: local("☺"), url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.woff") format("woff"), url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.ttf") format("truetype"), url("../fonts/BebasNeueProLightItalic/fonts/ProLightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Conv_Bebas_Regular";
  src: url("../fonts/BebasNeueProRegular/fonts/ProRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueProRegular/fonts/ProRegular.woff") format("woff"), url("../fonts/BebasNeueProRegular/fonts/ProRegular.ttf") format("truetype"), url("../fonts/BebasNeueProRegular/fonts/ProRegular.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Bebas_Thin";
  src: url("../fonts/BebasNeueProThin/fonts/ProThin.eot");
  src: local("☺"), url("../fonts/BebasNeueProThin/fonts/ProThin.woff") format("woff"), url("../fonts/BebasNeueProThin/fonts/ProThin.ttf") format("truetype"), url("../fonts/BebasNeueProThin/fonts/ProThin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Bebas_ThinItalic";
  src: url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.eot");
  src: local("☺"), url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.woff") format("woff"), url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.ttf") format("truetype"), url("../fonts/BebasNeueProThinItalic/fonts/ProThinItalic.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}

.__select {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.__select[data-state="active"] .__select__title span::before {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.__select[data-state="active"] .__select__title span::after {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.__select[data-state="active"] .__select__content {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 60px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 0px;
  cursor: pointer;
}

.__select__title span {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 11px;
  height: 11px;
  background: #b4b3b3;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.__select__title span::before, .__select__title span::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background: #b4b3b3;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.__select__title span::after {
  -webkit-transform: translate(-19px, -100%);
          transform: translate(-19px, -100%);
}

.__select__title span::before {
  -webkit-transform: translate(19px, 0);
          transform: translate(19px, 0);
}

@media (max-width: 2570px) {
  .__select__title span {
    width: 8px;
    height: 8px;
  }
  .__select__title span::before, .__select__title span::after {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 1030px) {
  .__select__title span {
    width: 3px;
    height: 3px;
  }
  .__select__title span::before, .__select__title span::after {
    width: 3px;
    height: 3px;
  }
}

.__select__title:hover {
  border-color: #d8093a;
}

.__select__title:hover::before, .__select__title:hover::after {
  background-color: #d8093a;
}

.__select__content {
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #dedede;
}

.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  max-height: 0;
  padding: 55px 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.__select__label + input + .__select__label {
  border-top: 0 solid #c7ccd160;
}

.__select__label:hover {
  background-color: #d8093a !important;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */