* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

@media (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 310px;
  }
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

@media (max-width: 1140px) {
  .b-header {
    height: unset;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.b-header__name {
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFBF45;
}

.b-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1140px) {
  .b-header__nav {
    display: none;
  }
}

.b-header__nav-link {
  padding: 15px 0;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.b-header__nav-link:not(:last-child) {
  margin-right: 70px;
}

.b-header__link-link,
.b-header__category-link {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.b-header__category-link:hover,
.b-header__link-link:hover {
  color: #FFBF45;
}

.b-header__nav-link:hover .b-header__options-box {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.b-header__options-box {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  position: absolute;
  z-index: 1;
  top: calc(100% - 10px);
  left: -20px;
  padding: 20px 20px 10px 20px;
}

.b-header__category-link {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  white-space: nowrap;
}

.b-header__social-box {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1140px) {
  .b-header__social-box {
    display: none;
  }
}

.b-header__social {
  font-size: 20px;
  color: #333333;
  text-decoration: none;
}

.b-header__social:hover {
  color: #FFBF45;
}

.b-header__burger-button {
  display: none;
  background: none;
  border: none;
}

@media (max-width: 1140px) {
  .b-header__burger-button {
    display: block;
  }
}

.b-burger-menu {
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.b-burger-menu__link {
  margin-bottom: 10px;
}

.b-burger-menu__social-box {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.b-nav-740__details[open] .b-nav-740__summary ~ * {
  -webkit-animation: sweep .5s ease-in-out;
          animation: sweep .5s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.b-nav-740__details[open] > .b-nav-740__summary,
.b-nav-740__details[open] > .b-nav-740__summary > .b-nav-740__summary-text > .b-header__category-link {
  color: #FFBF45;
}

.b-nav-740__summary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-main {
  height: 658px;
  width: 100%;
  background: url(../img/main_back.png) center no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .b-main {
    height: 450px;
  }
}

.b-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.b-main__heading {
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #FFFFFF;
  max-width: 800px;
}

@media (max-width: 1140px) {
  .b-main__heading {
    max-width: 700px;
  }
}

@media (max-width: 991px) {
  .b-main__heading {
    font-size: 40px;
    line-height: 42px;
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .b-main__heading {
    max-width: 320px;
  }
}

.b-main__heading span {
  font-weight: 400;
  font-style: italic;
  font-size: 34px;
  line-height: 32px;
}

@media (max-width: 991px) {
  .b-main__heading span {
    font-size: 24px;
    line-height: 22px;
  }
}

.b-main__schedule {
  width: 255px;
  height: 272px;
  background: rgba(255, 255, 255, 0.53);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 10px 10px 0px 0px;
  padding: 25px 15px;
}

@media (max-width: 768px) {
  .b-main__schedule {
    width: 220px;
  }
}

@media (max-width: 576px) {
  .b-main__schedule {
    display: none;
  }
}

.b-main__date {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
}

.b-main__date span {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  text-transform: lowercase;
  color: rgba(51, 51, 51, 0.7);
}

.b-main__time-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  margin-bottom: 28px;
}

.b-main__time {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(19, 20, 27, 0.7);
  width: 85px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-main__time-text {
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #333333;
}

@media (max-width: 768px) {
  .b-main__time-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.b-video {
  padding-top: 34px;
  padding-bottom: 34px;
  background: #E5E5E5;
}

@media (max-width: 576px) {
  .b-video {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.b-video__main {
  width: 100%;
  height: 558px;
  position: relative;
  margin-bottom: 34px;
}

@media (max-width: 991px) {
  .b-video__main {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .b-video__main {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .b-video__main {
    height: 200px;
  }
}

.b-video__main-video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.b-video__main-mask {
  background: rgba(10, 10, 10, 0.4);
  -webkit-box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .b-video__main-mask {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 576px) {
  .b-video__main-mask {
    font-size: 20px;
    line-height: 24px;
  }
}

.b-video__main-mask span {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .b-video__main-mask span {
    font-size: 16px;
    line-height: 20px;
  }
}

.b-video__link {
  font-size: 18px;
  line-height: 112.4%;
  color: #333333;
  width: 220px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFBF45;
  border-radius: 5px;
  text-decoration: none;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .b-video__link {
    margin-top: 20px;
    width: 200px;
    height: 50px;
  }
}

.b-video__link_mb {
  margin-bottom: 37px;
}

.b-video__link:hover {
  -webkit-box-shadow: 0px 4px 24px rgba(255, 191, 69, 0.6);
          box-shadow: 0px 4px 24px rgba(255, 191, 69, 0.6);
}

.b-video__secondary-box {
  position: relative;
}

.swiper-container {
  width: 1050px;
  height: 230px;
}

@media (max-width: 1140px) {
  .swiper-container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .swiper-container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .swiper-container {
    max-width: 310px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333333;
}

@media (max-width: 991px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.b-video__secondary-mask {
  background: rgba(10, 10, 10, 0.4);
  -webkit-box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 330px;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .b-video__secondary-mask {
    width: 260px;
  }
}

.b-video__secondary-mask:hover .b-video__secondary-text {
  color: #FFBF45;
}

.b-video__secondary-text {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .b-video__secondary-text {
    font-size: 16px;
    line-height: 18px;
    width: unset;
  }
}

@media (max-width: 768px) {
  .b-video__secondary-text {
    font-size: 22px;
    line-height: 30px;
  }
}

.b-video__secondary-text span {
  font-size: 18px;
  line-height: 25px;
  padding-top: 37px;
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .b-video__secondary-text span {
    font-size: 14px;
    line-height: 16px;
  }
}

.b-question {
  padding-top: 29px;
  padding-bottom: 45px;
  background: url(../img/back2.png) center no-repeat;
  background-size: cover;
}

.b-question textarea {
  width: 100%;
  height: 209px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.b-question__heading {
  font-size: 38px;
  line-height: 52px;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 768px) {
  .b-question__heading {
    text-align: center;
  }
}

.b-question__text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 18px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .b-question__text {
    text-align: center;
  }
}

.b-question__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .b-question__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-question__submit {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .b-question__submit {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.b-question__link {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  width: 225px;
  height: 58px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
}

.b-projects {
  padding-top: 27px;
  padding-bottom: 48px;
}

.b-projects__heading {
  font-size: 38px;
  line-height: 52px;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal;
}

@media (max-width: 768px) {
  .b-projects__heading {
    text-align: center;
  }
}

.b-projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .b-projects__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-projects__project-small {
  width: 350px;
  height: 350px;
  padding: 33px 27px;
  background: url(../img/project1.png) center no-repeat;
  background-size: cover;
  margin-top: 30px;
  text-decoration: none;
}

@media (max-width: 576px) {
  .b-projects__project-small {
    height: 200px;
    width: 100%;
  }
}

.b-projects__project-big {
  width: 730px;
  height: 350px;
  padding: 33px 27px;
  background: url(../img/project2.png) center no-repeat;
  margin-top: 30px;
  text-decoration: none;
}

@media (max-width: 1140px) {
  .b-projects__project-big {
    width: 575px;
  }
}

@media (max-width: 991px) {
  .b-projects__project-big {
    width: 350px;
  }
}

@media (max-width: 576px) {
  .b-projects__project-big {
    height: 200px;
    width: 100%;
  }
}

.b-projects__project-small2 {
  background: url(../img/project4.png) center no-repeat;
}

.b-projects__project-big2 {
  background: url(../img/project3.png) center no-repeat;
}

.b-projects__project-text {
  font-size: 22px;
  line-height: 121.1%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.b-projects__project-small:hover .b-projects__project-text,
.b-projects__project-big:hover .b-projects__project-text {
  color: #FFBF45;
}

.b-media {
  background: #E5E5E5;
  padding-top: 35px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .b-media {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.b-media__heading {
  font-size: 38px;
  line-height: 52px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 39px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .b-media__heading {
    text-align: center;
    margin-bottom: 20px;
  }
}

.b-media__cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .b-media__cart-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-media__cart {
  padding: 29px;
  width: 350px;
  height: 229px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  position: relative;
}

@media (max-width: 1140px) {
  .b-media__cart {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .b-media__cart {
    width: 200px;
    height: 150px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .b-media__cart {
    padding: 29px;
    width: 350px;
    height: 229px;
  }
}

@media (max-width: 576px) {
  .b-media__cart {
    height: 200px;
    width: 100%;
  }
}

.b-media__cart i {
  position: absolute;
  top: 29px;
  left: 29px;
  font-size: 48px;
  color: #FFBF45;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .b-media__cart i {
    top: 10px;
    left: 10px;
  }
}

@media (max-width: 768px) {
  .b-media__cart i {
    top: 29px;
    left: 29px;
  }
}

@media (max-width: 768px) {
  .b-media__cart:not(:last-child) {
    margin-bottom: 10px;
  }
}

.b-media__cart:hover {
  background: #FFBF45;
  opacity: 0.86;
}

.b-media__cart:hover i {
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  color: #FFFFFF;
}

.b-media__cart:hover .b-media__cart-text {
  color: #FFFFFF;
}

.b-media__cart-text {
  font-size: 22px;
  line-height: 30px;
  color: #FFBF45;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.b-footer {
  background: #333333;
}

@media (max-width: 768px) {
  .b-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 343px;
  padding-top: 22px;
}

@media (max-width: 768px) {
  .b-footer .container {
    height: unset;
  }
}

@media (max-width: 576px) {
  .b-footer .container {
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.b-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .b-footer__links {
    margin-top: 10px;
  }
}

.b-footer__links-heading {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.45;
  font-weight: normal;
  margin-bottom: 5px;
}

.b-footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 167.1%;
  color: rgba(255, 255, 255, 0.7);
}

.b-footer__link:hover {
  color: #FFBF45;
}

.b-footer__link:not(:last-child) {
  margin-bottom: 5px;
}

.b-footer__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: unset;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .b-footer__social-box {
    display: none;
  }
}

.b-footer__social-box a:not(:last-child) {
  margin-bottom: 17px;
}

.b-footer__social-box540 {
  display: none;
}

@media (max-width: 768px) {
  .b-footer__social-box540 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    width: 280px;
  }
  .b-footer__social-box540 a:not(:last-child) {
    margin-bottom: 0;
  }
}

.b-footer__social {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.b-footer__social:hover {
  color: #FFBF45;
}

.b-contacts {
  background: #E5E5E5;
}

.b-contacts .container {
  padding-top: 38px;
  padding-bottom: 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .b-contacts .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px 0;
  }
}

.b-contacts__heading {
  font-size: 38px;
  line-height: 52px;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFBF45;
  border-bottom: 1px solid #FFBF45;
  width: 355px;
}

@media (max-width: 991px) {
  .b-contacts__heading {
    font-size: 30px;
    line-height: 34px;
    width: 280px;
  }
}

.b-contacts__heading-contacts {
  width: 230px;
}

@media (max-width: 991px) {
  .b-contacts__heading-contacts {
    width: 182px;
  }
}

.b-contacts__date {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}

@media (max-width: 991px) {
  .b-contacts__date {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .b-contacts__date {
    font-size: 14px;
    line-height: 18px;
  }
}

.b-contacts__date span {
  font-style: italic;
  border: 1px solid #FFBF45;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 132px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 19px;
}

.b-contacts__contacts-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.b-contacts__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: rgba(51, 51, 51, 0.7);
  margin-top: 23px;
}

@media (max-width: 991px) {
  .b-contacts__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .b-contacts__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.b-contacts__text span {
  color: #333333;
}

.b-contacts__tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFBF45;
  text-decoration: none;
}

@media (max-width: 991px) {
  .b-contacts__tel {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .b-contacts__tel {
    font-size: 16px;
    line-height: 20px;
  }
}

.b-feedback {
  background: url(../img/back2.png) center no-repeat;
  background-size: cover;
}

.b-feedback .container {
  padding-top: 36px;
  padding-bottom: 46px;
}

.b-feedback__heading {
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 29px;
  font-weight: normal;
}

.b-feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-feedback__message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 991px) {
  .b-feedback__message-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-feedback__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 224px;
  width: 350px;
}

@media (max-width: 991px) {
  .b-feedback__input-box {
    width: 100%;
    height: 195px;
    margin-bottom: 15px;
  }
}

.b-feedback__input {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border: none;
  padding: 0 28px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
}

@media (max-width: 991px) {
  .b-feedback__input {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    height: 50px;
  }
}

.b-feedback__textarea {
  width: 730px;
  height: 224px;
  background: #FFFFFF;
  border: none;
  padding: 23px 28px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}

@media (max-width: 1140px) {
  .b-feedback__textarea {
    max-width: 600px;
  }
}

@media (max-width: 991px) {
  .b-feedback__textarea {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    max-width: unset;
  }
}

.b-feedback__text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin: 30px 0;
}

@media (max-width: 991px) {
  .b-feedback__text {
    margin: 15px 0;
  }
}

.b-feedback__submit {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  width: 220px;
  height: 58px;
  background: #FFBF45;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.b-statute {
  background: #E5E5E5;
  padding: 35px 0;
}

.b-statute__heading {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.b-statute__text-italic {
  font-style: italic;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 42px;
}

.b-statute__heading-mini {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFBF45;
  margin-bottom: 14px;
  font-weight: normal;
}

.b-statute__text {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 42px;
}

.b-profession-top {
  height: 422px;
  background: url(../img/profession_back.png) center no-repeat;
  background-size: cover;
  padding-top: 54px;
}

.b-profession-top__heading {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 576px) {
  .b-profession-top__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

.b-profession-text {
  background: #E5E5E5;
  padding: 35px 0 61px;
}

.b-profession-text__heading {
  font-size: 38px;
  line-height: 52px;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal;
  margin-bottom: 17px;
}

@media (max-width: 576px) {
  .b-profession-text__heading {
    font-size: 20px;
    line-height: 24px;
  }
}

.b-profession-text__text {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.b-profession-text__text span {
  color: #FFBF45;
}

.copy {
  cursor: pointer;
  color: #FFBF45;
  text-decoration: none;
}

.b-profession-text__link {
  text-decoration: none;
  color: #FFBF45;
  font-size: 18px;
  line-height: 25px;
}

.b-prayer {
  background: url(../img/prayer_back.png) center no-repeat;
  background-size: cover;
  padding-top: 32px;
  height: 419px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.b-prayer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.b-prayer_mite {
  background: url(../img/mite_back.png) center no-repeat;
  background-size: cover;
}

.b-prayer_fast {
  background: url(../img/fast_back.png) center no-repeat;
  background-size: cover;
}

.b-prayer__heading {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.b-prayer__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 700px;
}

@media (max-width: 768px) {
  .b-prayer__text {
    max-width: 310px;
  }
}

.b-prayer__poster {
  width: 255px;
  height: 178px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(159, 183, 203, 0.4);
          box-shadow: 0px 0px 6px rgba(159, 183, 203, 0.4);
  border-radius: 11px 11px 0px 0px;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .b-prayer__poster {
    display: none;
  }
}

.b-prayer__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-transform: lowercase;
  color: rgba(19, 20, 27, 0.4);
  text-align: right;
}

.b-prayer__date span {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #333333;
  text-align: right;
  font-style: normal;
}

.b-prayer__time-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.b-prayer__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(19, 20, 27, 0.4);
  border: 1px solid #F2F2F2;
  width: 85px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-prayer__time-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 113.6%;
  text-align: right;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-video-box {
  background: #E5E5E5;
  padding-bottom: 51px;
}

.b-video-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1140px) {
  .b-video-box .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.b-video-box_pt {
  padding-top: 40px;
}

.b-video-box__heading {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 36px;
}

@media (max-width: 576px) {
  .b-video-box__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

.b-video-box__card {
  width: 350px;
  height: 463px;
  background: #FFFFFF;
  margin-bottom: 30px;
  text-decoration: none;
}

.b-video-box__card:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-video-box__card-img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.b-video-box__card-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
  padding: 24px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-video-box__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 400px;
}

.b-video-box__links span {
  font-size: 16px;
  line-height: 22px;
  background: #FFBF45;
  color: #333333;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-video-box__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.b-video-box__link:hover {
  background: #bebebe;
}

.b-video-box__link-text {
  color: #333333;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-video-box__link-text:hover {
  color: #FFBF45;
}

.b-audio-box {
  background: #E5E5E5;
  padding-bottom: 80px;
}

.b-audio-box .container {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
}

@media (max-width: 768px) {
  .b-audio-box .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-audio-name {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
}

@media (max-width: 768px) {
  .b-audio-name {
    margin-bottom: 15px;
  }
}

.b-school-box {
  background: #E5E5E5;
  padding: 34px 0 77px;
}

.b-school-box__recording {
  width: 100%;
  background: #FFFFFF;
  padding: 28px 0;
  margin-bottom: 37px;
}

.b-school-box__recording-text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  max-width: 797px;
  color: #333333;
  margin: 0 auto;
  padding: 0 15px;
}

.b-school-box__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-school-box__link-line {
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
}

.b-school-box__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #FFBF45;
  text-decoration: none;
  padding: 20px 20px 0;
}

.b-video-page {
  background: #E5E5E5;
  padding: 34px 0;
}

.b-video-page__heading {
  margin-bottom: 39px;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 576px) {
  .b-video-page__heading {
    font-size: 30px;
    line-height: 34px;
  }
}

.b-video-page__main-video {
  width: 100%;
  height: 706px;
}

@media (max-width: 1140px) {
  .b-video-page__main-video {
    height: 600px;
  }
}

@media (max-width: 1140px) {
  .b-video-page__main-video {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .b-video-page__main-video {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .b-video-page__main-video {
    height: 200px;
  }
}

.b-video-page__description {
  font-size: 22px;
  line-height: 30px;
  color: #333333;
  margin-top: 29px;
  margin-bottom: 40px;
}

.b-video-page__comments {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.b-video-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}

.b-video-page__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .b-video-page__input-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-video-page__input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
  width: 855px;
}

@media (max-width: 1140px) {
  .b-video-page__input {
    width: 700px;
  }
}

@media (max-width: 1140px) {
  .b-video-page__input {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .b-video-page__input {
    width: 100%;
  }
}

.b-video-page__input-name {
  width: 195px;
}

@media (max-width: 768px) {
  .b-video-page__input-name {
    width: 100%;
    margin-top: 20px;
  }
}

.b-video-page__submit {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
  width: 285px;
  height: 58px;
  background: #FFBF45;
  border: none;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 576px) {
  .b-video-page__submit {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.b-video-page__comment-box {
  margin-bottom: 40px;
}

.b-video-page__comment-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #000000;
}

.b-video-page__comment {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #000000;
}

.b-sunday-school {
  background: #E5E5E5;
  padding: 35px 0;
}

.b-sunday-school__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 991px) {
  .b-sunday-school__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.b-sunday-school__big {
  height: 463px;
  background: #FFFFFF;
  text-decoration: none;
}

.b-sunday-school__big:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-sunday-school__img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.b-sunday-school__text {
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
}

.b-blog {
  background: #E5E5E5;
  padding: 34px 0;
}

.b-blog__heading {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal;
  margin-bottom: 39px;
}

@media (max-width: 991px) {
  .b-blog__heading {
    margin-bottom: 20px;
  }
}

.b-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .b-blog__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.b-blog__big {
  text-decoration: none;
  width: 540px;
  height: 463px;
  background: #FFFFFF;
}

@media (max-width: 1140px) {
  .b-blog__big {
    width: 465px;
  }
}

@media (max-width: 991px) {
  .b-blog__big {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .b-blog__big {
    height: 350px;
  }
}

.b-blog__big:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-blog__big-img {
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .b-blog__big-img {
    height: 250px;
  }
}

.b-blog__big-text {
  padding: 15px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #333333;
}

@media (max-width: 1140px) {
  .b-blog__big-text {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.b-blog__big-text span {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFBF45;
}

@media (max-width: 1140px) {
  .b-blog__big-text span {
    font-size: 18px;
    line-height: 22px;
  }
}

.b-blog__row-box {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1140px) {
  .b-blog__row-box {
    width: 465px;
  }
}

@media (max-width: 991px) {
  .b-blog__row-box {
    width: 100%;
  }
}

.b-school-box__recording_p15 {
  padding: 15px 0;
  margin-bottom: 33px;
}

@media (max-width: 991px) {
  .b-school-box__recording_p15 {
    margin-bottom: 20px;
  }
}

.b-school-box__link-line_p10 {
  padding-top: 10px;
}

.b-school-box__link-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: rgba(51, 51, 51, 0.5);
  padding: 10px 10px 0;
}

.b-blog__small {
  text-decoration: none;
  background: #FFFFFF;
  width: 255px;
  height: 316px;
}

@media (max-width: 1140px) {
  .b-blog__small {
    width: 220px;
  }
}

@media (max-width: 991px) {
  .b-blog__small {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .b-blog__small {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .b-blog__small_mb {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .b-blog__small:not(:last-child) {
    margin-bottom: 20px;
  }
}

.b-blog__small:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-blog__small-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  width: 100%;
}

.b-school-box__recording-text_mw {
  max-width: unset;
}

.b-blog__middle {
  width: 350px;
  height: 463px;
  text-decoration: none;
  background: #FFFFFF;
}

@media (max-width: 1140px) {
  .b-blog__middle {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .b-blog__middle {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .b-blog__middle {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .b-blog__middle {
    height: 350px;
  }
}

.b-blog__middle:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-blog__middle-img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .b-blog__middle-img {
    height: 250px;
  }
}

.b-blog__audio {
  width: 540px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  .b-blog__audio {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .b-blog__audio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
}

.b-blog__horizontal {
  width: 528px;
  height: 213px;
  background: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1140px) {
  .b-blog__horizontal {
    width: 465px;
  }
}

@media (max-width: 991px) {
  .b-blog__horizontal {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .b-blog__horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.b-blog__horizontal:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-blog__horizontal-img {
  height: 100%;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .b-blog__horizontal-img {
    width: 100%;
    height: 255px;
  }
}

.b-audio {
  background: #E5E5E5;
  padding: 35px 0;
}

.b-audio__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: 6px 12px;
  margin-bottom: 30px;
}

.b-photo__img {
  width: 540px;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .b-photo__img {
    width: 310px;
    height: 310px;
  }
}

.b-photo__img:hover {
  -webkit-filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
          filter: drop-shadow(0px 2px 10px rgba(51, 51, 51, 0.25));
}

.b-history {
  background: #E5E5E5;
  padding: 35px 0;
}

.b-history__heading {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
}

.b-history__text-cursiv {
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}

.b-history__img {
  width: 100%;
  margin-bottom: 30px;
}

.b-history__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 30px;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */