* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.b-header {
    position: fixed;
    background: #141414;
    width: 100%;
    z-index: 10;
}

.b-header__container {
    padding: 13px 40px 11px 40px;
    box-sizing: border-box;
    height: 134px;
    border-bottom: 2px solid #A3A3A3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.b-header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-header__number {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 80px;
}

.b-header__mail {
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;

    span {
        color: #DC3B18;
    }
}

.b-header__burger {
    border: none;
    background: none;
    cursor: pointer;
}

.b-header__burger:hover svg path {
    fill: #E95635;
}

.b-header__burger-menu {
    width: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transition: all 0.5s;
    overflow-x: hidden;
    background: #141414;
}

.b-header__close-row {
    width: 100%;
    border-bottom: 2px solid rgba(51, 51, 51, 0.5);
    padding: 45px 45px 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.b-header__close-button {
    border: none;
    background: none;
    float: right;
    cursor: pointer;
}

.b-header__close-button:hover path {
    fill: #E95635;
}

.b-header__row {
    height: 89px;
    width: 100%;
    border-bottom: 2px solid rgba(51, 51, 51, 0.5);
    padding-left: 135px;
    box-sizing: border-box;
    font-size: 38px;
    line-height: 49px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.b-header__row:hover {
    color: #E95635;
}

.open {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 280ms ease-in-out;
    width: 960px;
    height: 1010px;
    z-index: 100;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.shadow {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.b-main {
    height: 776px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #141414;
}

.b-main__text-box {
    display: flex;
    justify-content: flex-end;
}

.b-main__text {
    max-width: 638px;
    margin-right: 92px;
    margin-top: 143px;
}

.b-main__heading {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 65px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;

    span {
        color: #DC3B18;
    }

    img {
        position: absolute;
        top: 100px;
        left: -15px;
        background: none;
    }
}

.b-main__img-box {
    background: url(../img/main_back.png) center no-repeat;
    background-size: cover;
}

.b-main__text-description {
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 570px;
    margin-top: 25px;
    margin-bottom: 60px;
}

.b-main__form {
    display: flex;
}

.b-main__input {
    width: 361px;
    height: 50px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding-left: 60px;
    background: url(../img/number_back.png) left no-repeat;
}

.b-main__input::placeholder {
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.b-main__button {
    width: 268px;
    height: 50px;
    background: #DC3B18;
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.b-buttons {
    display: grid;
    grid-template-columns: 1fr 480px 1fr;
    height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #A3A3A3;
    border-top: 1px solid #A3A3A3;
    background: #141414;
}

.b-buttons__button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 31px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;

    svg {
        margin-right: 30px;
        background: none;
    }
}

.b-buttons__button:hover {
    background: #DC3B18;

    svg path {
        fill: #FFFFFF;
    }
}

.b-buttons__button_right {
    justify-content: flex-end;
    padding-right: 259px;
}

.b-buttons__button_center {
    border-left: 1px solid #A3A3A3;
    border-right: 1px solid #A3A3A3;
}

.b-principles {
    padding-top: 140px;
    padding-bottom: 140px;
    background: #141414;
}

.b-principles__card-box {
    display: flex;
    justify-content: space-between;
}

.b-principles__heading {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.b-principles__card {
    width: 420px;
}

.b-principles__card-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

.b-principles__card-text {
    font-size: 20px;
    line-height: 160%;
    color: #CCCCCC;
}

.b-services {
    background: #141414;
}

.b-services__heading {
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

.b-services__text {
    font-size: 30px;
    line-height: 160%;
    color: #CCCCCC;
    padding-left: 180px;
}

.b-services-nav {
    padding-top: 92px;
    background: #141414;
}

.b-services-nav__link {
    height: 206px;
    box-sizing: border-box;
    border-bottom: 2px solid #A3A3A3;
    display: grid;
    grid-template-columns: 240px 710px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 38px;
    line-height: 120%;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

.b-services-nav__link:first-child {
    border-top: 2px solid #A3A3A3;
}

.b-services-nav__link:hover {
    background: #CF2B06;

    svg {
        justify-self: flex-end;
        padding-right: 30px;
        background: none;

        path {
            fill: #FFFFFF;
        }
    }
}

.b-services-nav__pattern {
    height: 140px;
    background: url(../img/pattern.png);
}

.b-form {
    background: url(../img/form_back.png) center no-repeat;
    background-size: cover;

    .container {
        height: 510px;
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
        padding-bottom: 160px;
        box-sizing: border-box;
    }
}

.b-form__text-box {
    width: 690px;
}

.b-form__heading {
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #DC3B18;
    font-family: 'IBM Plex Mono', monospace;
}

.b-form__text {
    margin-top: 30px;
    font-size: 22px;
    line-height: 160%;
    color: #CCCCCC;
}

.b-form__form-box {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.b-form__input {
    background: #000000;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding-left: 30px;
}

.b-form__input::placeholder {
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.b-form__input:not(:first-child) {
    margin-top: 15px;
    margin-bottom: 25px;
}

.b-form__submit {
    height: 50px;
    background: #DC3B18;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.b-news {
    background: #141414;
    padding-top: 140px;
    padding-bottom: 150px;
}

.b-news__heading {
    margin-bottom: 90px;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

.b-news__card-box {
    display: flex;
    justify-content: space-between;
}

.b-news__card {
    width: 450px;
    text-decoration: none;
}

.b-news__card:hover .b-news__card-heading {
    color: #E95635;
}

.b-news__card-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

.b-news__card-text {
    font-size: 18px;
    line-height: 160%;
    color: #CCCCCC;
}

.b-news__date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.b-news__date {
    font-size: 18px;
    line-height: 160%;
    color: #8F8F8F;
}

.b-footer {
    background: #141414;
    border-top: 2px solid #A3A3A3;
    padding-top: 58px;
    padding-bottom: 30px;
}

.b-footer__link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-footer__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

.b-footer__link_gray {
    opacity: 0.5;
}

.b-footer__link:not(:last-child) {
    margin-right: 50px;
}

.b-footer__link:hover {
    color: #E95635;
}

.b-footer__phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #DC3B18;
    text-decoration: none;
}

.b-footer__phone:hover {
    color: #E95635;
}

.b-footer__mail {
    font-size: 20px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 60px;

    span {
        color: #DC3B18;
    }
}

.b-footer__mail:hover {
    color: #E95635;
}

.b-footer__copy-row {
    display: flex;
    justify-content: center;
}

.b-footer__copy {
    font-size: 16px;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
    opacity: 0.8;
    margin-right: 60px;
}

.b-footer__privacy {
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.8;
}