@charset "UTF-8";
html a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.container {
  padding: 0 !important;
}

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header {
    height: unset;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 38px;
}

@media (max-width: 991px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    margin: 10px auto 10px auto;
  }
}

.logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 37px;
  text-decoration: none;
}

@media (max-width: 991px) {
  .logo_link {
    padding-right: 0;
  }
}

.logo {
  padding-right: 13px;
}

.logo-text {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.logo-text span {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.025em;
  font-weight: 900;
  color: #f16d7f;
}

.header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .header-search-form {
    margin: 10px 0 10px;
  }
}

.browse {
  width: 87px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  text-decoration: none;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse i {
  padding-left: 8px;
}

.header .container input {
  width: 279px;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 14px 16px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  .header .container input {
    width: unset;
  }
}

.header .container input::-webkit-input-placeholder {
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search-button {
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  width: 38px;
  height: 38px;
}

.bascet {
  padding-left: 320px;
  padding-right: 26px;
}

@media (max-width: 1199px) {
  .bascet {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .bascet {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.my-account {
  text-decoration: none;
  background-color: #f16d7f;
  padding: 13px 12px 11px 19px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
}

.my-account i {
  padding-left: 8px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 678px) {
  .navbar {
    height: unset;
  }
}

.navbar a {
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 678px) {
  .navbar a {
    margin: 0 10px;
  }
}

.navbar a:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 678px) {
  .navbar a:not(:last-child) {
    margin-right: 0;
  }
}

.navbar a:hover {
  border-bottom: 3px #ef5b70 solid;
}

.transparent {
  height: 148px;
  background-color: #f8f3f4;
}

.transparent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.transparent__heading {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.transparent__path {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.transparent__path span {
  font-weight: 700;
  color: #f16d7f;
}

.table {
  margin-top: 90px;
}

.column-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.column-name {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.column-name:first-child {
  margin-right: 330px;
}

@media (max-width: 1199px) {
  .column-name:first-child {
    margin-right: 35px;
  }
}

hr {
  color: #eaeaea;
}

.table__product {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 25px;
}

.table__product a img {
  margin-right: 21px;
}

@media (max-width: 1199px) {
  .table__product a img {
    margin-right: 10px;
  }
}

.table__product-description {
  text-decoration: none;
  margin-right: 269px;
}

@media (max-width: 1199px) {
  .table__product-description {
    margin-right: 10px;
  }
}

.table__product-description__name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 38px;
}

.table__product-description__color {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.table__product-description__color span {
  font-weight: 300;
  color: #6f6e6e;
}

.table__product__text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  margin-right: 103px;
}

.table__product input {
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  text-align: center;
  margin-right: 96px;
}

.table__product a i {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #c0c0c0;
  margin-right: 16px;
  margin-left: 10px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
}

.buttons__button {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 36px;
  width: 235px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 79px;
  padding: 0 !important;
}

@media (max-width: 1199px) {
  .form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 233px;
}

.shipping__heading {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 22px;
}

.city {
  min-height: 20px;
  /* Минимальная высота */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 45px;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.city__text {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  width: 334px;
  /* Ширина поля */
  vertical-align: middle;
  /* Выравнивание по середине */
}

.city__submit {
  width: 9px;
  /* Ширина кнопки */
  height: 6px;
  /* Высота кнопки */
  border: none;
  /* Убираем рамку */
  background: url(img/3013.png) no-repeat 50% 50%;
  /* Параметры фона */
  margin-right: 12px;
}

.city__text::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 18px;
}

.state {
  width: 349px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.state::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 18px;
}

.form-block__form button {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.coupon .form-block__form button {
  width: 118px;
}

.b-grand {
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.sub-total {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
}

@media (max-width: 1199px) {
  .coupon {
    margin: 20px 0;
  }
}

.coupon__form-block__form {
  height: 143px;
}

.coupon__text {
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.grand-total {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #222222;
}

.grand-total span {
  color: #f16d7f;
}

.grand__button {
  width: 273px;
  padding: 15px 0;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.subscribe {
  background-image: url(img/subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 438px;
}

@media (max-width: 991px) {
  .subscribe {
    height: unset;
  }
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.avatar {
  height: 83px;
  margin-right: 28px;
  margin-top: 111px;
}

@media (max-width: 991px) {
  .avatar {
    margin-right: 0;
    margin-top: 10px;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 123px 72px 156px 28px;
  width: 386px;
}

@media (max-width: 991px) {
  .review {
    margin: 10px 0px 10px 0px;
  }
}

@media (max-width: 540px) {
  .review {
    width: unset;
  }
}

.review__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 19px;
}

@media (max-width: 991px) {
  .review__text {
    margin-bottom: 10px;
  }
}

.review__name {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 41px;
}

@media (max-width: 991px) {
  .review__name {
    margin-bottom: 10px;
  }
}

.review__name span {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
}

.review__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__button {
  width: 38px;
  border-bottom: 4px solid #d6d6d6;
}

.review__button:not(:last-child) {
  margin-right: 13px;
}

.review__button:hover {
  border-bottom: 4px solid #f16d7f;
}

@media (max-width: 991px) {
  .shape {
    display: none;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 148px 0 0 92px;
}

@media (max-width: 991px) {
  .subscribe__form {
    margin: 10px 0 0 10px;
  }
}

.subscribe__form__text {
  font-size: 24px;
  font-weight: 400;
  color: #222224;
  text-align: center;
}

.subscribe__form__text span {
  font-size: 14px;
}

.subscribe-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media (max-width: 991px) {
  .subscribe-email-form {
    margin-top: 10px;
  }
}

.subscribe-email-form input {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0 18px 28px;
}

@media (max-width: 991px) {
  .subscribe-email-form input {
    width: unset;
    margin-bottom: 10px;
  }
}

.subscribe-email-form button {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-email-form input::-webkit-input-placeholder {
  opacity: 0.67;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.links-block {
  margin-top: 109px;
  margin-bottom: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 260px;
}

@media (max-width: 991px) {
  .links-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.links-block__text__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.links-block__text {
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  width: 427px;
}

@media (max-width: 540px) {
  .links-block__text {
    width: unset;
  }
}

.links-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.links-block__links__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 12px;
}

.links-block__links a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}

.footer {
  height: 79px;
  background-color: #e6e6e6;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__text {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer__links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  text-decoration: none;
}

.footer__link:not(:last-child) {
  margin-right: 8px;
}

.footer__link:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}
/*# sourceMappingURL=style.css.map */