* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #222222;

    @media (max-width: 1110pxpx) {
        font-size: 12px;
        line-height: 18px;
    }

    @media (max-width: 667px) {
        font-size: 11px;
        line-height: 14px;
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width: 1110px) {
        max-width: 700px;
    }

    @media (max-width: 667px) {
        max-width: 400px;
    }

    @media (max-width: 375px) {
        max-width: 310px;
    }
}

.hamburger-menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 99px;
    align-items: center;

    @media (max-width: 667px) {
        height: 60px;
    }

    .logo-box {
        display: flex;
        flex-direction: column;

        @media (max-width: 375px) {
            display: none;
        }

        .logo {
            @media (max-width: 1110px) {
                width: 100px;
            }

            @media (max-width: 667px) {
                max-width: 70px;
            }


        }

        .logo-box__text {
            font-weight: 500;
            text-align: right;
            margin-top: -7px;

            @media (max-width: 1110px) {
                font-size: 8px;

            }

            @media (max-width: 667px) {
                font-size: 6px;
            }
        }
    }

    form {
        display: flex;
        margin-right: 182px;

        @media (max-width: 1110px) {
            margin-right: 0;

        }

        input {
            width: 223px;
            height: 35px;
            border: none;
            padding: 9px 11px;
            box-sizing: border-box;
            background: #F5F5F5;
            border-radius: 5px 0 0 5px;

            @media (max-width: 1110px) {
                width: 123px;

            }

            @media (max-width: 667px) {
                width: 73px;
            }
        }

        input::-webkit-input-placeholder {
            line-height: 16px;
            font-weight: 500;
            color: #909090;
        }

        .search-button {
            border: none;
            background: #F5F5F5;
            border-radius: 0 5px 5px 0;
            width: 50px;
            height: 35px;
            box-sizing: border-box;

            @media (max-width: 667px) {
                width: 25px;
            }

            .search-img {
                height: 20px;
                width: 20px;

                @media (max-width: 667px) {
                    width: 10px;
                }
            }
        }
    }

    .header__contacts-box {
        display: flex;
        flex-direction: column;

        .header__contacts-box__name {
            font-size: 12px;
            line-height: 14px;
            color: rgba(34, 34, 34, 0.503114);
            padding-left: 25px;

            @media (max-width: 667px) {
                font-size: 10px;
                line-height: 12px;
                padding-left: 0px;
            }
        }

        .header__contacts-box__mail {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            color: #222222;

            @media (max-width: 667px) {
                font-size: 10px;
                line-height: 14px;
            }

            img {
                padding-right: 10px;

                @media (max-width: 667px) {
                    display: none;
                }
            }
        }

        .header__contacts-box__tel {
            font-family: PT Sans Caption;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            text-decoration: none;
            color: #222222;

            @media (max-width: 667px) {
                font-size: 10px;
                line-height: 14px;
            }

            img {
                padding-right: 10px;

                @media (max-width: 667px) {
                    display: none;
                }
            }
        }
    }

    .header__bascet-box {
        margin-right: 10px;

        img {
            position: relative;

            @media (max-width: 667px) {
                width: 13px;
            }
        }

        span {
            background-color: #F7B500;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            display: block;
            position: absolute;
            margin: -45px 0px 0px 19px;

            @media (max-width: 667px) {
                margin: -22px 0px 0px 8px;
                font-size: 8px;
                line-height: 9px;
                height: 10px;
                width: 10px;
            }
        }
    }
}

.navbar {
    position: relative;
    height: 451px;
    margin-bottom: 70px;
}

.navbar-category {
    height: 61px;
}

nav {
    height: 61px;
    width: 100%;
    background-color: #89C200;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;

    a {
        padding: 0 3% 0 3%;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 5px;

        @media (max-width: 1110px) {
            font-size: 13px;

        }

        @media (max-width: 667px) {
            display: none;
        }
    }

    a:hover {
        background: #73A300;
    }
}

.banner {
    position: absolute;
    z-index: 0;
    background-image: url(img/home-banner.png);
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 51px;
    width: 100%;

    @media (max-width: 667px) {
        margin-top: 10;
    }

    .banner__text {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        width: 365px;
        padding: 128px 0 0 48px;

        @media (max-width: 667px) {
            font-size: 27px;
            line-height: 40px;
        }

        @media (max-width: 375px) {
            font-size: 16px;
            line-height: 20px;
            width: 200px;
            padding: 128px 0 0 0px;
            margin: 0 auto;
            text-align: center;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 177px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        background: #FFD54C;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        margin: 20px 0 0 48px;

        @media (max-width: 375px) {
            margin: 20px auto 0 auto;
        }
    }
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0 0 9px;
    display: block;
}

.shape {
    display: flex;
    margin: 0 auto 0 auto;
}

.brands-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 1110px) {
            justify-content: space-around;

        }

        .brand {
            margin-top: 40px;

            .brand__top {
                background: #F5F5F5;
                border-radius: 5px;
                height: 90px;
                width: 168px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .brand__botom {
                text-align: center;
                margin-top: 14px;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .brands-box__button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 101px;
        height: 40px;
        background: #F7F7F7;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        margin-top: 28px;
    }
}

.text-block {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 753px;

    @media (max-width: 1110px) {
        background-size: 50%;

    }

    @media (max-width: 667px) {
        background-image: none;
    }

    .container {
        height: 100%;

        @media (max-width: 667px) {
            text-align: center;
        }

        h2 {
            display: block;
            width: 659px;
            text-align: left;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            margin: 0;
            padding-top: 53px;

            @media (max-width: 1110px) {
                font-size: 18px;
                line-height: 21px;
            }

            @media (max-width: 667px) {
                width: 100%;
                text-align: center;
            }
        }

        p {
            font-size: 18px;
            line-height: 26px;
            width: 621px;
            padding-top: 25px;

            @media (max-width: 1110px) {
                font-size: 12px;
                line-height: 14px;
                width: 310px;
            }

            @media (max-width: 667px) {
                width: 100%;
                text-align: center;
            }
        }

        .text-block__info {
            display: flex;
            justify-content: space-between;
            width: 622px;
            text-align: center;
            margin-top: 22px;

            @media (max-width: 1110px) {
                width: 311px;
            }

            @media (max-width: 667px) {
                width: 100%;
                text-align: center;
            }

            .text-block__info__block {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                line-height: 19px;
                width: 118px;

                @media (max-width: 1110px) {
                    font-size: 12px;
                    line-height: 14px;
                }

                span {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 56px;
                    color: #89C200;

                    @media (max-width: 1110px) {
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
            }
        }

        .text-block__links {
            margin-top: 30px;
            display: flex;

            @media (max-width: 667px) {
                justify-content: center;
            }

            .link-info {
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                background: #F7F7F7;
                border-radius: 5px;
                color: #000000;
                margin: 0 21px 0 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 101px;
                height: 40px;

                @media (max-width: 1110px) {
                    margin: 0 10px 0 0;
                }
            }

            .link-partner {
                font-family: Roboto;
                font-weight: 500;
                line-height: 16px;
                color: #000000;
                text-decoration: none;
                background: #FFD54C;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 220px;
                height: 40px;

                @media (max-width: 1110px) {
                    width: 180px;
                }
            }
        }
    }
}

.product-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 139px;

    @media (max-width: 375px) {
        justify-content: center;
    }

    .product {
        width: 262px;
        height: 338px;
        border: 2px solid #F0F0F0;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        margin-top: 40px;

        @media (max-width: 667px) {
            width: 162px;
            height: 238px;

            img {
                width: 150px;

            }
        }

        .product__text {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #222222;
            text-align: center;
            width: 222px;
            padding-top: 20px;

            @media (max-width: 667px) {
                font-size: 14px;
                line-height: 16px;
                width: 150px;
            }
        }
    }
}

.advantages-box {
    height: 514px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 1110px) {
        height: 100%;

    }

    @media (max-width: 667px) {
        justify-content: center;
    }

    .advantages {
        display: flex;
        justify-content: space-between;
        width: 357px;
        height: 230px;
        box-sizing: border-box;
        margin-top: 40px;

        @media (max-width: 1110px) {
            width: 300px;
        }

        @media (max-width: 667px) {
            height: 130px;
        }

        .advantages__logo {
            padding-right: 20px;
        }

        .advantages__text {
            display: flex;
            flex-direction: column;

            .advantages__text__top {
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
            }

            .advantages__text__botom {}
        }
    }
}

.brands-box-margin {
    margin-bottom: 83px;
}

.leter-box {
    display: flex;
    flex-direction: column;
    min-height: 239px;
    align-items: center;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 1110px) {
            justify-content: space-around;

        }

        .letter {
            width: 168px;
            height: 239px;
            margin-top: 40px;
        }
    }

    .letter-box__button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 101px;
        height: 40px;
        background: #F7F7F7;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        margin-top: 28px;
    }
}

.footer {
    width: 100%;
    height: 500px;
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 29px;
    box-sizing: border-box;
    margin-top: 73px;
    margin-bottom: 84px;

    @media (max-width: 1110px) {
        font-size: 10px;

    }

    @media (max-width: 667px) {
        flex-direction: column;
        height: 100%;
        padding: 15px 29px 29px 29px;
    }

    .footer__block {
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 18px;

        @media (max-width: 667px) {
            margin-top: 15px;
        }

        img {
            padding-bottom: 50px;
        }

        .footer__block__address {
            display: flex;
            padding-left: 24px;

            .footer__block__address__column2 {
                width: 190px;
                padding-left: 11px;

                a {
                    text-decoration: none;
                    color: #539DDF;
                }

                span {
                    font-weight: bold;
                }
            }
        }

        .footer__block__email {
            padding-top: 29px;
            padding-bottom: 24px;
            padding-left: 29px;
        }

        .footer__block__tel {
            padding-left: 0;
        }

        .footer__block__heading {
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 15px;

            @media (max-width: 1110px) {
                font-size: 11px;

            }
        }

        .footer__block__link {
            text-decoration: none;
            line-height: 27px;
            color: #222222;

            @media (max-width: 1110px) {
                line-height: 20px;

            }
        }
    }
}

.footer__block__padding {
    padding-right: 6%;

    @media (max-width: 1110px) {
        padding-right: 0;

    }
}

//hamburger
@media (max-width: 667px) {
    .hamburger-menu {
        display: block;
        height: 0;
    }
}

#menu__toggle {
    opacity: 0;
}


.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
    margin: 0 0 0 5%;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    z-index: 11;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #89C200;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 10;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #73A300;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

.links {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .links__link {
        text-decoration: none;
        color: #000000;
    }

    img {
        padding: 0 10px 0 10px;
    }
}

.category-product-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 1110px) {
        flex-direction: column;
    }

    .category-product-box__info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        @media (max-width: 1110px) {
            align-items: center;
        }

        .category-product-box__info__price {
            border: 2px solid #F0F0F0;
            box-sizing: border-box;
            border-radius: 5px;
            width: 262px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 29px 5px 13px;
            text-decoration: none;
            margin-bottom: 15px;

            .category-product-box__info__price__text {
                width: 175px;
                font-family: Roboto;
                font-size: 10px;
                line-height: 12px;
                color: #666666;

                span {
                    font-family: Raleway;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                    color: #000000;
                }
            }
        }

        .category-product-box__info__price:hover {
            border: 2px solid #F7B500;
        }

        .category-product-box__info__contacts {
            padding: 14px 17px;
            height: 161px;
            width: 262px;
            border: 2px solid #F0F0F0;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.category-product-box__info__contacts__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.category-product-box__info__contacts__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #666666;

    img {
        padding-right: 12px;
    }
}

.category-product-box__product-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    h1 {
        text-align: left;
        margin: 0 0 9px 0;
    }

    p {
        margin: 20px 0 30px;
    }

    .Rectangle {
        width: 100%;
        height: 40px;
        background: #F5F5F5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 667px) {
            justify-content: center;
        }

        a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            text-decoration: none;
            padding-right: 37px;

            @media (max-width: 667px) {
                padding: 0;
            }
        }
    }
}

.category-product-box__product-box__card-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 667px) {
        justify-content: center;
    }
}

.category-product-box__product-box__card {
    width: 267px;
    height: 452px;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;

    .product-block {
        display: flex;
        flex-direction: column;
    }

    .product-photo {
        position: relative;
        width: 174px;
        margin: 0 auto;
    }

    h3 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    p {
        font-family: Roboto;
        line-height: 18px;
        color: #666666;
        margin: 0;
    }
}

.product-status {
    position: absolute;
    padding-top: 16px;
}

.heading-price {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.category-product-box__product-box__card__price {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
    color: #909090;
    display: flex;
    align-items: flex-end;
    width: 100%;

    .shape-product {
        border-bottom: 1px solid #EAEAEA;
        flex-grow: 1;
        margin-right: 10px;
    }

    .shape-product1 {
        flex-grow: 1;
    }

    .shape-product2 {
        flex-grow: 1;
    }

    .price-number {
        font-family: Roboto;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    .rur {
        font-family: Roboto;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }
}

.category-product-box__product-box__card__buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 16px;

    input {
        width: 80px;
        border: none;
        background: #F5F5F5;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    button {
        background: #FFD54C;
        border-radius: 5px;
        border: none;
        width: 112px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
    }
}

.vol-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        border: none;
        width: 18px;
        height: 18px;
        background: #D8D8D8;
        border-radius: 3px;
    }
}

.offer {
    width: 829px;
    height: 150px;
    background: #F0F0F0;
    border-radius: 5px;
    margin-top: 59px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;

    @media (max-width: 1110px) {
        width: 100%;
    }

    img {
        height: 160px;
        margin: 0 37px 0 26px;

        @media (max-width: 667px) {
            margin: 0 5px 0 5px;
        }

    }

    .offer__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 107px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 21px;

        @media (max-width: 667px) {
            font-size: 12px;
            line-height: 14px;
        }

        @media (max-width: 375px) {
            margin-bottom: 12px;
            height: 85%;
        }

        span {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;

            @media (max-width: 667px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #000000;
            padding: 12px 31px;
            background: #FFD54C;
            border-radius: 5px;
            width: 220px;
            text-decoration: none;
            box-sizing: border-box;

            @media (max-width: 667px) {
                font-size: 10px;
                line-height: 12px;
                padding: 5px 5px;
                width: 122px;
            }
        }
    }
}

.recommended_products {
    background: #F5F5F5;

    .container {

        height: 520px;
        padding-bottom: 35px;

        @media (max-width: 1110px) {
            height: 100%;
        }

        h2 {
            padding: 45px 0 0 0;
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #222222;

            @media (max-width: 667px) {
                text-align: center;
                width: 100%;
            }
        }
    }
}

.recommended_products-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 667px) {
        justify-content: center;
    }
}

.recommended_product {
    width: 262px;
    height: 343px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    margin-top: 39px;

    img {
        width: 173px;
    }

    h3 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #539DDF;
    }

    p {
        font-size: 14px;
        line-height: 18px;
        color: #666666;
    }
}

.recommended_product__button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #000000;

        span {
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }

    a {
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        padding: 12px 32px;
        background: #FFD54C;
        border-radius: 5px;
        text-decoration: none;
    }
}